
<div class="dispecerWrapper">

  <form class="wrap" >

    <h5>Meno </h5>
    <p class="barDispecer"> {{this.dispecer.name}}</p>

    <h5>Číslo </h5>
    <p class="barDispecer">{{this.dispecer.phone}}</p>

    <h5>E-mail</h5>
    <p class="barDispecer">{{this.dispecer.email}}</p>

  <form *ngIf="this.dataService.getDispecer().createdBy == 'master' " class="button_cont" align="center">

    <a><img alt="Odstrániť" (click)="deleteDispecer()" class="buttonR" ></a>

  </form>
<!--  <p>{{this.dispecer.status}}</p>-->
  </form>
</div>


