.sidebar {
  height: 100%;
  background: #212529;
  width: 15%;
  //font-size: 0.65em;
}

//tu sa styluje aktivny header
.active{
  background: #efefef;
  border-radius: 7px;
}

*, :before, :after{ box-sizing: border-box; }  ;

// COLORS
$brutalWhite: #ffffff;
$gray: #35302D;
$gray-shine: #343a40;
$white-off: #DFDBD9;


.imgAndName{
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid gray;
}
.logo{
  width: auto;
  margin: {
    left: 10px;
    top: 5px;
    bottom: 5px;
    right: 35px;
  };
  height: 35px;
}

.smallLogo{
  width: auto;
  margin: {
    left: 20px;
    top: 20px;
    bottom: 20px;
    right: 20px;
  };
  height: 35px;
}

.nav{
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.closedNav{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.smallSize{
  font-size: small;
  margin: 0;
}

.normalSize{
  font-size: medium;
}


// MAIN NAV
.main-nav{
  position: relative;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  font-family: Candara;
  font-weight: bold;
  font-size: 20px;
  ul{
    //border-bottom: solid 1px $gray-shine;
    margin-top: 15%;
    margin-bottom: 10px;
  }

  li{
    margin-top: 5px;
  }

  p{
    margin: 0;
    margin-left: 13px;
    color: #22282f;
  }

  a{
    padding: 0.7em 0;
    color: black;
    font-family: Candara;

    &:hover{
      color: #ffffff;
    }
  }
}



.expandIcon{
  position: absolute;
  right: 0;
  cursor: pointer;
  z-index: 100;

}

.comapnyWrapper{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
}
h4{
  margin: 0;
}

// HOVER SLIDE EFFECT
.list-hover-slide{

  li{
    position: relative;
    overflow: hidden;
  }

  a{
    //display: block;
    position: relative;
    z-index: 1;
    transition: .35s ease color;

    &:before{
      content: '';
      display: block;
      z-index: -1;
      position: absolute;
      left: -111%; top: 0;
      width: 100%; height: 100%;
      //border-right: solid 5px #343a40;
      background: #efefef;
      transition: .35s;
    }

    &.is-current,
    &:hover{

      &:before{
        left: 0;
      }
    }
  }
}



// REUSABLE STYLES
.unstyled{ list-style: none; padding: 0; margin: 0;
  a{ text-decoration: none; }
}
.list-inline{ overflow: hidden;
  li{ float: left; }
}
