@import "./src/sccs/shared/mixins";

.yellowColor{
  color: orange;
}

.redColor{
  color: red;
}

.closeButton{
  @include closeButton();
}

.headerWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

