<div class="wrapper">
  <div class="headerWrapper">
    <h2>{{'TRANSPORT.casoveKonflikty' | translate}}</h2>
    <button (click)="close()" class="closeButton">X</button>
  </div>
  <div *ngIf="!offer">
    <ul>
      <li [class]="getColorForTime(i)" *ngFor="let address of addresses; let i = index" >
        {{address.nameOfTown}}
        <span>{{timeToLocal(address.datumPrijazdu, address.casPrijazdu)}} - {{timeToLocal(address.datumLastPrijazdy, address.casLastPrijazdu)}}</span>
      </li>
    </ul>
  </div>

  <div *ngIf="offer">
    {{'TRANSPORT.itinerarVozidla' | translate}}
    <ul>
      <li [class]="getColorForTime(i)" *ngFor="let address of addresses; let i = index" >
        {{address.nameOfTown}}
        <span>ETA: {{estimatedTimeToLocal(address.estimatedTimeArrival)}}}</span>
      </li>
    </ul>
    {{'OFFER.ponuka' | translate}}
    <ul>
      <li [class]="getColorForTime(i)" *ngFor="let address of offer; let i = index" >
        {{address.nameOfTown}}
        <span>{{timeToLocal(address.datumPrijazdu, address.casPrijazdu)}} - {{timeToLocal(address.datumLastPrijazdy, address.casLastPrijazdu)}}</span>
      </li>
    </ul>
  </div>

</div>
