@import "./src/sccs/shared/mixins";

.closeButton{
  @include closeButton();
}

.headerWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper{
  width: 100%;
}

.tabulka{
  width: 100%;
}

.tbl-header{
  padding-right: 5px;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 10px 10px 10px 0;
}

.buttonsWrapper{
  display: flex;
  gap: 10px;
  justify-content: center;
}

.smallButton{
  @include smallButton(gray);
}

.green{
  background: limegreen;
}
