
<div class="wrapper">
  <div class="buttonChoose">
    <!--    <button class="buttonTab" [class]="getClass('all')" (click)="allActive()"> Trhovisko</button>-->
    <button class="buttonTab" [class]="getClass('mine')" (click)="mine()">{{'OFFER.vasePonuky' | translate}}</button>
    <button class="buttonTab" [class]="getClass('assigned')" (click)="assigned()">{{'OFTEN.cakajuce' | translate}}</button>
  </div>

  <section class="filter">
    <mat-form-field  appearance="standard" class="gridItem">
      <mat-label>{{'FILTER.filter' | translate}}</mat-label>
      <input #inputFilter (input)="filterTowns($event)" matInput placeholder="{{'FILTER.mestoSpolocnost' | translate}}...">
      <button *ngIf="inputFilter.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-hint>{{'FILTER.zadajMestoSpolocnost' | translate}}</mat-hint>
    </mat-form-field>
  </section>


  <mat-icon class="infoIcon"  matTooltip="{{'HINT.prijateSuVPrepravach' | translate}}">
    info
  </mat-icon>
  <h1 class="actFinHead">{{'OFFER.aktivne' | translate}}</h1>


  <div *ngFor="let route of this.routesToShow; let i = index" [class]="getAnimation(route)" class="routeWrapper">
    <div class="oneRoute" (click)="routeDetail(route)">
    <div *ngIf="!route.finished"  class="vykladka" >
      <!--      <h2>Vykládky</h2>-->
      <ng-container *ngFor="let town of route.addresses; index as i">
        <app-one-address-info *ngIf="town" [allAddressesIds]="route.addresses" [addressaId]="town" [addressIndex]="i"></app-one-address-info>
      </ng-container>
    </div>
    <div class="status">


      <app-get-name-of-comapny-by-master-id *ngIf="route.createdBy !== this.getDispecerId()" [masterId]="this.route.createdBy"></app-get-name-of-comapny-by-master-id>


      <p *ngIf="this.route.price">{{this.route.price}}€</p>
      <p *ngIf="!this.route.price">{{'OFFER.ponukniteCenu' | translate}}</p>

      <div *ngIf="route.createdBy == this.getDispecerId()">
        <!--              <button (click)="routeDetail(route)" routerLink="/view/newRoute">Upravit</button>-->
        <button class="buttonDelete" (click)="vymazatPonuku(route)">{{'OFTEN.delete' | translate}}</button>
      </div>


    </div>
    </div>
    <div *ngIf="clickedOnThis && clickedOnThis.id === route.id" class="detailAbout">
      <app-main-detail-about></app-main-detail-about>
      <div class="buttons">
<!--        <button class="buttonTransport">{{'NEWADDRESSFORM.logPrepravy' | translate}}</button>-->
        <button (click)="prejdiDoDetailuPonuky(route)">Prejdi</button>
      </div>
    </div>
  </div>

</div>
