<h1>{{'NEWADDRESSFORM.logPrepravy' | translate}}</h1>
<!-- button class="button2" (click)="downloadAsPDF()">⇊download⇊</button -->
<button class="buttonDownload" (click)="downloadAsPDF()">{{'OFFER.stiahnutie' | translate}}</button>
<p>{{'OFFER.pdfNepodporuje' | translate}}</p>
<table id="routeLog" #routeLog1 class *ngIf="this.routeLog != undefined">
  <tr>
<!--    <th>Dessert (100g)</th>-->
    <th>{{'COMPANIES.town' | translate}}</th>
    <th>{{'OFTEN.typ' | translate}}</th>
    <th>{{'CAR.status' | translate}}</th>
    <th>{{'OFTEN.cas' | translate}}</th>
    <th>{{'OFFER.zSirka' | translate}}</th>
    <th>{{'OFFER.yDlzka' | translate}}</th>

  </tr>
  <tbody *ngFor="let jedenAllLog of this.routeLog; let i = index;">

    <tr *ngFor="let jedenLog of jedenAllLog.place; let j = index;">
        <td>{{deleteSpecialChar(jedenAllLog.place[j])}}</td>
        <td *ngIf="jedenAllLog.type[j] != undefined">{{deleteSpecialChar(jedenAllLog.type[j])}}</td>
        <td>{{deleteSpecialChar(this.routeStatusService.getStatus(jedenAllLog.state[j]))}}</td>
        <td>{{this.toDate(jedenAllLog.timestamp[j])}}</td>
        <td>{{jedenAllLog.lattitude[j]}}</td>
        <td>{{jedenAllLog.longtitude[j]}}</td>
    </tr>
  </tbody>

  <!--  <p>Ukoncené {{this.toDate(this.routeLog.timestamp[this.routeLog.timestamp.length - 1])}}</p>-->
</table>
