<h1>Log</h1>
<button class="button2" (click)="downloadAsPDF()">⇊download⇊</button>

<div id="routeLog" #routeLog1 class *ngIf="this.routeLog != undefined">
  <div class="oneLog" *ngFor="let route of this.routeLog.place; let i = index;">
    <p>{{this.routeLog.place[i]}}</p>
    <p>{{this.routeStatusService.getStatus(this.routeLog.state[i])}}</p>
    <p>{{this.toDate(this.routeLog.timestamp[i])}}</p>
    <ol>
      <li>
        lat: {{this.routeLog.lattitude[i]}}
      </li>
      <li>
        lon: {{this.routeLog.longtitude[i]}}
      </li>
    </ol>
  </div>
<
</div>
