<h1>Log</h1>
<!-- button class="button2" (click)="downloadAsPDF()">⇊download⇊</button -->
<button class="buttonDownload" (click)="downloadAsPDF()">Download</button>
<p>Pdf generátor nepodporuje mäkčene</p>
<table id="routeLog" #routeLog1 class *ngIf="this.routeLog != undefined">
  <tr>
<!--    <th>Dessert (100g)</th>-->
    <th>Mesto</th>
    <th>Typ</th>
    <th>Status</th>
    <th>Cas</th>
    <th>Z. sirka</th>
    <th>Z. dlzka</th>

  </tr>
  <tbody *ngFor="let jedenAllLog of this.routeLog; let i = index;">

    <tr *ngFor="let jedenLog of jedenAllLog.place; let j = index;">
        <td>{{deleteSpecialChar(jedenAllLog.place[j])}}</td>
        <td *ngIf="jedenAllLog.type[j] != undefined">{{deleteSpecialChar(jedenAllLog.type[j])}}</td>
        <td>{{deleteSpecialChar(this.routeStatusService.getStatus(jedenAllLog.state[j]))}}</td>
        <td>{{this.toDate(jedenAllLog.timestamp[j])}}</td>
        <td>{{jedenAllLog.lattitude[j]}}</td>
        <td>{{jedenAllLog.longtitude[j]}}</td>
    </tr>
  </tbody>

  <!--  <p>Ukoncené {{this.toDate(this.routeLog.timestamp[this.routeLog.timestamp.length - 1])}}</p>-->
</table>
