@import "../../../../../sccs/shared/mixins";

.buttonG {
  @include buttonVytvor();
}
.buttonG:hover{
  background-color: #4CAF50;
}

.allWrap{
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
