@import "./src/sccs/shared/mixins";

td{
  padding-left: 8px;
}

.infoNoNumber{
  margin-left: 5px;
}

.inputWrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.addButton{
  @include tableAddButton();
}
