<mat-accordion>
  <mat-expansion-panel [disabled]="this.fewSecDisable" #mep="matExpansionPanel" (opened)="catchOpen()">

<!--<div class="filterWrapper">-->
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-slide-toggle [disabled]="fewSecDisable" [(ngModel)]="checked" (change)="filterOffers(true)">{{'MAP.zobrazitPonuky' | translate}}</mat-slide-toggle>
    </mat-panel-title>
    <mat-panel-description>

    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="detalWrapper" *ngIf="checked">
    <div class="chooseCar">
      <app-choose-car-to-map (carEmitter)="whichCars($event)"></app-choose-car-to-map>
      <mat-form-field>
        <mat-label>{{'FILTER.maxPrekrocenieVahy' | translate}}</mat-label>
        <input [disabled]="!checked" (change)="filterOffers(true)" matInput [(ngModel)]="weight" type="number" placeholder="{{'FILTER.maxPrekrocenieVahy' | translate}}..." class="example-right-align">
        <span *ngIf="checked" matSuffix> %</span>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'FILTER.maxPrekrocenieVelkosti' | translate}}</mat-label>
        <input [disabled]="!checked" (change)="filterOffers(true)" matInput [(ngModel)]="size" type="number" placeholder="{{'FILTER.maxPrekrocenieVelkosti' | translate}}..." class="example-right-align">
        <span *ngIf="checked" matSuffix> %</span>
      </mat-form-field>
    </div>
    <section class="distanceWrapper">
      <label class="distanceType">{{'FILTER.typVzialenosti' | translate}}</label>
      <mat-radio-group class="radioButtons" (change)="filterOffers(true)" [disabled]="!checked" [(ngModel)]="typeDistance">
        <mat-radio-button  class="radioButon" value="maxAll">
          {{'FILTER.maximalnaVzialenostBodov' | translate}}
        </mat-radio-button>
        <mat-radio-button class="radioButon" value="maxFirst">
          {{'FILTER.max1Bodu' | translate}}
        </mat-radio-button>
      </mat-radio-group>
      <mat-form-field>
        <mat-label> {{'FILTER.maxVzdialenost' | translate}}</mat-label>
        <input [disabled]="!checked" (change)="filterOffers(true)" matInput [(ngModel)]="maxDistance" type="number" placeholder="{{'FILTER.maxVzdialenost' | translate}}" class="example-right-align">
        <span *ngIf="checked" matSuffix> km</span>
      </mat-form-field>
    </section>




<div class="greenYelRedWrapper">
  <div class="greenMat">
    <mat-checkbox class="matCheboxGreen" [disabled]="!checked" [(ngModel)]="vyhovuje"  (change)="updateMatLabelForm()">{{'FILTER.vyhovujuce' | translate}}</mat-checkbox>
  </div>

  <div class="yellowMat">
    <mat-checkbox [disabled]="!checked" [(ngModel)]="povPre" (change)="updateMatLabelForm()">{{'FILTER.povolenePrekrocenie' | translate}}</mat-checkbox>
  </div>
  <div class="redMat">
    <mat-checkbox  [disabled]="!checked" [(ngModel)]="prekrocenie"  (change)="updateMatLabelForm()">{{'FILTER.ostatne' | translate}}</mat-checkbox>
  </div>
</div>



    <button class="okButton" [disabled]="!checked">{{'OFTEN.potvrdit' | translate}}</button>

  </div>

<!--</div>-->
  </mat-expansion-panel>

</mat-accordion>



