@import "./src/sccs/shared/mixins";


.buttonG {
  @include tableAddButton();
}

.gridItem{
  margin: 5px;
}

.closeButton{
  @include closeButton();
}

.headerWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
