<div >
  <h1 *ngIf="!this.data" class="header">Pridať spolocnost</h1>
  <h1 *ngIf="this.data" class="header">Upraviť spolocnost</h1>
  <form class="gridContainer" [formGroup]="companyForm">
    <mat-horizontal-stepper linear>
    <mat-step>
      <ng-template matStepLabel>Udaje o spolocnosti</ng-template>
    <mat-form-field  appearance="standard" class="gridItem">
      <mat-label>Nazov spolocnosti</mat-label>
      <input formControlName="name" type="text"  matInput placeholder="Nazov...">
      <mat-hint>Nazov spolocnosti</mat-hint>
    </mat-form-field>

    <mat-form-field  appearance="standard" class="gridItem">
      <mat-label>Ulica</mat-label>
      <input formControlName="street" type="text"  matInput placeholder="Ulica...">
      <mat-hint>Ulica</mat-hint>
    </mat-form-field>

    <mat-form-field  appearance="standard" class="gridItem">
      <mat-label>Mesto</mat-label>
      <input formControlName="town" type="text" matInput placeholder="Mesto...">
      <mat-hint>Mesto</mat-hint>
    </mat-form-field>

    <mat-form-field  appearance="standard" class="gridItem">
      <mat-label>Stat</mat-label>
      <input formControlName="country" type="text" matInput placeholder="Stat">
      <mat-hint>Stat</mat-hint>
    </mat-form-field>

    <mat-form-field  appearance="standard" class="gridItem">
      <mat-label>Ico</mat-label>
      <input formControlName="ico" type="number" matInput placeholder="Ico spolocnosti...">
      <mat-hint>Ico</mat-hint>
    </mat-form-field>

    <mat-form-field  appearance="standard" class="gridItem">
      <mat-label>Dic/ic</mat-label>
      <input formControlName="dicIc" type="number" matInput placeholder="Dic/ic...">
      <mat-hint>Dic...</mat-hint>
    </mat-form-field>


    <mat-slide-toggle (change)="updatePoistenieForm()"
                      formControlName="poistkaToggle"
                      class="gridItem gridItemStart">
      Poistka
    </mat-slide-toggle>

    <mat-form-field *ngIf="this.companyForm.get('poistkaToggle').value"  appearance="standard" class="gridItem">
      <mat-label>Vyska poistky</mat-label>
      <input formControlName="poistenie" type="number" step="10" matInput placeholder="Cena...">
      <span matSuffix> € </span>
      <mat-hint>V eurach</mat-hint>
    </mat-form-field>

      <mat-form-field appearance="standard" class="gridItem">
        <mat-label>Licencia platna do</mat-label>
        <input formControlName="licence" type="date" step="1" matInput placeholder="Datum...">
      </mat-form-field>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Master konto</ng-template>
      <form class="wrap" [formGroup]="dispecerForm">

        <div class="inputWrapper">
          <mat-form-field appearance="standard" class="gridItem">
            <mat-label>Meno</mat-label>
            <input matInput type="text" formControlName="firstName" placeholder="Zadajte meno...">
            <mat-hint>Meno</mat-hint>
          </mat-form-field>


          <mat-form-field appearance="standard" class="gridItem">
            <mat-label>Priezvisko</mat-label>
            <input matInput type="text" formControlName="lastName" placeholder="Zadajte priezvisko...">
            <mat-hint>Priezvisko</mat-hint>
          </mat-form-field>


          <mat-form-field appearance="standard" class="gridItem">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email" placeholder="Zadajte email...">
            <mat-error *ngIf="dispecerForm.invalid">{{getErrorMessage()}}</mat-error>
            <mat-hint>Email</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="standard" class="gridItem">
            <mat-label>Tel cislo</mat-label>
            <input matInput type="text" formControlName="phoneNumber" placeholder="Zadajte tel...">
            <mat-hint>cislo</mat-hint>
          </mat-form-field>

        </div>

      </form>
    </mat-step>
    </mat-horizontal-stepper>

  </form>
  <button *ngIf="!this.data" (click)="saveCompany()" type="submit" class="example_c" [disabled]="checkFormsValid()">Pridať</button>
  <button *ngIf="this.data" (click)="updateCompany()" type="submit" class="example_c" [disabled]="checkFormsValid()">Upraviť</button>

</div>
