<div>
  <h1 *ngIf="!this.data" class="header">{{'COMPANIES.addCompany' | translate}}</h1>
  <h1 *ngIf="this.data" class="header">{{'COMPANIES.updateCompany' | translate}}</h1>
  <form class="gridContainer" [formGroup]="companyForm">
    <mat-horizontal-stepper linear>
    <mat-step>
      <ng-template matStepLabel>{{'COMPANIES.aboutCompany' | translate}}</ng-template>
    <mat-form-field  appearance="standard" class="gridItem">
      <mat-label>{{'COMPANIES.companyName' | translate}}</mat-label>
      <input formControlName="name" type="text"  matInput placeholder="{{'COMPANIES.companyName' | translate}}...">
      <mat-hint>{{'COMPANIES.companyName' | translate}}</mat-hint>
    </mat-form-field>

    <mat-form-field  appearance="standard" class="gridItem">
      <mat-label>{{'COMPANIES.street' | translate}}</mat-label>
      <input formControlName="street" type="text"  matInput placeholder="{{'COMPANIES.street' | translate}}...">
      <mat-hint>{{'COMPANIES.street' | translate}}</mat-hint>
    </mat-form-field>

    <mat-form-field  appearance="standard" class="gridItem">
      <mat-label>{{'COMPANIES.town' | translate}}</mat-label>
      <input formControlName="town" type="text" matInput placeholder="{{'COMPANIES.town' | translate}}...">
      <mat-hint>{{'COMPANIES.town' | translate}}</mat-hint>
    </mat-form-field>

    <mat-form-field  appearance="standard" class="gridItem">
      <mat-label>{{'COMPANIES.state' | translate}}</mat-label>
      <input formControlName="country" type="text" matInput placeholder="{{'COMPANIES.state' | translate}}">
      <mat-hint>{{'COMPANIES.state' | translate}}</mat-hint>
    </mat-form-field>

    <mat-form-field  appearance="standard" class="gridItem">
      <mat-label>{{'COMPANIES.ico' | translate}}</mat-label>
      <input type="text" formControlName="ico" matInput placeholder="{{'COMPANIES.ico' | translate}}...">
      <mat-hint>{{'COMPANIES.ico' | translate}}</mat-hint>
    </mat-form-field>

    <mat-form-field  appearance="standard" class="gridItem">
      <mat-label>{{'COMPANIES.dico' | translate}}</mat-label>
      <input type="text" formControlName="dicIc" matInput placeholder="{{'COMPANIES.dico' | translate}}...">
      <mat-hint>{{'COMPANIES.dico' | translate}}...</mat-hint>
    </mat-form-field>


    <mat-slide-toggle (change)="updatePoistenieForm()"
                      formControlName="poistkaToggle"
                      class="gridItem gridItemStart">
      {{'COMPANIES.poistenie' | translate}}
    </mat-slide-toggle>

    <mat-form-field *ngIf="this.companyForm.get('poistkaToggle').value"  appearance="standard" class="gridItem">
      <mat-label> {{'COMPANIES.vyskaPoistky' | translate}}</mat-label>
      <input formControlName="poistenie" type="number" step="10" matInput placeholder="{{'COMPANIES.vyskaPoistky' | translate}}...">
      <span matSuffix> € </span>
      <mat-hint>{{'HINT.vEurach' | translate}}</mat-hint>
    </mat-form-field>

      <mat-form-field appearance="standard" class="gridItem">
        <mat-label>{{'COMPANIES.licendiaPlatnaDo' | translate}}</mat-label>
        <input formControlName="licence" type="date" step="1" matInput placeholder="{{'HINT.datum' | translate}}...">
      </mat-form-field>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>{{'COMPANIES.masterAccount' | translate}}</ng-template>
      <form class="wrap" [formGroup]="dispecerForm">

        <div class="inputWrapper">
          <mat-form-field appearance="standard" class="gridItem">
            <mat-label>{{'DISPATCHER.name' | translate}}</mat-label>
            <input matInput type="text" formControlName="firstName" placeholder="{{'DISPATCHER.name' | translate}}...">
            <mat-hint>{{'DISPATCHER.name' | translate}}</mat-hint>
          </mat-form-field>


          <mat-form-field appearance="standard" class="gridItem">
            <mat-label>{{'DISPATCHER.surname' | translate}}</mat-label>
            <input matInput type="text" formControlName="lastName" placeholder="{{'DISPATCHER.surname' | translate}}...">
            <mat-hint>{{'DISPATCHER.surname' | translate}}</mat-hint>
          </mat-form-field>


          <mat-form-field appearance="standard" class="gridItem">
            <mat-label>{{'DISPATCHER.email' | translate}}</mat-label>
            <input matInput type="text" formControlName="email" placeholder="{{'DISPATCHER.email' | translate}}...">
            <mat-error *ngIf="dispecerForm.invalid">{{getErrorMessage()}}</mat-error>
            <mat-hint>{{'DISPATCHER.email' | translate}}</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="standard" class="gridItem">
            <mat-label>{{'DISPATCHER.phoneNumber' | translate}}</mat-label>
            <input matInput type="text" formControlName="phoneNumber" placeholder="{{'DISPATCHER.phoneNumber' | translate}}...">
            <mat-hint>{{'DISPATCHER.phoneNumber' | translate}}</mat-hint>
          </mat-form-field>

        </div>

      </form>
    </mat-step>
    </mat-horizontal-stepper>

  </form>
  <button *ngIf="!this.data" (click)="saveCompany()" type="submit" class="example_c" [disabled]="checkFormsValid()">{{'OFTEN.add' | translate}}</button>
  <button *ngIf="this.data" (click)="updateCompany()" type="submit" class="example_c" [disabled]="checkFormsValid()">{{'OFTEN.update' | translate}}</button>

</div>
