@import "./src/sccs/shared/mixins";

.allWrapper{
  display: flex;
  justify-content: center;
  width: 100%;
}

.chooseCar{
  overflow: auto;
  white-space: nowrap;
}

.carButton{
  @include buttonNoColor();
  margin: 7px;
}

//farby
.greenCol {
  background-color: rgba(10, 255, 10, 0.45);
}

.yellowCol{
  background-color: rgba(247, 202, 24, 0.45);
}
.redCol{
  background-color: rgba(207, 0, 15, 0.45);
}
