<section *ngIf="this.detail">
  <h2 *ngIf="this.balikIndex">Id. {{this.balikIndex}}</h2>

  <p>{{'PACKAGES.sirka' | translate}}: {{this.detail.sizeS}}</p>
  <p>{{'PACKAGES.vyska' | translate}}: {{this.detail.sizeV}}</p>
  <p>{{'PACKAGES.dlzka' | translate}}: {{this.detail.sizeD}}</p>
  <p>{{'PACKAGES.vaha' | translate}}: {{this.detail.weight}}</p>
  <p>{{'PACKAGES.stohovatelnost' | translate}}: {{this.detail.stohovatelnost}}</p>

  <h3>{{'CAR.moznostiNalozenia' | translate}}:</h3>
  <div *ngIf="this.detail.polohaNakladania.charAt(0) != '0' || this.detail.polohaNakladania.charAt(1) != '0'
   || this.detail.polohaNakladania.charAt(2) != '0'; else elseBlock">
    <p *ngIf="this.detail.polohaNakladania.charAt(0) != '0'">{{'CAR.nalozenieZoZadu' | translate}}</p>
    <p *ngIf="this.detail.polohaNakladania.charAt(1) != '0'">{{'CAR.nalozenieZBoku' | translate}}</p>
    <p *ngIf="this.detail.polohaNakladania.charAt(2) != '0'">{{'CAR.nalozenieZVrchu' | translate}}</p>
  </div>
  <ng-template #elseBlock>
    <p>{{'OFTEN.nerozhoduje' | translate}}</p>
  </ng-template>

  <p>{{'CAR.vyskaHrany' | translate}}:
    <span *ngIf="this.detail.vyskaNaklHrany == -1; else elseVyska">{{'OFTEN.nerozhoduje' | translate}}</span>
    <ng-template #elseVyska>{{this.detail.vyskaNaklHrany}}</ng-template>
  </p>
</section>

<div class="aframe">
  <app-size-of-box></app-size-of-box>
</div>
<!--aframe-->
