@import "./src/sccs/shared/mixins";

.inputWrapper{
  display: flex;
  flex-direction: column;
}

td{
  padding-left: 8px;
}

.buttonG {
  @include tableAddButton();
}

.closeButton{
  @include closeButton();
}

.headerWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
