.oneRoute{
  //background-image: linear-gradient(to right, rgba(0,0,0,0) ,rgba(128,128,128,0.3), rgba(0,0,0,0));
  border-bottom: 2px solid gray;
  box-shadow: 5px 5px 5px gray;
  margin: 10px;
  display: flex;
  padding: 10px;
  border-radius: 3px;
}

.oneRouteHeader{
  border-bottom: 2px solid gray;
  margin: 10px;
  display: flex;
  padding: 10px;
  border-radius: 3px;
}

.noCar{
  order: 1;
}

.spanY{
  background: rgba(255, 255, 0,0.5);
  border-radius: 5px;
  padding: 5px;
}

.actFinHead{
  margin-left: 15px;
}

.spanG{
  //background: rgba(30, 180, 0,0.5);
  background: rgba(191, 191, 191, 0.7);
  border-radius: 5px;
  padding: 5px;
  font-size: small;
  font-weight: 600;
}

.blink_me {
  animation: blinker 2s linear infinite;
  color: white;
}

@keyframes blinker {
  50% {
    background: red;
  }
}

.spanR{
  background: rgba(225, 0, 0,0.8);
  border-radius: 5px;
  padding: 5px;
}


.nakladka{
  max-width: 40%;
  min-width: 40%;
  cursor: pointer;
}
.vykladka{
  max-width: 40%;
  min-width: 40%;
  cursor: pointer;
}

.repetRoute .status{
  max-width: 20%;
  min-width: 20%;
}

.repetRoute{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
.buttonR {
  background-color: gray;
  border: none;
  color: white;
  padding: 8px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  //margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.buttonR:hover{
  background-color: #f44336;
  transition: 0.2s, 0.2s;
}
p{
  margin: 0px;
}

.buttonB {
  background-color: gray;
  border: none;
  color: white;
  padding: 8px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
.buttonB:hover {
  color: white !important;
  background: #008CBA;
  transition: 0.2s, 0.2s;
}

li{
  margin-top: 4px;
  margin-bottom: 4px;
}

.buttonG {
  background-color: gray;
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.buttonG:hover{
  transition: 0.2s, 0.2s;
  background-color: #4CAF50;
}

ol {
  background: #ff9999;
  padding: 20px;
}

ol li {
  background: #ffe5e5;
  padding: 5px;
  margin-left: 35px;
  margin-bottom: 2px;
}

.centrovanie{
  position: center;
}


.buttonSlide {
  padding: 10px 27px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 8px;

  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #57b057;
    border-radius: 8px;
    z-index: -2;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darkolivegreen;
    border-radius: 8px;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(green, 15%);
    transition: all .3s;
    border-radius: 8px;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

.deleteButton{
  padding: 10px 27px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 8px;

  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 8px;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: orange;
    transition: all .3s;
    border-radius: 8px;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

.priradenieButton{
   padding: 10px 27px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 8px;

    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #57b057;
      border-radius: 8px;
      z-index: -2;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #87acdd;
      border-radius: 8px;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: #5956bc;
      transition: all .3s;
      border-radius: 8px;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }
