<button routerLink="/view/newRoute">Nova trasa</button>

<div *ngIf="allActiveRoutes" class="wrapper" >
  <div class="nakl"></div>
  <h1 >Aktivne</h1>
  <div *ngFor="let route of allActiveRoutes" class="oneRoute">
    <div *ngIf="allActiveRoutes.length" class="nakladka">
      <h2>nakladky</h2>
    <ng-container *ngFor="let town of route.nameOfTowns; index as i">
        <li *ngIf="route.type[i] != 'vykladka'">
          {{town}}
        </li>
    </ng-container>
  </div>

  <div *ngIf="allActiveRoutes.length" class="vykladka">
      <h2>Vykladky</h2>
    <ng-container *ngFor="let town of route.nameOfTowns; index as i">
        <li *ngIf="route.type[i] != 'nakladka'">
          {{town}}
        </li>
    </ng-container>
    </div>
    <div class="status">
      <h2>Status</h2>
      <div *ngIf="route.carId == null">
        <button (click)="openAddDialog(route, false, route.id)">Priradit autu</button>
      </div>
      <app-find-car-by-id [carId]="route.carId"></app-find-car-by-id>
      <li>{{getStatus(route)}}</li>
    </div>
  </div>


<!--  ////////////-->


  <h1>Ukoncene</h1>
  <div *ngFor="let route of allFinishedRoutes" class="oneRoute">
    <div class="nakladka">
      <h2>nakladky</h2>
      <ng-container *ngFor="let town of route.nameOfTowns; index as i">
        <li *ngIf="route.type[i] != 'vykladka'">
          {{town}}
        </li>
      </ng-container>
    </div>

    <div class="vykladka">
      <h2>Vykladky</h2>
      <ng-container *ngFor="let town of route.nameOfTowns; index as i">
        <li *ngIf="route.type[i] != 'nakladka'">
          {{town}}
        </li>
      </ng-container>
    </div>
    <div class="repetRoute">
      <h2>Ukoncene</h2>
      <button (click)="openAddDialog(route, true, route.id)">Zopakovat trasu</button>
      <p *ngIf="route.finishedAt != undefined">{{timestamptToDate(route.finishedAt)}}</p>
    </div>
  </div>

</div>

<!--  <table mat-table [dataSource]="this.allActiveRoutes" matSort class="mat-elevation-z8">-->


<!--    &lt;!&ndash; Name Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="naklady">-->
<!--      <th mat-header-cell *matHeaderCellDef> Nakladky </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.carId}} </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Weight Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="vykladky">-->
<!--      <th mat-header-cell *matHeaderCellDef> Tel. Cislo </th>-->
<!--      <td mat-cell *matCellDef="let element; let i = dataIndex"-->
<!--          [attr.rowspan]="getRowSpan('Priority',i)"-->
<!--          [style.display]="getRowSpan('Priority', i) ? '' : 'none'"-->
<!--      >{{element.nameOfTowns}} </td>-->
<!--    </ng-container>-->

<!--    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->

<!--</table>-->








