.oneRoute{
  border: 2px solid black;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.noCar{
  order: 1;
}

span{
  background: gray;
  border-radius: 5px;
  padding: 5px;
}

.nakladka{
  max-width: 40%;
  min-width: 40%;
}
.vykladka{
  max-width: 40%;
  min-width: 40%;
}

.repetRoute .status{
  max-width: 20%;
  min-width: 20%;
}

