<div *ngIf="allActiveRoutes" class="wrapper">
  <div class="repetRoute">
    <button (click)="routeDetail(null)" routerLink="/view/newRoute" class="buttonG green ">{{'NEWADDRESSFORM.vytvoritPrepravu' | translate}}</button>
  </div>

  <section class="activeNonActive">
    <button class="buttonTab" [class]="getClass('mine')"  (click)="mineRoutes()">{{'TRANSPORT.vlastnePrepravy' | translate}}</button>
    <button class="buttonTab" [class]="getClass('offers')"  (click)="offersRoutes()">{{'TRANSPORT.prepravyZPonuk' | translate}}</button>
  </section>

  <section class="activeNonActive">
    <button class="buttonTab" [class]="getClass('active')"  (click)="activeRoutes()">{{'OFFER.aktivne' | translate}}</button>
    <button class="buttonTab" [class]="getClass('nonActive')"  (click)="nonActiveRoutes()">{{'OFFER.ukoncene' | translate}}</button>
  </section>

  <section class="filter">
    <mat-form-field  appearance="standard" class="gridItem">
      <mat-label>{{'FILTER.filter' | translate}}</mat-label>
      <input #inputFilter (input)="filterTowns($event)" matInput placeholder="{{'FILTER.mestoSpolocnost' | translate}}...">
      <mat-hint>{{'FILTER.zadajMestoSpolocnost' | translate}}</mat-hint>
    </mat-form-field>
  </section>



<div *ngIf="active">
  <h1 class="actFinHead">{{'OFFER.aktivne' | translate}}</h1>
<!--  moje prepravy-->
  <div *ngIf="showMineRoutes">

  <div *ngFor="let route of routesToShow; let i = index" class="oneRoute" >
    <div *ngIf="routesToShow.length" class="nakladka" (click)="routeDetail(route)" routerLink="/view/newRoute">

      <ng-container *ngFor="let town of route.addresses; index as i">
        <app-one-address-info *ngIf="town" [allAddressesIds]="route.addresses" [addressaId]="town" [addressIndex]="i"></app-one-address-info>
      </ng-container>

    </div>

    <div *ngIf="routesToShow.length" class="vykladka">
      <app-find-car-by-id [carId]="route.carId"></app-find-car-by-id>
      <div *ngIf="route.carId == null">
        <button (click)="routeDetail(route)" routerLink="/view/newRoute" class="buttonG" >{{'TRANSPORT.priraditDoVozidla' | translate}}</button>
      </div>
      <div>
        <button *ngIf="!this.route.carId" (click)="deleteRoute(route)" class="buttonR" >{{'OFTEN.delete' | translate}}</button>
      </div>

    </div>
  </div>
  </div>


  <div *ngIf="!showMineRoutes">

  <div *ngFor="let route of this.routesToShowOffers; let i = index" class="oneRoute">
    <div *ngIf="!route.finished" class="nakladka" (click)="routeDetail(route)"  routerLink="/view/offerDetail">
      <!--      <h2>Vykládky</h2>-->
      <ng-container *ngFor="let town of route.addresses; index as i">
        <app-one-address-info *ngIf="town" [allAddressesIds]="route.addresses" [addressaId]="town" [addressIndex]="i"></app-one-address-info>
      </ng-container>
    </div>
    <div class="vykladka">
      <div *ngIf="route.createdBy === this.getDispecerId()">
        <div class="companyNameTogether">
          <span>{{'OFFER.zadavatel' | translate}}:</span><h2 class="nazovFirmy"> {{this.getMyCompany()}}</h2>
        </div>
        <app-get-name-of-comapny-by-master-id [zadavatel]="false" [masterId]="this.route.takenBy"></app-get-name-of-comapny-by-master-id>
        <div class="companyNameTogether">
          <span>{{'OFTEN.cena' | translate}}:</span> <h2 class="nazovFirmy">{{this.route.price}}€</h2>
        </div>
        <app-find-car-by-id [carId]="route.carId"></app-find-car-by-id>

      </div>
      <div *ngIf="route.createdBy !== this.getDispecerId()">
        <app-get-name-of-comapny-by-master-id [zadavatel]="true" [masterId]="this.route.createdBy"></app-get-name-of-comapny-by-master-id>
        <div class="companyNameTogether">
          <span>{{'OFFER.prepravca' | translate}}:</span> <h2 class="nazovFirmy">{{this.getMyCompany()}}</h2>
        </div>
        <div class="companyNameTogether">
          <span>{{'OFTEN.cena' | translate}}:</span> <h2 class="nazovFirmy">{{this.route.price}}€</h2>
        </div>
        <app-find-car-by-id [carId]="route.carId"></app-find-car-by-id>
      </div>
      <div *ngIf="route.carId == null && route.takenBy === this.getDispecerId()">
        <button (click)="routeDetail(route)" routerLink="/view/newRoute" class="buttonG" >{{'TRANSPORT.priraditDoVozidla' | translate}}</button>
      </div>

    </div>
  </div>
  </div>
</div>


  <!--  ////////////-->

<div *ngIf="!active">
  <h1 class="actFinHead">{{'OFFER.ukoncene' | translate}}</h1>
  <div *ngIf="showMineRoutes">
  <div *ngFor="let route of routesToShow" class="oneRoute">
    <div class="nakladka" (click)="routeDetail(route)" routerLink="/view/newRoute">
      <!--      <h2>Nakládky</h2>-->
      <ng-container *ngFor="let town of route.addresses; index as i">
        <app-one-address-info *ngIf="town" [allAddressesIds]="route.addresses" [addressaId]="town" [addressIndex]="i"></app-one-address-info>
      </ng-container>
    </div>

    <div class="vykladka">
      <button (click)="openAddDialog(route)" class="buttonB">{{'OFTEN.zopakovat' | translate}}</button>
      <button (click)="deleteRoute(route)" class="buttonR" >{{'OFTEN.delete' | translate}}</button>

    </div>
  </div>
  </div>



  <div *ngIf="!showMineRoutes">

  <div *ngFor="let route of this.routesToShowOffers; let i = index" class="oneRoute">
    <div *ngIf="route.finished" class="nakladka" (click)="routeDetail(route)"  routerLink="/view/offerDetail">
      <!--      <h2>Vykládky</h2>-->
      <ng-container *ngFor="let town of route.addresses; index as i">
        <app-one-address-info *ngIf="town" [allAddressesIds]="route.addresses" [addressaId]="town" [addressIndex]="i"></app-one-address-info>
      </ng-container>
    </div>
    <div class="vykladka">
      <div *ngIf="route.createdBy === this.getDispecerId()">
        <div class="companyNameTogether">
          <span>{{'OFFER.zadavatel' | translate}}:</span><h2 class="nazovFirmy"> {{this.getMyCompany()}}</h2>
        </div>
        <app-get-name-of-comapny-by-master-id [zadavatel]="false" [masterId]="this.route.takenBy"></app-get-name-of-comapny-by-master-id>
        <div class="companyNameTogether">
          <span>{{'OFTEN.cena' | translate}}:</span> <h2 class="nazovFirmy">{{this.route.price}}€</h2>
        </div>
      </div>
      <div *ngIf="route.createdBy !== this.getDispecerId()">
        <app-get-name-of-comapny-by-master-id [zadavatel]="true" [masterId]="this.route.createdBy"></app-get-name-of-comapny-by-master-id>
        <div class="companyNameTogether">
          <span>{{'OFFER.prepravca' | translate}}:</span> <h2 class="nazovFirmy">{{this.getMyCompany()}}</h2>
        </div>
        <div class="companyNameTogether">
          <span>{{'OFTEN.cena' | translate}}:</span> <h2 class="nazovFirmy">{{this.route.price}}€</h2>
        </div>
      </div>
      <button *ngIf="route.createdBy === this.getDispecerId()" (click)="openAddDialog(route)" class="buttonB">{{'OFTEN.zopakovat' | translate}}</button>
    </div>
  </div>
  </div>


</div>


</div>


