<button routerLink="/view/newRoute">Nova trasa</button>

<div *ngIf="allActiveRoutes" class="wrapper" >
  <div class="nakl"></div>
  <h1 >Aktivne</h1>
  <div *ngFor="let route of allActiveRoutes" class="oneRoute">
    <div *ngIf="allActiveRoutes.length" class="nakladka">
      <h2>nakladky</h2>
    <ng-container *ngFor="let town of route.nameOfTowns; index as i">
        <li *ngIf="route.type[i] != 'vykladka'">
          {{town}}
        </li>
    </ng-container>
  </div>

  <div *ngIf="allActiveRoutes.length" class="vykladka">
      <h2>Vykladky</h2>
    <ng-container *ngFor="let town of route.nameOfTowns; index as i">
        <li *ngIf="route.type[i] != 'nakladka'">
          {{town}}
        </li>
    </ng-container>
    </div>
    <div class="status">
      <h2>Status</h2>
      <li>{{route.carId}}</li>
      <li>{{route.status[route.status.length -1]}}</li>
    </div>
  </div>

  <h1>Ukoncene</h1>
  <div *ngFor="let route of allFinishedRoutes" class="oneRoute">
    <div class="nakladka">
      <h2>nakladky</h2>
      <ng-container *ngFor="let town of route.nameOfTowns; index as i">
        <li *ngIf="route.type[i] != 'vykladka'">
          {{town}}
        </li>
      </ng-container>
    </div>

    <div class="vykladka">
      <h2>Vykladky</h2>
      <ng-container *ngFor="let town of route.nameOfTowns; index as i">
        <li *ngIf="route.type[i] != 'nakladka'">
          {{town}}
        </li>
      </ng-container>
    </div>
    <div class="repetRoute">
      <h2>Ukoncene</h2>
      <button (click)="openAddDialog(route)">Zopakovat trasu</button>
      <p *ngIf="route.finishedAt != undefined">{{timestamptToDate(route.finishedAt)}}</p>
    </div>
  </div>

</div>







