.spanG{
  //background: rgba(30, 180, 0,0.5);
  background: rgba(191, 191, 191, 0.7);
  border-radius: 5px;
  padding: 5px;
  font-size: small;
  font-weight: 600;
  white-space: nowrap;
}

.relavite{
  position: relative;
  height: 50px;
  width: 400px;
}

.spanY{
  background: rgba(255, 255, 0,0.5);
  border-radius: 5px;
  padding: 5px;
}

.nakaldkaVykladka{
  background: darkgray;
  padding: 2px 4px;
  border-radius: 5px;
  margin-right: 5px;
}

.nameOfTown{
  display: inline-block;
}

.bednaWrapper{
  display: inline-flex;
}

.bedna{
  width: 18px;
  height: 18px;
  border: 2px solid gray;
  border-radius: 1px;
  margin: {
    left: 2px;
    right: 2px;
    bottom: 2px;
  };
  display: flex;
  align-items: center;
  justify-content: center;
}

.numberOfBedna{
  font-size: 15px;
}
