<div class="wrapper">
  <section [ngClass]="{'fullRouteWrap' : !forCar}" *ngIf="addresses && addresses.length > 0">
    <div [class]="chooseBorderDown()">
      <div *ngIf="!forCar && getSpecial() &&  (getSpecial().teplota || getSpecial().adr || getSpecial().ruka)" class="header">
        <p *ngIf="getSpecial().adr" class="specialTypes">ADR</p>
        <p *ngIf="getSpecial().teplota" class="specialTypes">Tepelný režim</p>
        <p *ngIf="getSpecial().ruka" class="specialTypes">Hydraulická ruka</p>
      </div>
    <div class="routeWrapper" *ngFor="let town of this.addresses; index as i">
      <div *ngIf="town">
        <div class="oneTownWrapper">
          <p class="dateOfLastArrival">{{toDate(town.datumLastPrijazdy)}}</p>


          <div class="nested">
            <div class="townWithDot">
<!--              <img class="dot" src="./assets/logo/blackDot.png">-->
              <i [class]="chooseColor(town.status)" class="material-icons dotIcon">fiber_manual_record</i>
              <p class="addressName">{{town.nameOfTown}}</p>
            </div>

            <div class="townWithDot">
              <div *ngIf="i +1 < this.addresses.length" [class]="chooseColorForLine(town.status)" class="vertLine"></div>
              <p class="opisMesta">{{town.nameOfCompany}}</p>
            </div>

          </div>
          <p *ngIf="town.estimatedTimeArrival">{{town.estimatedTimeArrival}}</p>
        </div>
      </div>
      </div>
    </div>
    <footer *ngIf="!forCar" class="infoRoute">
      <div class="carPrice">
        <p class="grayColor">Vozidlo</p>
        <p class="grayColor">Cena</p>
        <p class="carEcv" *ngIf="this.car">{{this.car.ecv}}</p>
        <p class="routePrice">{{route.price}} €</p>
      </div>
      <button class="buttonDetail" (click)="changeRoute()" routerLink="/view/map/myRouteDetail">Detail prepravy</button>
    </footer>
  </section>
</div>
