@import "./src/sccs/shared/mixins";

.oneTownWrapper{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  //border-bottom: 1px solid black;
}


.nested{
  display: grid;
  grid-template-columns: 1fr;
}

.townWithDot{
  display: grid;
  grid-template-columns: 0.4fr 2fr;
}

.opisMesta{
  grid-column: 2;
  color: gray;
}

.townsWrapper{
  border-bottom: 1px solid black;
}

.grayColor{
  color: gray;
}

.dot{
  width: 30px;
  justify-self: center;
}

.vertLine{
  justify-self: center;
  border-left: 4px solid black;
  height: 30px;
}
p{
  margin: 0;
}
.addressName{
  font-weight: 600;
}

.carPrice{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 8px;
}

.infoRoute{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}

.fullRouteWrap{
  border: 1px solid gray;
  padding: 8px;
}

.routeWrapper{
  //border-bottom: 1px solid black;
}

.buttonDetail{
  @include buttonVytvor();
}

.header{
  display: flex;
  justify-content: flex-end;
  gap: 6px;
  margin: 10px;
  border-bottom: 1px solid black;
}

.green{
  color: limegreen;
}

.red{
  color: red;
}

.onWayLine{
  border-left: 4px solid limegreen;
}

.dotIcon{
  justify-self: center;
}

.specialTypes{
  background: #E8E8E8;
  padding: 5px 6px;
  border-radius: 20px;
}

.carEcv{
  grid-column: 1;
}

.routePrice{
  grid-column: 2;
}

.dateOfLastArrival{
  color: gray;
  font-size: small;
}
