<div>
  <!--  <button (click)="closePopUp()"></button>-->
  <div id="popup-content">
    <section *ngIf="this.car" class="carInfo">
      <h2>
        {{this.car.ecv}}
      </h2>
      <span>{{this.statusService.getStatus(this.car.status)}}</span>

      <section class="driverInfo">
        <app-get-name-of-driver [car]="this.car"></app-get-name-of-driver>
        <span *ngIf="this.car.phoneNumber">{{this.car.phoneNumber}}</span>
      </section>

      <h3 *ngIf="this.car.lastUpdate">{{'CAR.poslednaAktualizacia' | translate}} {{toDateLastUpdateOfCar(this.car.lastUpdate)}}</h3>

      <app-car-naklad [car]="this.car"></app-car-naklad>
    </section>
    <section class="itinerar" *ngIf="this.myAddresses">
      <app-addresses-info [carItinerar]="this.car.itinerar" [forCar]="true"></app-addresses-info>
    </section>
  </div>
</div>
