<div class="wrapper">
  <label>{{'COMPANIES.companyName' | translate}}</label>
  <h2>{{company.name}}</h2>
  <label>{{'COMPANIES.town' | translate}}</label>
  <h2>{{company.town}}</h2>
  <label>{{'COMPANIES.state' | translate}}</label>
  <h2>{{company.country}}</h2>
  <label>{{'COMPANIES.ico' | translate}}</label>
  <h2>{{company.ico}}</h2>
  <label>{{'COMPANIES.dico' | translate}}</label>
  <h2>{{company.dicIc}}</h2>
  <label>{{'COMPANIES.vyskaPoistky' | translate}}</label>
  <h2 *ngIf="!company.poistenie; else elsePoistka">
    <label>{{'COMPANIES.bezpoistenia' | translate}}</label>
  </h2>
  <ng-template #elsePoistka>
    <h2>
      {{company.poistenie}}
    </h2>
  </ng-template>
</div>
