<div class="allWrap" >


  <form class="wrap" [formGroup]="dispecerForm">
    <label>Pridaj dispečera</label>
    <label>Zadajte meno</label>
    <input type="text" formControlName="firstName" placeholder="Zadajte meno...">

    <label>Zadajte priezvisko</label>
    <input type="text" formControlName="lastName" placeholder="Zadajte priezvisko...">

    <label>Zadajte email</label>
    <input type="text" formControlName="email" placeholder="Zadajte email...">

    <label>Zadajte telefone cislo</label>
    <input type="text" formControlName="phoneNumber" placeholder="Zadajte tel...">

    <button (click)="saveDispecer()" type="submit" [disabled]="!dispecerForm.valid">Submit</button>
  </form>


<!--  <th>-->
<!--    <table width="300px" class="fixed">-->
<!--      <img src="assets/logo/avatar.svg" alt="Avatar" style="width:100px">-->
<!--      <col width="100px" />-->
<!--      <col width="200px" />-->
<!--      <tr>-->
<!--        <td>-->
<!--          <label>Meno:</label>-->
<!--        </td>-->
<!--        <td>-->
<!--          <input type="text" formControlName="firstName" placeholder="Zadajte meno...">-->
<!--        </td>-->
<!--      <tr>-->
<!--        <td>-->
<!--          <label>Tel:</label>-->
<!--        </td>-->
<!--        <td>-->
<!--          <input type="text" formControlName="firstName" placeholder="Zadajte meno...">-->
<!--        </td>-->
<!--      <tr>-->
<!--        <td>-->
<!--          <label>E-mail:</label>-->
<!--        </td>-->
<!--        <td>-->
<!--          <input type="text" formControlName="firstName" placeholder="Zadajte meno...">-->
<!--        </td>-->
<!--      <tr>-->
<!--        <td>-->
<!--          <label>Status:</label>-->
<!--        </td>-->
<!--        <td>-->
<!--          <input type="text" formControlName="firstName" placeholder="Zadajte meno...">-->
<!--        </td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <table>-->
<!--        <td>-->
<!--        <button type="submit" onclick="alert('Nic tu needitujem este')">Editovať</button>-->
<!--        </td>-->
<!--        <td>-->
<!--        <button type="submit" onclick="alert('Nic tu nezmazem este')">Vymazať</button>-->
<!--        </td>-->
<!--        </table>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </th>-->

<!--      <th>-->
<!--        <table width="300px" class="fixed">-->
<!--          <img src="assets/logo/avatar.svg" alt="Avatar" style="width:100px">-->
<!--          <col width="100px" />-->
<!--          <col width="200px" />-->
<!--          <tr>-->
<!--            <td>-->
<!--              <label>Meno:</label>-->
<!--            </td>-->
<!--            <td>-->
<!--              <input type="text" formControlName="firstName" placeholder="Zadajte meno...">-->
<!--            </td>-->
<!--          <tr>-->
<!--            <td>-->
<!--              <label>Tel:</label>-->
<!--            </td>-->
<!--            <td>-->
<!--              <input type="text" formControlName="firstName" placeholder="Zadajte meno...">-->
<!--            </td>-->
<!--          <tr>-->
<!--            <td>-->
<!--              <label>E-mail:</label>-->
<!--            </td>-->
<!--            <td>-->
<!--              <input type="text" formControlName="firstName" placeholder="Zadajte meno...">-->
<!--            </td>-->
<!--          <tr>-->
<!--            <td>-->
<!--              <label>Status:</label>-->
<!--            </td>-->
<!--            <td>-->
<!--              <input type="text" formControlName="firstName" placeholder="Zadajte meno...">-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <table>-->
<!--              <td>-->
<!--                <button type="submit" onclick="alert('Nic tu needitujem este')">Editovať</button>-->
<!--              </td>-->
<!--              <td>-->
<!--                <button type="submit" onclick="alert('Nic tu nezmazem este')">Vymazať</button>-->
<!--              </td>-->
<!--            </table>-->
<!--          </tr>-->
<!--        </table>-->
<!--      </th>-->
<!--  </tr>-->
<!--  </table>-->

</div>
