<div class="wrap">

  <form [formGroup]="dispecerForm">
    <label>Zadajte meno</label>
    <input type="text" formControlName="firstName">

    <label>Zadajte priezvisko</label>
    <input type="text" formControlName="lastName">

    <label>Zadajte email</label>
    <input type="text" formControlName="email">

    <label>Zadajte telefone cislo</label>
    <input type="text" formControlName="phoneNumber">

    <button (click)="saveDispecer()" type="submit" [disabled]="!dispecerForm.valid">Submit</button>
  </form>

</div>
