<div class="wrapper">


<div *ngIf="this.address"  cdkDropList class="example-list"
      (cdkDropListDropped)="drop($event)" id="dragList1">
  <div class="example-box" *ngFor="let routeTown of this.address; let i = index" cdkDrag>
    <div (click)="sendTown(i)" *ngIf="this.detail && this.detail[i] != undefined" class="bednaWrapper">
      <!--      <app-detail-img  class="imageInRow" [address]="this.address[i]"></app-detail-img>-->
      <div class="bednaWrapper" *ngIf="this.detail[i].townsArray">
        <div class="bedna" *ngFor="let detailil of this.detail[i].townsArray; let indexik = index">
          <span class="numberOfBedna">{{getBednaIndex(this.detail[i].townsArray[indexik],
                                                      this.detail[i].detailArray[indexik],
                                                      this.detail[i].carArray[indexik])}}</span>
        </div>
      </div>
      <div class="bednaWrapper" *ngIf="!this.detail[i].townsArray">
        <div class="bedna" *ngFor="let detail of this.detail[i]; let indexik = index">
          <span class="numberOfBedna">{{getBednaIndex(i, indexik, false)}}</span>
        </div>
      </div>

    </div>


    <div *ngIf="this.address[i]" class="routeTown" (click)="sendTown(i)">
      <p>
        <span *ngIf="this.address[i].type == 'nakladka'" matTooltip="{{'CAR.nakladka' | translate}}" class="nakaldkaVykladka">{{'OFTEN.skratkaN' | translate}}</span>
        <span *ngIf="this.address[i].type == 'vykladka'" matTooltip="{{'CAR.vykladka' | translate}}" class="nakaldkaVykladka">{{'OFTEN.skratkaV' | translate}}</span>
        {{this.address[i].nameOfTown}}

      </p>
      <span  class="nakaldkaVykladka">{{this.routeStatus.getStatus(this.address[i].status)}}</span>

      <span *ngIf="this.address[i].estimatedTimeArrival">ETA
        <span *ngIf="this.estimatedTimeToLocal(this.address[i].estimatedTimeArrival !== 'Neznámy'); else elseNezname">
          {{this.estimatedTimeToLocal(this.address[i].estimatedTimeArrival)}}</span>
          <ng-template #elseNezname>
            <span>{{'OFTEN.nerozhoduje' | translate}}</span>
          </ng-template>

      </span>

      <img (click)="openAddDialogToDelete(this.address[i])" class="delete" src="assets/logo/delete.svg">
    </div>
    <div *ngIf="this.address[i]" class="routeTown routeInfo">
      <p *ngIf="this.address[i].aboutRoute != null || this.address[i].aboutRoute != undefined">{{this.address[i].aboutRoute}}</p>
      <img (click)="openAddDialogToEditInfo(this.address[i])" class="delete" src="assets/logo/edit.svg">
    </div>
  </div>
</div>

<div class="buttonWrap" *ngIf="!this.address || this.address.length === 0">
  <h2>{{'CAR.noAdress' | translate}}</h2>
</div>
<div *ngIf="this.address && this.address.length > 0" class="buttonWrap">
  <button class="changeItiButt" [disabled]="!itiChanged" (click)="updateItinerar()">{{'CAR.changeItinerar' | translate}}</button>
</div>

</div>
