@mixin button($color){
  background: $color;
  padding: {
    top: 12px;
    bottom: 12px;
    left: 20px;
    right: 20px;
  };
  border-radius: 5px;
  border: none;
  color: white;
}

@mixin smallButton($color){
  background: $color;
  padding: {
    top: 5px;
    bottom: 5px;
    left: 7px;
    right: 7px;
  };
  border-radius: 5px;
  border: none;
  color: white;
}

@mixin table(){
  border-bottom: 2px solid gray;
  box-shadow: 5px 5px 5px grey;
  padding: 10px;
  border-radius: 3px;
  width: 55%;
  margin: 10px;
  display: block;
  width: 100%;
  overflow-x: auto;
  .mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
  }
  .mat-row,
  .mat-header-row {
    display: table-row;
  }
  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
}

@mixin tableButton(){
  border: none;
  border-radius: 3px;
}

@mixin tableAddButton(){
  background-color: gray;
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.2s;
}
