<div *ngIf="this.route" class="wrapper">
  <section class="showHide">
    <button class="doNotShowButt" *ngIf="ifNezobrazuje(); else elseButton" (click)="doNotShow()">{{'MAP.viacNezobrazovat' | translate}}</button>
    <ng-template #elseButton>
      <button class="showButt" (click)="showOnMap()">{{'MAP.ukazatPonuku' | translate}}</button>
    </ng-template>
  </section>



  <div class="priceWrapper" *ngIf="this.offer">
    <h3>{{'OFFER.vasaPonuka' | translate}}</h3>
      <h2 class="priceMargin">{{this.offer}} €</h2>
  </div>
  <h2 *ngIf="this.route.price">
    {{'OFTEN.cena' | translate}}: {{this.route.price}}€
  </h2>

  <div *ngIf="!this.offer || this.offer === 0">
    <mat-form-field *ngIf="this.route.ponuknuteTo !== getDispecerId() && this.route.price == 0 && this.route.ponuknuteTo !== getDispecerId()" appearance="standard" class="sizeInput">
      <mat-label>{{'OFFER.ponukniteCenu' | translate}}</mat-label>
      <input type="number" matInput placeholder="{{'OFTEN.cena' | translate}}...."  [(ngModel)]="price">
      <span matSuffix> € </span>
      <mat-hint>{{'HINT.vEurach' | translate}}</mat-hint>
    </mat-form-field>
  </div>


  <button [disabled]="disableButtonAfterAdd" class="deleteOfferBut" *ngIf="this.offer == 0 && this.route.ponuknuteTo !== getDispecerId() && !this.runningInterval" (click)="this.deleteMyPriceIfRunning()">{{'OFFER.zrusitPonuku' | translate}}</button>
  <button [disabled]="disableButtonAfterAdd" class="deleteOfferBut" *ngIf="this.offer && this.route.ponuknuteTo !== getDispecerId() && !this.runningInterval" (click)="this.deleteMyPriceIfRunning()">{{'OFFER.zrusitPonuku' | translate}}</button>

  <button class="deleteOfferBut" *ngIf="this.runningInterval" (click)="this.deleteMyPriceIfRunning()">{{'OFFER.zrusitPonuku' | translate}}</button>

  <div *ngIf="this.route.takenBy == ''">
      <button [disabled]="disableButtonAfterAdd || !price || price < 1" class="pridatPonuku" *ngIf="this.route.ponuknuteTo !== getDispecerId() && this.route.price === 0 && this.offer != 0 && !this.offer && this.runningInterval === false; else elseIf" (click)="addPriceWithDelay()">{{'OFFER.pridatPonuku' | translate}}</button>
      <ng-template #elseIf>
        <button [disabled]="disableButtonAfterAdd" class="pridatPonuku" *ngIf="this.route.ponuknuteTo !== getDispecerId() && this.route.price !== 0 && this.offer != 0 && !this.offer && this.runningInterval === false; else elseUpdate" (click)="addPriceWithDelay()">{{'MAP.mamZaujem' | translate}}</button>

      </ng-template>
    <ng-template #elseUpdate>
      <button class="pridatPonuku" *ngIf="this.offer.ponuknuteTo === ''"  (click)="addPriceWithDelay()">{{'OFFER.upravitCenu' | translate}}</button>
    </ng-template>
      <h2 *ngIf="this.route.ponuknuteTo == getDispecerId()" >{{'OFFER.finalnePrijatie' | translate}}</h2>
      <button class="pridatPonuku" *ngIf="this.route.ponuknuteTo == getDispecerId()" (click)="confirm()">{{'OFFER.prijatPrepravu' | translate}}</button>
      <button class="deleteOfferBut" *ngIf="this.route.ponuknuteTo == getDispecerId()" (click)="cancelOffer()">{{'OFFER.odmietnutPrepravu' | translate}}</button>
  </div>

  <div *ngIf="this.route.takenBy == getDispecerId()">
    <h2>{{'OFFER.ziskaliStePonuku' | translate}}</h2>
    <h3 >{{'OFFER.presuntePonukuDoIti' | translate}}</h3>
  </div>


</div>
