@import "./src/sccs/shared/mixins";

.deleteOfferBut{
  @include button(red)
}

.pridatPonuku{
  @include button(limegreen)
}

.kontantButt{
  @include button(gray);
}

button{
  margin: 8px;
}

.wrapper{
  margin: 5px;
}

.priceMargin{
  margin-left: 5px;
}

.priceWrapper{
  display: flex;
  align-items: center;
}

.doNotShowButt{
  @include buttonNoColor();
  background: orangered;
  color: white;
}

.showButt{
  @include buttonNoColor();
  background: limegreen;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
