@import "./src/sccs/shared/mixins";

.deleteOfferBut{
  @include button(red)
}

.pridatPonuku{
  @include button(lime)
}

button{
  margin: 8px;
}

.wrapper{
  margin: 5px;
}

.priceMargin{
  margin-left: 5px;
}

.priceWrapper{
  display: flex;
  align-items: center;
}
