@import "./src/sccs/shared/mixins";

.noButton{
  @include button(orangered);
  color: white;
}

.yesButton{
  @include buttonNoColor();
  color: white;
}

.closeButton{
  @include closeButton();
}

.headerWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
