table {
  font-family: Candara;
  border-collapse: collapse;
  width: 290px;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

td, th {
  border: 1px solid #dddddd;
  width: 80px;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: black;
}
.add{
  color: mediumseagreen;
  cursor: pointer;
}


.addButton{
  padding: 0 15px;
  color: black;
  height: 60px;
  width: 50px;
  text-align: justify;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 4px 2px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.addButton:hover {
  color: white !important;
  background: darkolivegreen;
  transition: all 0.4s ease 0.2s;
}


.save_c {
  font-family: Candara;
  font-size: 16px;
  width: 150px;
  border-radius: 8px;
  position: center;
  margin-left: auto;
  margin-right: auto;
  color: white !important;
  text-transform: full-width;
  text-decoration: white;
  background: #50585f;
  padding: 18px;
  border: 2px solid dimgrey !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  margin-right: 10px;
  margin-left: 10px;

}

.save_c:hover {
  color: black !important;
  background: lightseagreen;
  border-color: #8d8d8d !important;
  transition: all 0.4s ease 0.2s;
}
