
<mat-dialog-content class="wrapper">
  <mat-horizontal-stepper #stepper linear (selectionChange)="selectionChange($event)">
    <mat-step>
      <ng-template matStepLabel>{{'TRANSPORT.vyberAuta' | translate}}</ng-template>
<table class="car" *ngFor="let car of cars" >
  <tr>
    <th>{{car.ecv}}</th>
    <th>{{routeStatusService.getStatus(car.status)}}</th>
   <th>
   <button (click)="choosenCar(car)">+</button>
   </th>
  </tr>
</table>

    </mat-step>

    <mat-step >
      <ng-template *ngIf="chosenCar" matStepLabel>{{'TRANSPORT.presunPrepravy' | translate}} {{this.chosenCar.ecv}}</ng-template>
      <ng-template *ngIf="!chosenCar" matStepLabel>{{'TRANSPORT.vyberAuta' | translate}}!</ng-template>
      <app-route-to-itinerar *ngIf="this.chosenCar"
                             [newRoute]="addressesToDragDrop"
                             [car]="this.chosenCar"
                             [newDetails]="this.packages"
                              (carId)="saveRoute()">

      </app-route-to-itinerar>

    </mat-step>

  </mat-horizontal-stepper>
</mat-dialog-content>


