
<div>
  <mat-horizontal-stepper #stepper linear (selectionChange)="selectionChange($event)">
    <mat-step>
      <ng-template matStepLabel>Vyber auta</ng-template>
<table class="car" *ngFor="let car of cars" >
  <tr>
    <th>{{car.ecv}}</th>
    <th>{{routeStatusService.getStatus(car.status)}}</th>
   <th>
<!--     <button (click)="saveDetailToDatabase(car)" class="addButton">+</button>-->
   <button (click)="choosenCar(car)">+</button>
   </th>
  </tr>
</table>

<!--  <button (click)="saveDetailsFirst()">SkusamDetailUlozit</button>-->

    </mat-step>

    <mat-step >
      <ng-template *ngIf="chosenCar" matStepLabel>Presun prepravy do itinerara {{this.chosenCar.ecv}}</ng-template>
      <ng-template *ngIf="!chosenCar" matStepLabel>Vyberte vozidlo!</ng-template>
      <app-route-to-itinerar *ngIf="this.chosenCar"
                             [newRoute]="addressesToDragDrop"
                             [car]="this.chosenCar"
                             [newDetails]="this.packages"
                              (addressesId)="saveRoute()"
            >

      </app-route-to-itinerar>

    </mat-step>

  </mat-horizontal-stepper>
</div>


