<div>
<!--  <button (click)="closePopUp()"></button>-->
  <div id="popup-content">
    <section *ngIf="this.car" class="carInfo">
      <h2>
        {{this.car.ecv}}
        <span>{{this.statusService.getStatus(this.car.status)}}</span>
      </h2>
      <span *ngIf="this.car.phoneNumber">{{this.car.phoneNumber}}</span>
      <app-get-name-of-driver [car]="this.car"></app-get-name-of-driver>
      <h3 *ngIf="this.car.lastUpdate">{{'CAR.poslednaAktualizacia' | translate}} {{toDateLastUpdateOfCar(this.car.lastUpdate)}}</h3>

      <app-car-naklad [car]="this.car"></app-car-naklad>
    </section>
    <section class="itinerar" *ngIf="this.myAddresses">
      <app-itinerar-da-d></app-itinerar-da-d>
    </section>
  </div>
</div>
