<div class="vodiciWrapper">
  <table mat-table [dataSource]="dataSource" matSort class="tabulka">
    <!-- Name Column -->
    <ng-container class="blackHeader" matColumnDef="meno">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'DISPATCHER.name' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container class="tbl-header" matColumnDef="priezvisko">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'DISPATCHER.surname' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container class="tbl-header" matColumnDef="cislo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'DISPATCHER.phoneNumber' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>
    r
    <ng-container class="tbl-header" matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> {{'DISPATCHER.email' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>


    <ng-container class="tbl-header" matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> {{'DISPATCHER.update' | translate}} </th>
      <td mat-cell *matCellDef="let element"> <button [disabled]="getDispecer()" class="button" (click)="updateVodic(element)" >{{'DISPATCHER.update' | translate}}</button>  </td>
    </ng-container>

    <ng-container class="tbl-header" matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> {{'DISPATCHER.delete' | translate}} </th>
      <td mat-cell *matCellDef="let element"> <img alt="delete" (click)="deleteVodic(element)"  class="delete" src="../../../../../assets/logo/delete.svg"> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
