<div style="position: relative" class="cat-container">
  <div class="headerWrapper">
    <h1 *ngIf="!this.data.deleteOffer" class="header">  {{'HINT.deleteRoute' | translate}}? </h1>
    <h1 *ngIf="this.data.deleteOffer" class="header">  {{'HINT.deleteOffer' | translate}}? </h1>
    <button (click)="close()" class="closeButton">X</button>
  </div>
  <div class="buttons">
    <button class="buttonChoose red" (click)="delete()">{{'OFTEN.ano' | translate}}</button>
    <button (click)="close()" class="buttonChoose green" >{{'OFTEN.nie' | translate}}</button>
  </div>

</div>
