
<div *ngIf="offer" class="example-container">
  <h2>Ponuka</h2>
  <h2>Vyzaduje:
    <h3 [class]="chooseColor('adr')" *ngIf="checkRukaAdrTeplota(realOffer).adr">ADR</h3>
    <h3 [class]="chooseColor('ruka')" *ngIf="checkRukaAdrTeplota(realOffer).ruka">Ruka</h3>
    <h3  *ngIf="checkRukaAdrTeplota(realOffer).teplota.length > 0">
      Teplota:
      <p [class]="getMinMaxTeplotaFromOffer(teplota)" *ngFor="let teplota of checkRukaAdrTeplota(realOffer).teplota">
        {{teplota}}
      </p>
    </h3>
  </h2>
  <app-posli-ponuku [offerId]="this.offer.id" ></app-posli-ponuku>
  <app-ulozenie-ponuky [idPonuky]="this.offer.id" (itiOutput)="sendCarToPredpoklad($event)"></app-ulozenie-ponuky>
  <div
    id="all"
    cdkDropList
    [cdkDropListData]="offer.adresyVPonuke"
    cdkDropListConnectedTo="even"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
    >
    <div
      class="example-box"
      *ngFor="let ponuka of offer.adresyVPonuke; index as i"
      [cdkDragData]="ponuka"
      cdkDrag
      [cdkDragDisabled]="checkIndex(i)">{{ponuka.nameOfTown}}</div>
  </div>
</div>

<div *ngIf="car" class="example-container">
  <h2>Itinerar vozidla {{this.car.ecv}}</h2>

  <div
    id="even"
    cdkDropList
    [cdkDropListData]="this.car.itiAdresy"
    cdkDropListConnectedTo="all"
    class="example-list"
    (cdkDropListDropped)="drop($event)">

    <div
      class="example-box"
      [class]="getColorForTown(i)"
      *ngFor="let address of this.car.itiAdresy; index as i"
      cdkDrag
      [cdkDragData]="address">
      <div>
        {{address.nameOfTown}}
        <span class="oversize" matTooltip="Tovar je priliz velky" matTooltipPosition="right" *ngIf="!kontrolaCiSaVopcha(i)">Nevopcha sa</span>
      </div>
      <div *ngIf="i !== this.car.itiAdresy.length -1 " class="bottomLine">
        <p class="distance">
          {{this.countDistancePoints(i)}}km
        </p>
      </div>


    </div>
  </div>

  <div *ngIf="this.offer.takenBy == ''">
    <h3>Chcete si predbezne ulozit ulozenie ponuky v itinerari auta?</h3>
    <button (click)="ulozPredbezneUlozenie()">Ulozit</button>
  </div>

  <div *ngIf="this.offer.takenBy == this.dataService.getMyIdOrMaster()">
    <h3>Priradit do vozidla?</h3>
    <button [disabled]="offer.adresyVPonuke.length > 0" (click)="priraditVozidlu()">Priradit</button>
  </div>

  <h3>Povodna vzdusna vzdialenost {{this.distanceOfIti}}km</h3>
  <h3>Nova vzdialenost {{this.countDistanceOfItinerarWithOffer()}}km</h3>
  <h3>Rozdiel {{this.countDistanceOfItinerarWithOffer() - this.distanceOfIti}}km</h3>
</div>
