
<div *ngIf="offer" class="example-container">
  <h2>Ponuka <button (click)="openAllDetailDialog()">Podrobne info</button></h2>
  <h2 *ngIf="checkRukaAdrTeplota(realOffer).adr || checkRukaAdrTeplota(realOffer).ruka || checkRukaAdrTeplota(realOffer).teplota.length > 0">Vyzaduje:
    <h3 [class]="chooseColor('adr')" *ngIf="checkRukaAdrTeplota(realOffer).adr">ADR</h3>
    <h3 [class]="chooseColor('ruka')" *ngIf="checkRukaAdrTeplota(realOffer).ruka">Ruka</h3>
    <h3  *ngIf="checkRukaAdrTeplota(realOffer).teplota.length > 0">
      Teplota:
      <p [class]="getMinMaxTeplotaFromOffer(teplota)" *ngFor="let teplota of checkRukaAdrTeplota(realOffer).teplota">
        {{teplota}}
      </p>
    </h3>
  </h2>
  <h2 class="red" *ngIf="!ciSaVopchaCezOtvor">
    Nevopcha sa cez nakladacie otvory!!
  </h2>
  <app-posli-ponuku [offerId]="this.offer.id" ></app-posli-ponuku>
  <app-ulozenie-ponuky [idPonuky]="this.offer.id" (itiOutput)="sendCarToPredpoklad($event)"></app-ulozenie-ponuky>
  <div
    id="all"
    cdkDropList
    [cdkDropListData]="offer.adresyVPonuke"
    cdkDropListConnectedTo="even"
    class="example-list"
    cdkDropListSortingDisabled
    (cdkDropListDropped)="drop($event)">
    <div
      class="example-box"
      *ngFor="let ponuka of offer.adresyVPonuke; index as i"
      [cdkDragData]="ponuka"
      cdkDrag
      [cdkDragDisabled]="checkIndex(i)">
      <div *ngIf="this.ponuka && this.offer.detailVPonuke" class="bednaWrapper">
        <!--      <app-detail-img  class="imageInRow" [address]="this.address[i]"></app-detail-img>-->
        <div class="bednaWrapper" *ngIf="this.offer.detailVPonuke[i].townsArray">
          <div class="bedna" *ngFor="let detail of this.offer.detailVPonuke[i].detailArray; let indexik = index">
            <span class="numberOfBedna">{{getBednaIndex(this.offer.detailVPonuke[i].townsArray[indexik], this.offer.detailVPonuke[i].detailArray[indexik])}}</span>
          </div>
        </div>
        <div class="bednaWrapper" *ngIf="!this.offer.detailVPonuke[i].townsArray">
          <div class="bedna" *ngFor="let detail of this.offer.detailVPonuke[i]; let indexik = index">
            <span class="numberOfBedna">{{getBednaIndex(i, indexik)}}</span>
          </div>
        </div>
      </div>
      <p>
        <span *ngIf="ponuka.type == 'nakladka'" matTooltip="Nakládka" class="nakaldkaVykladka">N</span>
        <span *ngIf="ponuka.type == 'vykladka'" matTooltip="Vykládka" class="nakaldkaVykladka">V</span>
        {{ponuka.nameOfTown}}
      </p>
    </div>
  </div>
</div>
<button *ngIf="car" [disabled]="this.offer.adresyVPonuke.length === 0" (click)="moveAll()">Presun vsetko</button>
<div *ngIf="car" class="example-container">
  <h2>Itinerar vozidla {{this.car.ecv}}</h2>

  <div
    id="even"
    cdkDropList
    [cdkDropListData]="this.car.itiAdresy"
    cdkDropListConnectedTo="all"
    class="example-list"
    (cdkDropListDropped)="drop($event)">

    <div
      class="example-box"
      [class]="getColorForTown(i)"
      *ngFor="let address of this.car.itiAdresy; index as i"
      cdkDrag
      [cdkDragData]="address">
      <div *ngIf="address && this.car.detailIti" class="bednaWrapper">
        <!--      <app-detail-img  class="imageInRow" [address]="this.address[i]"></app-detail-img>-->
        <div class="bednaWrapper" *ngIf="this.car.detailIti[i].townsArray">
          <div class="bedna" *ngFor="let detail of this.car.detailIti[i].detailArray; let indexik = index">
            <span class="numberOfBedna">{{getBednaIndexAuto(this.car.detailIti[i].townsArray[indexik], this.car.detailIti[i].detailArray[indexik])}}</span>
          </div>
        </div>
        <div class="bednaWrapper" *ngIf="!this.car.detailIti[i].townsArray">
          <div class="bedna" *ngFor="let detail of this.car.detailIti[i]; let indexik = index">
            <span class="numberOfBedna">{{getBednaIndexAuto(i, indexik)}}</span>
          </div>
        </div>
      </div>

      <div class="mainInfo">
        <p class="nameOfTown">
          <span *ngIf="address.type == 'nakladka'" matTooltip="Nakládka" class="nakaldkaVykladka">N</span>
          <span *ngIf="address.type == 'vykladka'" matTooltip="Vykládka" class="nakaldkaVykladka">V</span>
          {{address.nameOfTown}}
        </p>
        <span class="oversize" matTooltip="Tovar je priliz tazky" matTooltipPosition="right" *ngIf="volnaVahaPreAuto[i] < 0">Pretazene o {{volnaVahaPreAuto[i]}}t</span>
        <span class="oversize" matTooltip="Tovar je priliz velky" matTooltipPosition="right" *ngIf="!kontrolaCiSaVopcha(i)">Nevopcha sa</span>
      </div>
      <div class="bottom">
        <div *ngIf="i !== this.car.itiAdresy.length -1 " class="bottomLine">
          <span class="spanKm">
            {{this.countDistancePoints(i)}}km
          </span>
        </div>
        <p class="distance">
          <span *ngIf="checkTime(i)">Nestihnete dorazit</span>
        </p>
      </div>



    </div>
  </div>

  <div *ngIf="this.offer.takenBy == ''">
    <h3>Chcete si predbezne ulozit ulozenie ponuky v itinerari auta?</h3>
    <button (click)="ulozPredbezneUlozenie()">Ulozit</button>
  </div>

  <div *ngIf="this.offer.takenBy == this.dataService.getMyIdOrMaster()">
    <h3>Priradit do vozidla?</h3>
    <button [disabled]="offer.adresyVPonuke.length > 0" (click)="priraditVozidlu()">Priradit</button>
  </div>

  <h3>Povodna vzdusna vzdialenost {{this.distanceOfIti}}km</h3>
  <h3>Nova vzdialenost {{this.countDistanceOfItinerarWithOffer()}}km</h3>
  <h3>Rozdiel {{this.countDistanceOfItinerarWithOffer() - this.distanceOfIti}}km</h3>
</div>
