
<div *ngIf="offer" class="example-container">
  <h2>Ponuka <button (click)="openAllDetailDialog()">Podrobne info</button></h2>
  <h2 *ngIf="checkRukaAdrTeplota(realOffer).adr || checkRukaAdrTeplota(realOffer).ruka || checkRukaAdrTeplota(realOffer).teplota.length > 0">Vyzaduje:
    <h3 [class]="chooseColor('adr')" *ngIf="checkRukaAdrTeplota(realOffer).adr">ADR</h3>
    <h3 [class]="chooseColor('ruka')" *ngIf="checkRukaAdrTeplota(realOffer).ruka">Ruka</h3>
    <h3  *ngIf="checkRukaAdrTeplota(realOffer).teplota.length > 0">
      Teplota:
      <p [class]="getMinMaxTeplotaFromOffer(teplota)" *ngFor="let teplota of checkRukaAdrTeplota(realOffer).teplota">
        {{teplota}}
      </p>
    </h3>
  </h2>
  <h3 [class]="getClassForNaklHrana()" *ngIf="vyskaNaklHrany && vyskaNaklHrany.maxVyska > -1 && getClassForNaklHrana() == 'redBack'; else elseHrana">
    <p>Potrebna vyska nakladacej hrany:</p>
    <span *ngIf="vyskaNaklHrany.minVyska > -1">Min: {{vyskaNaklHrany.minVyska}}</span>
    <span>Max: {{vyskaNaklHrany.maxVyska}}</span>
    <h2>Vyska nakl hrany v aute:</h2>
    <p *ngIf="this.car.nakladaciaHrana.length == 2; else else1">Min:{{this.car.nakladaciaHrana[0]}} Max: {{this.car.nakladaciaHrana[1]}}</p>
    <ng-template #else1>
      <p>Vyska {{this.car.nakladaciaHrana[0]}}</p>
    </ng-template>
  </h3>
  <ng-template #elseHrana>
    <h3 *ngIf="vyskaNaklHrany && vyskaNaklHrany.maxVyska > -1" class="greenBack">
      Vyska hrany vyhovuje
    </h3>
  </ng-template>
  <h2 class="red" *ngIf="!ciSaVopchaCezOtvor">
    Nevopcha sa cez nakladacie otvory!!
  </h2>
  <h2 class="red" *ngIf="this.car && !this.car.lattitude">
    Upozornenie!! Vozidlo nema znamu polohu a nedokazeme urcit vzdialenost k ponuke.
    Pre urcenie polohy sa prihlaste do vozidla cez mobilnu aplikaciu.
  </h2>
  <app-posli-ponuku [offerId]="this.offer.id" ></app-posli-ponuku>
  <app-ulozenie-ponuky [idPonuky]="this.offer.id" (itiOutput)="sendCarToPredpoklad($event)"></app-ulozenie-ponuky>
  <div
    id="all"
    cdkDropList
    [cdkDropListData]="offer.adresyVPonuke"
    cdkDropListConnectedTo="even"
    class="example-list"
    cdkDropListSortingDisabled
    (cdkDropListDropped)="drop($event)">
    <div
      class="example-box"
      *ngFor="let ponuka of offer.adresyVPonuke; index as i"
      [cdkDragData]="ponuka"
      cdkDrag
      [cdkDragDisabled]="checkIndex(i)">
      <div *ngIf="this.ponuka && this.offer.detailVPonuke" class="bednaWrapper">
        <!--      <app-detail-img  class="imageInRow" [address]="this.address[i]"></app-detail-img>-->
        <div class="bednaWrapper" *ngIf="ponuka.type === 'nakladka'">
          <div class="bedna" *ngFor="let detail of this.offer.detailVPonuke[i]; let indexik = index">
            <span class="numberOfBedna">{{getBednaIndex(i, indexik)}}</span>
          </div>
        </div>
        <div class="bednaWrapper" *ngIf="ponuka.type === 'vykladka'">
          <div class="bedna" *ngFor="let detail of this.offer.detailVPonuke[i]; let indexik = index">
            <span class="numberOfBedna">{{getBednaIndexNakladky(detail.id)}}</span>
          </div>
        </div>
        <mat-icon *ngIf="ponuka.datumLastPrijazdy != '0' || ponuka.casPrijazdu != '0'" class="material-icons" matSuffix
                  matTooltip="{{timeToLocal(ponuka.datumPrijazdu, ponuka.casPrijazdu)}} - {{timeToLocal(ponuka.datumLastPrijazdy, ponuka.casLastPrijazdu)}}">
          info
        </mat-icon>
      </div>
      <p>
        <span *ngIf="ponuka.type == 'nakladka'" matTooltip="Nakládka" class="nakaldkaVykladka">N</span>
        <span *ngIf="ponuka.type == 'vykladka'" matTooltip="Vykládka" class="nakaldkaVykladka">V</span>
        {{ponuka.nameOfTown}}
      </p>
    </div>
  </div>
</div>
<div *ngIf="car" class="example-container">
  <button *ngIf="car" [disabled]="this.offer.adresyVPonuke.length === 0" (click)="moveAll()">Presun vsetko</button>

  <h2>Itinerar vozidla {{this.car.ecv}}</h2>

  <div
    id="even"
    cdkDropList
    [cdkDropListData]="this.car.itiAdresy"
    cdkDropListConnectedTo="all"
    class="example-list"
    (cdkDropListDropped)="drop($event)">

    <div
      class="example-box"
      [class]="getColorForTown(i)"
      *ngFor="let address of this.car.itiAdresy; index as i"
      cdkDrag
      [cdkDragData]="address">
      <div *ngIf="address && this.car.detailIti" class="bednaWrapper">
        <!--      <app-detail-img  class="imageInRow" [address]="this.address[i]"></app-detail-img>-->
        <div class="bednaWrapper" *ngIf="address.type === 'nakladka'">
          <div class="bedna" *ngFor="let detail of this.car.detailIti[i]; let indexik = index">
            <span class="numberOfBedna">{{getBednaIndexNakladkyAuto(detail.id)}}</span>
          </div>
        </div>
        <div class="bednaWrapper" *ngIf="address.type === 'vykladka'">
          <div class="bedna" *ngFor="let detail of this.car.detailIti[i]; let indexik = index">
            <span class="numberOfBedna">{{getBednaIndexNakladkyAuto(detail.id)}}</span>
          </div>
        </div>
        <mat-icon *ngIf="address.datumLastPrijazdy != '0' || address.casPrijazdu != '0'" class="material-icons" matSuffix
                  matTooltip="{{timeToLocal(address.datumPrijazdu, address.casPrijazdu)}} - {{timeToLocal(address.datumLastPrijazdy, address.casLastPrijazdu)}}">
          info
        </mat-icon>
      </div>

      <div class="mainInfo">
        <p class="nameOfTown">
          <span *ngIf="address.type == 'nakladka'" matTooltip="Nakládka" class="nakaldkaVykladka">N</span>
          <span *ngIf="address.type == 'vykladka'" matTooltip="Vykládka" class="nakaldkaVykladka">V</span>
          {{address.nameOfTown}}
        </p>
        <span class="oversize" matTooltip="Tovar je priliz tazky" matTooltipPosition="right" *ngIf="volnaVahaPreAuto && volnaVahaPreAuto[i] && volnaVahaPreAuto[i] < 0">Pretazene o {{volnaVahaPreAuto[i]}}t</span>
        <span class="oversize" matTooltip="Tovar je priliz velky" matTooltipPosition="right" *ngIf="!kontrolaCiSaVopcha(i)">Nevopcha sa</span>
      </div>
      <div class="bottom">
        <div *ngIf="i !== this.car.itiAdresy.length -1 " class="bottomLine">
          <span class="spanKm">
            {{this.countDistancePoints(i)}}km
          </span>
        </div>
        <p class="distance">
          <span class="oversize" *ngIf="checkDate(i); else time">Mimo mozneho datumu
              <mat-icon class="material-icons" matSuffix
                    matTooltip="Predpokladany cas prijazdu {{estimatedTimeToLocal(this.predpokladaneEsty[i])}}">
                info
              </mat-icon>
          </span>
          <ng-template #time>
            <span class="oversize" *ngIf="checkTime(i)">Mimo mozneho prichodu
              <mat-icon class="material-icons" matSuffix
                        matTooltip="Predpokladany cas prijazdu {{estimatedTimeToLocal(this.predpokladaneEsty[i])}}">
                info
              </mat-icon>
          </span>
          </ng-template>

        </p>
      </div>



    </div>
  </div>

  <div *ngIf="this.offer.takenBy == ''">
    <h3>Chcete si predbezne ulozit ulozenie ponuky v itinerari auta?</h3>
    <button (click)="ulozPredbezneUlozenie()">Ulozit</button>
  </div>

  <div *ngIf="this.offer.takenBy == this.dataService.getMyIdOrMaster()">
    <h3>Priradit do vozidla?</h3>
    <button [disabled]="offer.adresyVPonuke.length > 0" (click)="priraditVozidlu()">Priradit</button>
  </div>

  <h3>Povodna vzdusna vzdialenost {{this.distanceOfIti}}km</h3>
  <h3>Nova vzdialenost {{this.countDistanceOfItinerarWithOffer()}}km</h3>
  <h3>Rozdiel {{this.countDistanceOfItinerarWithOffer() - this.distanceOfIti}}km</h3>
</div>
