<mat-dialog-content class="wrapper">
  <h1 *ngIf="!this.data" class="header">{{'OFTEN.add' | translate}} {{'CAR.car' | translate}}</h1>
  <h1 *ngIf="this.data" class="header">{{'OFTEN.update' | translate}} {{'CAR.car' | translate}}</h1>
  <form class="gridContainer" [formGroup]="carForm">

    <mat-vertical-stepper #stepper>
      <mat-step>
        <ng-template matStepLabel>{{'CAR.ecv' | translate}}, {{'OFTEN.phone' | translate}}</ng-template>
        <div class="carsWrapper">
        <mat-form-field appearance="standard" class="gridItem">
          <mat-label>{{'CAR.ecv' | translate}}</mat-label>
          <input formControlName="ecv" matInput placeholder="{{'CAR.ecv' | translate}}..." required>
          <mat-hint>{{'HINT.ecv' | translate}}</mat-hint>
        </mat-form-field>


        <mat-form-field appearance="standard" class="gridItem">
          <mat-label>{{'OFTEN.phone' | translate}}</mat-label>
          <input formControlName="phone" matInput placeholder="{{'OFTEN.phone' | translate}}...">
          <mat-icon class="material-icons" matSuffix
                    matTooltip="{{'HINT.mobileNumber' | translate}}">
            info
          </mat-icon>
          <mat-hint>{{'OFTEN.phone' | translate}}</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="standard" class="gridItem">
          <mat-label>{{'CAR.pocetNaprav' | translate}}</mat-label>
          <input formControlName="pocetNaprav" type="number" min="0" matInput placeholder="{{'CAR.pocetNaprav' | translate}}..." required>
          <mat-hint>{{'CAR.pocetNaprav' | translate}}</mat-hint>
        </mat-form-field>

        </div>
      </mat-step>


<mat-step>
  <ng-template matStepLabel>{{'CAR.size' | translate}}</ng-template>

  <h3>{{'CAR.size' | translate}}</h3>
  <mat-form-field appearance="standard" class="gridItem">
      <mat-label>{{'CAR.vyskaVozidla' | translate}}</mat-label>
      <input formControlName="autoVyska" step="0.1" matInput type="number" min="0" class="example-right-align" required>
      <span matSuffix>m</span>
    </mat-form-field>

    <mat-form-field appearance="standard" class="gridItem">
      <mat-label>{{'CAR.dlzkaVozidla' | translate}}</mat-label>
      <input formControlName="autoDlzka" step="0.1" matInput type="number" min="0" class="example-right-align" required>
      <span matSuffix>m</span>
    </mat-form-field>

    <mat-form-field appearance="standard" class="gridItem">
      <mat-label>{{'CAR.sirkaVozidla' | translate}}</mat-label>
      <input formControlName="autoSirka" step="0.1" matInput type="number" min="0" class="example-right-align" required>
      <span matSuffix>m</span>
    </mat-form-field>
  <br>
  <h3>{{'CAR.priestorNaTovar' | translate}}</h3>
  <mat-form-field appearance="standard" class="gridItem">
    <mat-label>{{'CAR.vyskaPriestoru' | translate}}</mat-label>
    <input formControlName="priestorVyska" step="0.1" matInput type="number" min="0" class="example-right-align" required>
    <span matSuffix>m</span>
  </mat-form-field>

  <mat-form-field appearance="standard" class="gridItem">
    <mat-label>{{'CAR.dlzkaPriestoru' | translate}}</mat-label>
    <input formControlName="priestorDlzka" step="0.1" matInput type="number" min="0" class="example-right-align" required>
    <span matSuffix>m</span>
  </mat-form-field>

  <mat-form-field appearance="standard" class="gridItem">
    <mat-label>{{'CAR.sirkaPriestoru' | translate}}</mat-label>
    <input formControlName="priestorSirka" step="0.1" matInput type="number" min="0" class="example-right-align" required>
    <span matSuffix>m</span>
  </mat-form-field>
  <h4 *ngIf="checkBiggetSize()">{{'HINT.sizeWarning' | translate}}</h4>
</mat-step>
      <mat-step>
        <ng-template matStepLabel>{{'CAR.nakladaciaHrana' | translate}}</ng-template>
        <mat-slide-toggle (change)="this.updateFormNakHrana()" formControlName="pohyblivaNakHrana"  class="gridItem gridItemStart">
          {{'CAR.pohybliva' | translate}}
        </mat-slide-toggle>

        <div>
          <mat-form-field *ngIf="!this.carForm.get('pohyblivaNakHrana').value" appearance="standard" class="gridItem">
            <mat-label> {{'CAR.vyskaHrany' | translate}}</mat-label>
            <input formControlName="vyskaHrany" step="0.1" matInput type="number" min="0" class="example-right-align">
            <span matSuffix>m</span>
          </mat-form-field>
        </div>

        <div *ngIf="this.carForm.get('pohyblivaNakHrana').value">
          <mat-form-field appearance="standard" class="gridItem">
            <mat-label>{{'CAR.minVyskaHrany' | translate}}</mat-label>
            <input formControlName="minHrana" step="0.1" matInput type="number" min="0" class="example-right-align">
            <span matSuffix>m</span>
          </mat-form-field>

          <mat-form-field appearance="standard" class="gridItem">
            <mat-label>{{'CAR.maxVyskaHrany' | translate}}</mat-label>
            <input formControlName="maxHrana" step="0.1" matInput type="number" min="0" class="example-right-align">
            <span matSuffix>m</span>
          </mat-form-field>
        </div>





      </mat-step>


      <mat-step>
        <ng-template matStepLabel>{{'CAR.vahaANosnost' | translate}}</ng-template>

        <mat-form-field appearance="standard" class="gridItem">
      <mat-label>{{'CAR.vahaVozidla' | translate}}</mat-label>
      <input formControlName="vahaVozidlo" step="0.1" matInput min="0" type="number" placeholder="{{'HINT.vTonach' | translate}}...." required>
      <span matSuffix> t </span>
      <mat-hint>{{'HINT.vTonach' | translate}}</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="standard" class="gridItem">
      <mat-label>{{'CAR.nostnostVozidla' | translate}}</mat-label>
      <input formControlName="nosnost" step="0.1" matInput type="number" min="0" placeholder="{{'HINT.vTonach' | translate}}...." required>
      <span matSuffix> t </span>
      <mat-hint>{{'HINT.vTonach' | translate}}</mat-hint>
    </mat-form-field>
    <div class="gridItem">

    </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>{{'CAR.moznostiNalozenia' | translate}}</ng-template>


<div class="gridContainer">
    <mat-slide-toggle (change)="this.updateFormFromBack()" formControlName="fromBack"  class="gridItem gridItemStart">{{'CAR.nalozenieZoZadu' | translate}}</mat-slide-toggle>

      <div class="DSV" *ngIf="this.carForm.get('fromBack').value">
        <mat-form-field  appearance="standard" class="gridItem">
          <mat-label>{{'CAR.vyskaNakPriestoru' | translate}}</mat-label>
          <input formControlName="zoZaduVyska" step="0.1" type="number" matInput placeholder="{{'CAR.vyskaNakPriestoru' | translate}}...">
          <span matSuffix> m </span>
          <mat-hint>{{'HINT.vMetroch' | translate}}</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="standard" class="gridItem">
          <mat-label>{{'CAR.sirkaNakPriestoru' | translate}}</mat-label>
          <input formControlName="zoZaduSirka" step="0.1" type="number" matInput placeholder="{{'CAR.sirkaNakPriestoru' | translate}}....">
          <span matSuffix> m </span>
          <mat-hint>{{'HINT.vMetroch' | translate}}</mat-hint>
        </mat-form-field>
      </div>


    <mat-slide-toggle (change)="this.updateFormFromRight()" formControlName="fromRight" class="gridItem gridItemStart">{{'CAR.nalozenieZPrava' | translate}}</mat-slide-toggle>
  <div class="DSV" *ngIf="this.carForm.get('fromRight').value">
    <mat-form-field  appearance="standard" class="gridItem">
      <mat-label>{{'CAR.vyskaNakPriestoru' | translate}}</mat-label>
      <input formControlName="zPravaVyska" type="number" step="0.1" matInput placeholder="{{'CAR.vyskaNakPriestoru' | translate}}...">
      <span matSuffix> m </span>
      <mat-hint>{{'HINT.vMetroch' | translate}}</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="standard" class="gridItem">
      <mat-label>{{'CAR.sirkaNakPriestoru' | translate}}</mat-label>
      <input formControlName="zPravaSirka" type="number" step="0.1" matInput placeholder="{{'CAR.sirkaNakPriestoru' | translate}}....">
      <span matSuffix> m </span>
      <mat-hint>{{'HINT.vMetroch' | translate}}</mat-hint>
    </mat-form-field>

  </div>

    <mat-slide-toggle (change)="updateFormFromLeft()" formControlName="fromLeft" class="gridItem gridItemStart">{{'CAR.nalozenieZLava' | translate}}</mat-slide-toggle>
  <div class="DSV" *ngIf="this.carForm.get('fromLeft').value">
    <mat-form-field  appearance="standard" class="gridItem">
      <mat-label>{{'CAR.vyskaNakPriestoru' | translate}}</mat-label>
      <input formControlName="zLavaVyska" type="number" step="0.1" matInput placeholder="{{'CAR.vyskaNakPriestoru' | translate}}...">
      <span matSuffix> m </span>
      <mat-hint>{{'HINT.vMetroch' | translate}}</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="standard" class="gridItem">
      <mat-label>{{'CAR.sirkaNakPriestoru' | translate}}</mat-label>
      <input formControlName="zLavaSirka" type="number" step="0.1" matInput placeholder="{{'CAR.sirkaNakPriestoru' | translate}}....">
      <span matSuffix> m </span>
      <mat-hint>{{'HINT.vMetroch' | translate}}</mat-hint>
    </mat-form-field>

  </div>

    <mat-slide-toggle (change)="updateFormFromUp()" formControlName="fromUp" class="gridItem gridItemStart">{{'CAR.nalozenieZVrchu' | translate}}</mat-slide-toggle>
  <div class="DSV" *ngIf="this.carForm.get('fromUp').value">
    <mat-form-field  appearance="standard" class="gridItem">
      <mat-label>{{'CAR.vyskaNakPriestoru' | translate}}</mat-label>
      <input formControlName="zHoraVyska" step="0.1" matInput placeholder="{{'CAR.vyskaNakPriestoru' | translate}}...">
      <span matSuffix> m </span>
      <mat-hint>{{'HINT.vMetroch' | translate}}</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="standard" class="gridItem">
      <mat-label>{{'CAR.sirkaNakPriestoru' | translate}}</mat-label>
      <input formControlName="zHoraSirka" step="0.1" matInput placeholder="{{'CAR.sirkaNakPriestoru' | translate}}....">
      <span matSuffix> m </span>
      <mat-hint>{{'HINT.vMetroch' | translate}}</mat-hint>
    </mat-form-field>

  </div>
</div>
      </mat-step>


<mat-step>
  <ng-template matStepLabel>{{'CAR.navesASpecRezimy' | translate}}</ng-template>

  <mat-slide-toggle formControlName="pripojitNaves"
      class="gridItem gridItemStart">
    {{'CAR.moznostPripojitNaves' | translate}}
    </mat-slide-toggle>

  <mat-slide-toggle formControlName="teplota"
                    class="gridItem gridItemStart">
    {{'CAR.teplotnyRezim' | translate}}
  </mat-slide-toggle>

  <div *ngIf="this.carForm.get('teplota').value">
      <mat-form-field  appearance="standard" class="gridItem">
        <mat-label>{{'CAR.minTeplota' | translate}}</mat-label>
        <input formControlName="minTeplota" type="number" step="0.1" matInput placeholder="{{'CAR.minTeplota' | translate}}...">
        <span matSuffix> C </span>
        <mat-hint>{{'CAR.vStupnochC' | translate}}</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="standard" class="gridItem">
        <mat-label>{{'CAR.maxTeplota' | translate}}</mat-label>
        <input formControlName="maxTeplota" type="number" step="0.1" matInput placeholder="{{'CAR.maxTeplota' | translate}}....">
        <span matSuffix> C </span>
        <mat-hint>{{'CAR.vStupnochC' | translate}}</mat-hint>
      </mat-form-field>
  </div>

  <mat-slide-toggle formControlName="ruka"
                    class="gridItem gridItemStart">
    {{'CAR.hydraulickaruka' | translate}}
  </mat-slide-toggle>

  <mat-slide-toggle formControlName="adr"
                    class="gridItem gridItemStart">
    {{'CAR.adr' | translate}}
  </mat-slide-toggle>

</mat-step>

      <mat-step>
        <ng-template matStepLabel> {{'CAR.pristupKVozidlu' | translate}}</ng-template>

        <div class="carsWrapper">
          <mat-checkbox formControlName="allVodici">{{'CAR.pristupVsetkym' | translate}}</mat-checkbox>
          <table mat-table [dataSource]="vodici">
            <!-- Position Column -->
            <ng-container matColumnDef="meno">
              <th mat-header-cell *matHeaderCellDef> {{'DISPATCHER.name' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="priezisko">
              <th mat-header-cell *matHeaderCellDef> {{'DISPATCHER.surname' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="prava">
              <th mat-header-cell *matHeaderCellDef> {{'CAR.pravaPreVodica' | translate}} </th>
              <td mat-cell *matCellDef="let element">
                <mat-checkbox [disabled]="checkForPhone(element)" (change)="catchChange(element.id)" [checked]="checkBox(element)"></mat-checkbox>
                <span *ngIf="checkForPhoneNoAllCars(element)">{{'HINT.nemajuTelefoneCislo' | translate}}</span>
                <span *ngIf="textForVodici(element)">{{'HINT.vodicMaPristupKuVsetkym' | translate}}</span>

              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </mat-step>
    </mat-vertical-stepper>

  </form>
  <button *ngIf="!this.data" (click)="saveCar()" type="submit" class="example_c" [disabled]="!carForm.valid">{{'OFTEN.add' | translate}}</button>
  <button *ngIf="this.data" (click)="updateCar()" type="submit" class="example_c" [disabled]="!carForm.valid">{{'OFTEN.update' | translate}}</button>

</mat-dialog-content>


