<div >
  <h1 *ngIf="!this.data" class="header">Pridať vozidlo</h1>
  <h1 *ngIf="this.data" class="header">Upraviť vozidlo</h1>
  <form class="gridContainer" [formGroup]="carForm">

    <mat-horizontal-stepper #stepper>
      <mat-step>
        <ng-template matStepLabel>EČV, tel. číslo</ng-template>
        <mat-form-field appearance="standard" class="gridItem">
          <mat-label>EČV</mat-label>
          <input formControlName="ecv" matInput placeholder="Ečv..." required>
          <mat-hint>Evidenčné číslo</mat-hint>
        </mat-form-field>

        <!--    <label>EČV</label>-->
        <!--    <input type="text" matInput formControlName="ecv" >-->

        <mat-form-field appearance="standard" class="gridItem">
          <mat-label>Telefónne číslo</mat-label>
          <input formControlName="phone" matInput placeholder="Tel. číslo...">
          <mat-icon class="material-icons" matSuffix
                    matTooltip="Vodici sa do vozidla mozu prihlasit pomocou svojho telefoneho cisla, alebo pomocou telefoneho cisla vozidla.">
            info
          </mat-icon>
          <mat-hint>Tel. Číslo</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="standard" class="gridItem">
          <mat-label>Počet náprav</mat-label>
          <input formControlName="pocetNaprav" type="number" min="0" matInput placeholder="Počet náprav..." required>
          <mat-hint>Počet náprav</mat-hint>
        </mat-form-field>

        <div class="gridItem">

        </div>
      </mat-step>


<mat-step errorMessage="Chybajuce udaje!" >
  <ng-template matStepLabel>Veľkosť vozidla</ng-template>

  <h3>Veľkosť vozidla</h3>
  <mat-form-field appearance="standard" class="gridItem">
      <mat-label>Výška vozidla</mat-label>
      <input formControlName="autoVyska" step="0.1" matInput type="number" min="0" class="example-right-align" required>
      <span matSuffix>m</span>
    </mat-form-field>

    <mat-form-field appearance="standard" class="gridItem">
      <mat-label>Dĺžka vozidla</mat-label>
      <input formControlName="autoDlzka" step="0.1" matInput type="number" min="0" class="example-right-align" required>
      <span matSuffix>m</span>
    </mat-form-field>

    <mat-form-field appearance="standard" class="gridItem">
      <mat-label>Šírka vozidla</mat-label>
      <input formControlName="autoSirka" step="0.1" matInput type="number" min="0" class="example-right-align" required>
      <span matSuffix>m</span>
    </mat-form-field>
  <br>
  <h3>Veľkosť priestoru na tovar</h3>
  <mat-form-field appearance="standard" class="gridItem">
    <mat-label>Výška priestoru na tovar</mat-label>
    <input formControlName="priestorVyska" step="0.1" matInput type="number" min="0" class="example-right-align" required>
    <span matSuffix>m</span>
  </mat-form-field>

  <mat-form-field appearance="standard" class="gridItem">
    <mat-label>Dĺžka priestoru na tovar</mat-label>
    <input formControlName="priestorDlzka" step="0.1" matInput type="number" min="0" class="example-right-align" required>
    <span matSuffix>m</span>
  </mat-form-field>

  <mat-form-field appearance="standard" class="gridItem">
    <mat-label>Šírka priestoru na tovar</mat-label>
    <input formControlName="priestorSirka" step="0.1" matInput type="number" min="0" class="example-right-align" required>
    <span matSuffix>m</span>
  </mat-form-field>
  <h4 *ngIf="checkBiggetSize()">Upozornenie! Veľkost priestoru je väčšia ako veľkosť vozidla!!</h4>
</mat-step>
      <mat-step errorMessage="Chybajuce udaje!" >
        <ng-template matStepLabel>Nakladacia hrana</ng-template>
        <mat-slide-toggle (change)="this.updateFormNakHrana()" formControlName="pohyblivaNakHrana"  class="gridItem gridItemStart">
          Pohyblivá nakladacia hrana
        </mat-slide-toggle>

        <div>
          <mat-form-field *ngIf="!this.carForm.get('pohyblivaNakHrana').value" appearance="standard" class="gridItem">
            <mat-label>Výška nakladacej hrany</mat-label>
            <input formControlName="vyskaHrany" step="0.1" matInput type="number" min="0" class="example-right-align">
            <span matSuffix>m</span>
          </mat-form-field>
        </div>

        <div *ngIf="this.carForm.get('pohyblivaNakHrana').value">
          <mat-form-field appearance="standard" class="gridItem">
            <mat-label>Min. výška</mat-label>
            <input formControlName="minHrana" step="0.1" matInput type="number" min="0" class="example-right-align">
            <span matSuffix>m</span>
          </mat-form-field>

          <mat-form-field appearance="standard" class="gridItem">
            <mat-label>Max. výška</mat-label>
            <input formControlName="maxHrana" step="0.1" matInput type="number" min="0" class="example-right-align">
            <span matSuffix>m</span>
          </mat-form-field>
        </div>





      </mat-step>
<!--    <label>Tel. číslo</label>-->
<!--    <input  type="text" matInput formControlName="phone" >-->

      <mat-step errorMessage="Chybajuce udaje!">
        <ng-template matStepLabel>Váha a nosnosť</ng-template>

        <mat-form-field appearance="standard" class="gridItem">
      <mat-label>Váha vozidla</mat-label>
      <input formControlName="vahaVozidlo" step="0.1" matInput min="0" type="number" placeholder="V tonách...." required>
      <span matSuffix> t </span>
      <mat-hint>V tonách</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="standard" class="gridItem">
      <mat-label>Nosnosť vozidla</mat-label>
      <input formControlName="nosnost" step="0.1" matInput type="number" min="0" placeholder="V tonách...." required>
      <span matSuffix> t </span>
      <mat-hint>V tonách</mat-hint>
    </mat-form-field>
    <div class="gridItem">

    </div>
      </mat-step>

      <mat-step errorMessage="Chybajuce udaje!">
        <ng-template matStepLabel>Možnosti naloženia</ng-template>


<div class="gridContainer">
    <mat-slide-toggle (change)="this.updateFormFromBack()" formControlName="fromBack"  class="gridItem gridItemStart">Zo zadu</mat-slide-toggle>

      <div class="DSV" *ngIf="this.carForm.get('fromBack').value">
        <mat-form-field  appearance="standard" class="gridItem">
          <mat-label>Výška nak. pristoru</mat-label>
          <input formControlName="zoZaduVyska" step="0.1" type="number" matInput placeholder="Výška...">
          <span matSuffix> m </span>
          <mat-hint>V metroch</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="standard" class="gridItem">
          <mat-label>Šírka nak. pristoru</mat-label>
          <input formControlName="zoZaduSirka" step="0.1" type="number" matInput placeholder="Šírka....">
          <span matSuffix> m </span>
          <mat-hint>V metroch</mat-hint>
        </mat-form-field>
      </div>


    <mat-slide-toggle (change)="this.updateFormFromRight()" formControlName="fromRight" class="gridItem gridItemStart">Z prava</mat-slide-toggle>
  <div class="DSV" *ngIf="this.carForm.get('fromRight').value">
    <mat-form-field  appearance="standard" class="gridItem">
      <mat-label>Výška nak. pristoru</mat-label>
      <input formControlName="zPravaVyska" type="number" step="0.1" matInput placeholder="Výška...">
      <span matSuffix> m </span>
      <mat-hint>V metroch</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="standard" class="gridItem">
      <mat-label>Šírka nak. pristoru</mat-label>
      <input formControlName="zPravaSirka" type="number" step="0.1" matInput placeholder="Šírka....">
      <span matSuffix> m </span>
      <mat-hint>V metroch</mat-hint>
    </mat-form-field>

  </div>

    <mat-slide-toggle (change)="updateFormFromLeft()" formControlName="fromLeft" class="gridItem gridItemStart">Z ľava</mat-slide-toggle>
  <div class="DSV" *ngIf="this.carForm.get('fromLeft').value">
    <mat-form-field  appearance="standard" class="gridItem">
      <mat-label>Výška nak. pristoru</mat-label>
      <input formControlName="zLavaVyska" type="number" step="0.1" matInput placeholder="Výška...">
      <span matSuffix> m </span>
      <mat-hint>V metroch</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="standard" class="gridItem">
      <mat-label>Šírka nak. pristoru</mat-label>
      <input formControlName="zLavaSirka" type="number" step="0.1" matInput placeholder="Šírka....">
      <span matSuffix> m </span>
      <mat-hint>V metroch</mat-hint>
    </mat-form-field>

  </div>

    <mat-slide-toggle (change)="updateFormFromUp()" formControlName="fromUp" class="gridItem gridItemStart">Z vrchu</mat-slide-toggle>
  <div class="DSV" *ngIf="this.carForm.get('fromUp').value">
    <mat-form-field  appearance="standard" class="gridItem">
      <mat-label>Výška nak. pristoru</mat-label>
      <input formControlName="zHoraVyska" step="0.1" matInput placeholder="Výška...">
      <span matSuffix> m </span>
      <mat-hint>V metroch</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="standard" class="gridItem">
      <mat-label>Šírka nak. pristoru</mat-label>
      <input formControlName="zHoraSirka" step="0.1" matInput placeholder="Šírka....">
      <span matSuffix> m </span>
      <mat-hint>V metroch</mat-hint>
    </mat-form-field>

  </div>
</div>
      </mat-step>

<!--    <mat-form-field appearance="standard">-->
<!--      <mat-label>Amount</mat-label>-->
<!--      <input matInput type="number" class="example-right-align">-->
<!--      <span matSuffix> cm</span>-->
<!--    </mat-form-field>-->
<mat-step>
  <ng-template matStepLabel>Náves, špec. režimy</ng-template>

  <mat-slide-toggle formControlName="pripojitNaves"
      class="gridItem gridItemStart">
      Možnosť pripojiť náves
    </mat-slide-toggle>

  <mat-slide-toggle formControlName="teplota"
                    class="gridItem gridItemStart">
    Teplotný režim
  </mat-slide-toggle>

  <div *ngIf="this.carForm.get('teplota').value">
      <mat-form-field  appearance="standard" class="gridItem">
        <mat-label>Minimálna teplota</mat-label>
        <input formControlName="minTeplota" type="number" step="0.1" matInput placeholder="Min teplota...">
        <span matSuffix> C </span>
        <mat-hint>V stupnoch Celsia</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="standard" class="gridItem">
        <mat-label>Maximálna teplota</mat-label>
        <input formControlName="maxTeplota" type="number" step="0.1" matInput placeholder="Max teplota....">
        <span matSuffix> C </span>
        <mat-hint>V stupnoch Celsia</mat-hint>
      </mat-form-field>
  </div>

  <mat-slide-toggle formControlName="ruka"
                    class="gridItem gridItemStart">
    Hydraulická ruka
  </mat-slide-toggle>

  <mat-slide-toggle formControlName="adr"
                    class="gridItem gridItemStart">
    ADR(prevoz rizikového tovaru)
  </mat-slide-toggle>

</mat-step>

      <mat-step>
        <ng-template matStepLabel>Pristup k vozidlu</ng-template>

        <div class="carsWrapper">
          <mat-checkbox formControlName="allVodici">Udelit pristup vsetkym</mat-checkbox>
          <table mat-table [dataSource]="vodici">
            <!-- Position Column -->
            <ng-container matColumnDef="meno">
              <th mat-header-cell *matHeaderCellDef> Meno </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="priezisko">
              <th mat-header-cell *matHeaderCellDef> Priezvisko </th>
              <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="prava">
              <th mat-header-cell *matHeaderCellDef> Práva </th>
              <td mat-cell *matCellDef="let element">
                <mat-checkbox [disabled]="checkForPhone(element)" (change)="catchChange(element.id)" [checked]="checkBox(element)"></mat-checkbox>
                <span *ngIf="checkForPhoneNoAllCars(element)">Vozidlo ani vodic nemaju telefone cislo</span>
                <span *ngIf="textForVodici(element)">Vodic ma pristup ku vsetkym vozidlam</span>

              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

  </form>
  <button *ngIf="!this.data" (click)="saveCar()" type="submit" class="example_c" [disabled]="!carForm.valid">Pridať</button>
  <button *ngIf="this.data" (click)="updateCar()" type="submit" class="example_c" [disabled]="!carForm.valid">Upraviť</button>

</div>
