<div class="wrapper">
  <section class="company">
    <h1>{{this.company.name}}</h1>
  </section>

  <section class="profile">
    <div class="oneSection">
      <label>{{'DISPATCHER.name' | translate}} </label>
      <h2>{{this.dispecer.name}}</h2>
    </div>

    <div class="oneSection">
      <label>{{'DISPATCHER.surname' | translate}} </label>
      <h2> {{this.dispecer.surname}}</h2>
    </div>


    <div class="oneSection">
      <label>{{'DISPATCHER.email' | translate}} </label>
      <h2>{{this.dispecer.email}}</h2>
    </div>


    <div class="oneSection">
      <label>{{'DISPATCHER.phoneNumber' | translate}} </label>
      <h2>{{this.dispecer.phone}}</h2>
    </div>



    <div class="oneSection">
      <label>{{'VODIC.pristupKVozidlam' | translate}}</label>
      <div *ngIf="!this.dispecer.allCars; else elseCars">
        <ul *ngFor="let car of this.dispecer.myCars">
          <li>{{this.getEcv(car).ecv}}</li>
        </ul>
      </div>
      <ng-template #elseCars>
        <h2>{{'DISPATCHER.pristupKuVsetkymVozidlam' | translate}}</h2>
      </ng-template>
    </div>



    <div class="oneSection">
      <label>{{'DISPATCHER.pristupKuPrivesom' | translate}}:</label>
      <div *ngIf="!this.dispecer.allPrives; else elsePrives">
        <ul *ngFor="let prives of this.dispecer.myPrives">
          <li>{{this.getEcvPrives(prives).ecv}}</li>
        </ul>
      </div>
      <ng-template #elsePrives>
        <h2>{{'DISPATCHER.pristupKuVsetkymPrivesom' | translate}}</h2>
      </ng-template>
    </div>


  </section>


  <button class="zmenaHesla" (click)="passwordChange()">{{'LOGIN.zmenaHesla' | translate}}</button>

</div>
