@import "./src/sccs/shared/mixins";

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tableBorder();
  width: 98%;

}
.profile{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.company{
  border-bottom: 2px solid gray;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

h1{
  margin: 0;
}

.infoButton{
  @include smallButton(gray);
  margin-left: 10px;

}

.oneSection{
  border-bottom: 1px solid gray;
  margin-bottom: 24px;

}

h2{
  margin: 0;
}

.zmenaHesla{
  @include button(orange);
  margin-top: 7px;
}

