<div class="wrapper">
  <section class="company">
    {{this.company.name}}
  </section>

  <h2>{{this.dispecer.name}}</h2>
  <h2>{{this.dispecer.surname}}</h2>
  <h2>{{this.dispecer.email}}</h2>
  <h2>{{this.dispecer.phone}}</h2>
  <h2>{{'VODIC.pristupKVozidlam' | translate}} :</h2>
  <div *ngIf="!this.dispecer.allCars; else elseCars">
    <ul *ngFor="let car of this.dispecer.myCars">
      <li>{{this.getEcv(car).ecv}}</li>
    </ul>
  </div>
  <ng-template #elseCars>
    <p>{{'DISPATCHER.pristupKuVsetkymVozidlam' | translate}}</p>
  </ng-template>


  <h2>{{'DISPATCHER.pristupKuPrivesom' | translate}}:</h2>
  <div *ngIf="!this.dispecer.allPrives; else elsePrives">
    <ul *ngFor="let prives of this.dispecer.myPrives">
      <li>{{this.getEcvPrives(prives).ecv}}</li>
    </ul>
  </div>
  <ng-template #elsePrives>
    <p>{{'DISPATCHER.pristupKuVsetkymPrivesom' | translate}}</p>
  </ng-template>


  <button (click)="passwordChange()">{{'LOGIN.zmenaHesla' | translate}}</button>

</div>
