<mat-dialog-content class="wrapper">
<app-get-info-about-company  (sendCompanyToParent)="getCompanyZadavatel($event)" [masterId]="this.route.createdBy"></app-get-info-about-company>
<app-get-info-about-company *ngIf="this.route.price" (sendCompanyToParent)="getCompanyPrepravca($event)" [masterId]="this.route.takenBy"></app-get-info-about-company>
<div id="allWrapper">
  <header class="headerWrapper">
    <div *ngIf="this.companyZadavatel" class="prepravca">
      <h2>{{'OFFER.zadavatel' | translate}}</h2>
      <h3 class="companyName">{{this.companyZadavatel.name}}</h3>
      <h3 class="address">{{this.companyZadavatel.street}}</h3>
      <h3 class="address">{{this.companyZadavatel.town}}</h3>
      <h3 class="address">{{this.companyZadavatel.country}}</h3>
      <h3 class="icodico">{{'COMPANIES.ico' | translate}}: {{this.companyZadavatel.ico}}</h3>
      <h3 class="icodico">{{'COMPANIES.dico' | translate}}: {{this.companyZadavatel.dicIc}}</h3>
      <h3 *ngIf="this.companyZadavatel.iban" class="icodico">{{'COMPANIES.iban' | translate}}: {{this.companyZadavatel.iban}}</h3>
    </div>

    <div *ngIf="this.companyPrepravca" class="prepravca">
      <h2>{{'OFFER.prepravca' | translate}}</h2>
      <h3 class="companyName">{{this.companyPrepravca.name}}</h3>
      <h3 class="address">{{this.companyPrepravca.street}}</h3>
      <h3 class="address">{{this.companyPrepravca.town}}</h3>
      <h3 class="address">{{this.companyPrepravca.country}}</h3>
      <h3 class="icodico">{{'COMPANIES.ico' | translate}}: {{this.companyPrepravca.ico}}</h3>
      <h3 class="icodico">{{'COMPANIES.dico' | translate}}: {{this.companyPrepravca.dicIc}}</h3>
      <h3 *ngIf="this.companyPrepravca.iban" class="icodico">{{'COMPANIES.iban' | translate}}: {{this.companyPrepravca.iban}}</h3>
    </div>
  </header>

  <div *ngIf="this.route.price">
    <h3 >{{'OFTEN.cena' | translate}}: {{this.route.price}}€</h3>
    <h3>{{'LOG.prijate' | translate}}: {{this.timeToLocal(this.route.finalAcceptDate)}}</h3>
    <h3>{{'LOG.priradene' | translate}}: {{this.timeToLocal(this.route.offerAddedToCarDate)}}</h3>
    <h3>{{'LOG.autoSaNachadzalo' | translate}}:</h3>
    <h3>{{'OFFER.zSirka' | translate}} {{this.roundDecimal(route.carAtPositionLat)}}</h3>
    <h3>{{'OFFER.zDlzka' | translate}} {{this.roundDecimal(route.carAtPositionLon)}}</h3>
  </div>

  <!--   ak to zrusili uplne -->
  <div *ngIf="getOneCompanyCancel(true) && getOneCompanyCancel(false) && this.route.price && this.route.cancelByCreator && this.route.cancelByDriver">
    <p class="addressSmall">{{'COMPANIES.oneCompany' | translate}} {{getFirstCompany(true).spolocnost}}
      {{'LOG.zrusenie1' | translate}} Datum - {{getFirstCompany(true).datum.toString()}}. {{'LOG.zrusenie2' | translate}}
      {{'OFFER.zSirka' | translate}} <span *ngIf="getFirstCompany(true).lat">{{this.roundDecimal(getFirstCompany(true).lat)}}</span>
      {{'OFFER.zDlzka' | translate}} <span *ngIf="getFirstCompany(true).lon">{{this.roundDecimal(getFirstCompany(true).lon)}}</span>.

      {{'COMPANIES.oneCompany' | translate}} {{getFirstCompany(false).spolocnost}} {{'LOG.zrusenie3' | translate}}
      {{'HINT.datum' | translate}} - {{getFirstCompany(false).datum.toString()}}. <span *ngIf="getFirstCompany(false).lat">
        {{'LOG.zrusenie2' | translate}} {{'OFFER.zSirka' | translate}} {{this.roundDecimal(getFirstCompany(false).lat)}}</span>
      <span *ngIf="getFirstCompany(false).lon">{{'OFFER.zDlzka' | translate}} {{this.roundDecimal(getFirstCompany(false).lon)}}</span></p>
  </div>
  <!-- ak to dakto nechce zrusit-->
  <div *ngIf="getOneCompanyCancel(true) && getOneCompanyCancel(false) && this.route.price && (this.route.cancelByCreator || this.route.cancelByDriver) && this.route.dontWannaCancel">
    {{'COMPANIES.oneCompany' | translate}} {{getOneCompanyCancel(true).spolocnost}}
    {{'LOG.zrusenie1' | translate}} {{'HINT.datum' | translate}} - {{getOneCompanyCancel(true).datum.toString()}}.
    <span *ngIf="getOneCompanyCancel(true).lat">{{'LOG.zrusenie2' | translate}} {{'OFFER.zSirka' | translate}} {{this.roundDecimal(getOneCompanyCancel(true).lat)}}</span>
     <span *ngIf="getOneCompanyCancel(true).lon">{{'OFFER.zDlzka' | translate}} {{this.roundDecimal(getOneCompanyCancel(true).lon)}}</span>.

    {{'COMPANIES.oneCompany' | translate}} {{getOneCompanyCancel(false).spolocnost}} {{'LOG.odmiernutie1' | translate}}
    {{'HINT.datum' | translate}} - {{getOneCompanyCancel(false).datum.toString()}}.
    <span *ngIf="getOneCompanyCancel(false).lat">{{'LOG.zrusenie2' | translate}} {{'OFFER.zSirka' | translate}} {{this.roundDecimal(getOneCompanyCancel(false).lat)}}</span>
    <span *ngIf="getOneCompanyCancel(false).lon">{{'OFFER.zDlzka' | translate}} {{this.roundDecimal(getOneCompanyCancel(false).lon)}}</span>
  </div>

  <h1>{{'LOG.prepravovanePalety' | translate}}</h1>
  <table *ngIf="this.detail">
    <tr>
      <th>{{'LOG.nakladkaIndex' | translate}}</th>
      <th>{{'LOG.vykladkaIndex' | translate}}</th>
      <th>{{'PACKAGES.sirka' | translate}}</th>
      <th>{{'PACKAGES.vyska' | translate}}</th>
      <th>{{'PACKAGES.dlzka' | translate}}</th>
      <th>{{'PACKAGES.vaha' | translate}}</th>

    </tr>


    <tr *ngFor="let jedenLog of this.detail; let j = index;">
      <td>{{getIndexAdresy(jedenLog)}}</td>
      <td>{{getIndexAdresyVykladka(jedenLog)}}</td>
      <td>{{jedenLog.sizeS}}</td>
      <td>{{jedenLog.sizeV}}</td>
      <td>{{jedenLog.sizeD}}</td>
      <td>{{jedenLog.weight}}</td>
    </tr>
<!--    </tbody>-->
  </table>

  <h1>{{'LOG.casyADatumy' | translate}}</h1>
  <table *ngIf="this.addresses">
    <tr>
      <th>Id.</th>
      <th>{{'LOG.adresa' | translate}}</th>
      <th>{{'TRANSPORT.dateFrom' | translate}}</th>
      <th>{{'TRANSPORT.dateTo' | translate}}</th>
      <th>{{'TRANSPORT.timeFrom' | translate}}</th>
      <th>{{'TRANSPORT.timeTo' | translate}}</th>

    </tr>
    <!--    <tbody *ngFor="let jedenAllLog of this.detail; let i = index;">-->

    <tr *ngFor="let adresa of this.addresses; let j = index;">
      <td>{{j + 1}}</td>
      <td>{{adresa.nameOfTown}}</td>
      <td>{{timeToLocal(adresa.datumPrijazdu)}}</td>
      <td>{{timeToLocal(adresa.datumLastPrijazdy)}}</td>
      <td>{{thoursLocal(adresa.casPrijazdu)}}</td>
      <td>{{thoursLocal(adresa.casLastPrijazdu)}}</td>
    </tr>
    <!--    </tbody>-->
  </table>

  <h1>{{'OFFER.log' | translate}}</h1>
  <table id="routeLogToSee" #routeLog1 *ngIf="this.routeLog != undefined">
    <tr>
      <th>{{'OFFER.mesto' | translate}}</th>
      <th>{{'OFFER.status' | translate}}</th>
      <th>{{'OFFER.cas' | translate}}</th>
      <th>{{'OFFER.zSirka' | translate}}</th>
      <th>{{'OFFER.zDlzka' | translate}}</th>
      <th>{{'HEADER.map' | translate}}</th>

    </tr>
    <tbody *ngFor="let jedenAllLog of this.routeLog; let i = index;">

    <tr *ngFor="let jedenLog of jedenAllLog.place; let j = index;">
      <td>{{jedenAllLog.place[j]}}</td>
      <td>{{this.routeStatusService.getStatus(jedenAllLog.state[j])}}</td>
      <td>{{this.toDate(jedenAllLog.timestamp[j])}}</td>
      <td>{{roundDecimal(jedenAllLog.lattitude[j])}}</td>
      <td>{{roundDecimal(jedenAllLog.longtitude[j])}}</td>
      <td><button class="buttonShowOnMap" (click)="showOnMap(i, j)">{{'MAP.zobrazitNaMape' | translate}}</button></td>
    </tr>
    </tbody>

    <!--  <p>Ukoncené {{this.toDate(this.routeLog.timestamp[this.routeLog.timestamp.length - 1])}}</p>-->
  </table>
</div>
<button class="buttonDownload" (click)="downloadAsPDF()">{{'OFFER.stiahnutie' | translate}}</button>
<!--<button class="buttonDownload" (click)="downloadAsPDFImg()">{{'OFFER.stiahnutie' | translate}}</button>-->
<div id="allWrapperToDownload">
  <div class="borderArountHeader">
    <header class="headerWrapper">
      <div *ngIf="this.companyZadavatel" class="prepravca">
        <p class="companyNameSmall">{{'OFFER.zadavatel' | translate}}</p>
        <p class="companyNameSmall">{{this.companyZadavatel.name}}</p>
        <p class="addressSmall">{{this.companyZadavatel.street}}</p>
        <p class="addressSmall">{{this.companyZadavatel.town}}</p>
        <p class="addressSmall">{{this.companyZadavatel.country}}</p>
        <p class="addressSmall">{{'COMPANIES.ico' | translate}}: {{this.companyZadavatel.ico}}</p>
        <p class="addressSmall">{{'COMPANIES.dico' | translate}}: {{this.companyZadavatel.dicIc}}</p>
        <p *ngIf="this.companyZadavatel.iban" class="addressSmall">{{'COMPANIES.iban' | translate}}: {{this.companyZadavatel.iban}}</p>
      </div>

      <div class="midBorder">
      </div>


      <div *ngIf="this.companyPrepravca" class="prepravca">
        <p class="companyNameSmall">{{'OFFER.prepravca' | translate}}</p>
        <p class="companyNameSmall">{{this.companyPrepravca.name}}</p>
        <p class="addressSmall">{{this.companyPrepravca.street}}</p>
        <p class="addressSmall">{{this.companyPrepravca.town}}</p>
        <p class="addressSmall">{{this.companyPrepravca.country}}</p>
        <p class="addressSmall">{{'COMPANIES.ico' | translate}}: {{this.companyPrepravca.ico}}</p>
        <p class="addressSmall">{{'COMPANIES.dico' | translate}}: {{this.companyPrepravca.dicIc}}</p>
        <p *ngIf="this.companyPrepravca.iban" class="addressSmall">{{'COMPANIES.iban' | translate}}: {{this.companyPrepravca.iban}}</p>
      </div>
    </header>
  </div>

  <div *ngIf="this.route.price">
    <p class="addressSmall">{{'OFTEN.cena' | translate}}: {{this.route.price}}€</p>
    <p class="addressSmall">{{'LOG.prijate' | translate}}: {{this.timeToLocal(this.route.finalAcceptDate)}}</p>
    <p class="addressSmall">{{'LOG.priradene' | translate}}: {{this.timeToLocal(this.route.offerAddedToCarDate)}}</p>
    <p class="addressSmall">{{'LOG.autoSaNachadzalo' | translate}}:</p>
    <p class="addressSmall">{{'OFFER.zSirka' | translate}} {{this.route.carAtPositionLat}}</p>
    <p class="addressSmall">{{'OFFER.zDlzka' | translate}} {{this.route.carAtPositionLon}}</p>
  </div>

  <!--   ak to zrusili uplne -->
  <div *ngIf="getOneCompanyCancel(true) && getOneCompanyCancel(false) && this.route.price && this.route.cancelByCreator && this.route.cancelByDriver">
    <p class="addressSmall">{{'COMPANIES.oneCompany' | translate}} {{getFirstCompany(true).spolocnost}}
      {{'LOG.zrusenie1' | translate}} {{'HINT.datum' | translate}} - {{getFirstCompany(true).datum.toString()}}. {{'LOG.zrusenie2' | translate}}
      {{'OFFER.zSirka' | translate}} <span *ngIf="getFirstCompany(true).lat">{{this.roundDecimal(getFirstCompany(true).lat)}}</span>
      {{'OFFER.zDlzka' | translate}} <span *ngIf="getFirstCompany(true).lon">{{this.roundDecimal(getFirstCompany(true).lon)}}</span>.

      {{'COMPANIES.oneCompany' | translate}} {{getFirstCompany(false).spolocnost}} {{'LOG.zrusenie3' | translate}}
      {{'HINT.datum' | translate}} - {{getFirstCompany(false).datum.toString()}}. <span *ngIf="getFirstCompany(false).lat">
        {{'LOG.zrusenie2' | translate}} {{'OFFER.zSirka' | translate}} {{this.roundDecimal(getFirstCompany(false).lat)}}</span>
      <span *ngIf="getFirstCompany(false).lon">{{'OFFER.zDlzka' | translate}} {{this.roundDecimal(getFirstCompany(false).lon)}}</span></p>
  </div>
  <!-- ak to dakto nechce zrusit-->
  <div *ngIf="getOneCompanyCancel(true) && getOneCompanyCancel(false) && this.route.price && (this.route.cancelByCreator || this.route.cancelByDriver) && this.route.dontWannaCancel">
    <p class="addressSmall">{{'COMPANIES.oneCompany' | translate}} {{getOneCompanyCancel(true).spolocnost}}
      {{'LOG.zrusenie1' | translate}} Datum - {{getOneCompanyCancel(true).datum.toString()}}.
    <span *ngIf="getOneCompanyCancel(true).lat">{{'LOG.zrusenie2' | translate}} {{'OFFER.zSirka' | translate}}{{this.roundDecimal(getOneCompanyCancel(true).lat)}}</span>
    <span *ngIf="getOneCompanyCancel(true).lon">{{'OFFER.zDlzka' | translate}} {{this.roundDecimal(getOneCompanyCancel(true).lon)}}</span>.

    {{'COMPANIES.oneCompany' | translate}} {{getOneCompanyCancel(false).spolocnost}} {{'LOG.odmiernutie1' | translate}}
      {{'HINT.datum' | translate}} - {{getOneCompanyCancel(false).datum.toString()}}.
    <span *ngIf="getOneCompanyCancel(false).lat">{{'LOG.zrusenie2' | translate}} {{'OFFER.zSirka' | translate}} {{this.roundDecimal(getOneCompanyCancel(false).lat)}}</span>
      <span *ngIf="getOneCompanyCancel(false).lon">{{'OFFER.zDlzka' | translate}} {{this.roundDecimal(getOneCompanyCancel(false).lon)}}</span></p>
  </div>


  <h1 class="companyNameSmall">{{'LOG.prepravovanePalety' | translate}}</h1>
  <table class="routeLogSmall" *ngIf="this.detail">
    <tr>
      <th>{{'LOG.nakladkaIndex' | translate}}</th>
      <th>{{'LOG.vykladkaIndex' | translate}}</th>
      <th>{{'PACKAGES.sirka' | translate}}</th>
      <th>{{'PACKAGES.vyska' | translate}}</th>
      <th>{{'PACKAGES.dlzka' | translate}}</th>
      <th>{{'PACKAGES.vaha' | translate}}</th>
      <th>{{'PACKAGES.stohovatelnost' | translate}}</th>
    </tr>
    <!--    <tbody *ngFor="let jedenAllLog of this.detail; let i = index;">-->

    <tr *ngFor="let jedenLog of this.detail; let j = index;">
      <td>{{getIndexAdresy(jedenLog)}}</td>
      <td>{{getIndexAdresyVykladka(jedenLog)}}</td>
      <td>{{jedenLog.sizeS}}</td>
      <td>{{jedenLog.sizeV}}</td>
      <td>{{jedenLog.sizeD}}</td>
      <td>{{jedenLog.weight}}</td>
      <td>{{jedenLog.stohovatelnost}}</td>
    </tr>
    <!--    </tbody>-->
  </table>

  <h1 class="companyNameSmall">{{'LOG.casyADatumy' | translate}}</h1>
  <table class="routeLogSmall" *ngIf="this.addresses">
    <tr>
      <th>Id.</th>
      <th>{{'LOG.adresa' | translate}}</th>
      <th>{{'TRANSPORT.dateFrom' | translate}}</th>
      <th>{{'TRANSPORT.dateTo' | translate}}</th>
      <th>{{'TRANSPORT.timeFrom' | translate}}</th>
      <th>{{'TRANSPORT.timeTo' | translate}}</th>

    </tr>
    <!--    <tbody *ngFor="let jedenAllLog of this.detail; let i = index;">-->

    <tr *ngFor="let adresa of this.addresses; let j = index;">
      <td>{{j + 1}}</td>
      <td>{{adresa.nameOfTown}}</td>
      <td>{{timeToLocal(adresa.datumPrijazdu)}}</td>
      <td>{{timeToLocal(adresa.datumLastPrijazdy)}}</td>
      <td>{{thoursLocal(adresa.casPrijazdu)}}</td>
      <td>{{thoursLocal(adresa.casLastPrijazdu)}}</td>
    </tr>
    <!--    </tbody>-->
  </table>


  <h3 class="icodicoSmall" *ngIf="this.route.price; else elseInterna">{{'OFTEN.cena' | translate}}: {{this.route.price}}</h3>
  <ng-template #elseInterna>
    <h3>{{'LOG.internaPraprava' | translate}}</h3>
  </ng-template>
  <h1  class="companyNameSmall">{{'OFFER.log' | translate}}</h1>
  <table class="routeLogSmall" #routeLog1 *ngIf="this.routeLog != undefined">
    <tr>
      <th>{{'OFFER.mesto' | translate}}</th>
      <th>{{'OFFER.status' | translate}}</th>
      <th>{{'OFFER.cas' | translate}}</th>
      <th>{{'OFFER.zSirka' | translate}}</th>
      <th>{{'OFFER.zDlzka' | translate}}</th>

    </tr>
    <tbody *ngFor="let jedenAllLog of this.routeLog; let i = index;">

    <tr *ngFor="let jedenLog of jedenAllLog.place; let j = index;">
      <td>{{jedenAllLog.place[j]}}</td>
      <td>{{this.routeStatusService.getStatus(jedenAllLog.state[j])}}</td>
      <td>{{this.toDate(jedenAllLog.timestamp[j])}}</td>
      <td>{{roundDecimal(jedenAllLog.lattitude[j])}}</td>
      <td>{{roundDecimal(jedenAllLog.longtitude[j])}}</td>
    </tr>
    </tbody>

    <!--  <p>Ukoncené {{this.toDate(this.routeLog.timestamp[this.routeLog.timestamp.length - 1])}}</p>-->
  </table>
  <p class="infoText">{{'LOG.logInfo' | translate}}</p>
</div>

</mat-dialog-content>
