
<app-get-info-about-company  (sendCompanyToParent)="getCompanyZadavatel($event)" [masterId]="this.route.createdBy"></app-get-info-about-company>
<app-get-info-about-company *ngIf="this.route.price" (sendCompanyToParent)="getCompanyPrepravca($event)" [masterId]="this.route.takenBy"></app-get-info-about-company>
<div id="allWrapper">
  <header class="headerWrapper">
    <div *ngIf="this.companyZadavatel" class="zadavatel">
      <h2>{{'OFFER.zadavatel' | translate}}</h2>
      <h3>{{this.companyZadavatel.name}}</h3>
      <h3>{{this.companyZadavatel.street}}</h3>
      <h3>{{this.companyZadavatel.town}}</h3>
      <h3>{{this.companyZadavatel.country}}</h3>
      <h3>{{this.companyZadavatel.ico}}</h3>
      <h3>{{this.companyZadavatel.dicIc}}</h3>
    </div>

    <div *ngIf="this.companyPrepravca" class="prepravca">
      <h2>{{'OFFER.prepravca' | translate}}: </h2>
      <h3>{{this.companyPrepravca.name}}</h3>
      <h3>{{this.companyPrepravca.street}}</h3>
      <h3>{{this.companyPrepravca.town}}</h3>
      <h3>{{this.companyPrepravca.country}}</h3>
      <h3>{{this.companyPrepravca.ico}}</h3>
      <h3>{{this.companyPrepravca.dicIc}}</h3>
    </div>
  </header>
  <h3 *ngIf="this.route.price">{{'OFTEN.cena' | translate}}: {{this.route.price}}</h3>
  <h1>{{'OFFER.log' | translate}}</h1>
  <table id="routeLog" #routeLog1 *ngIf="this.routeLog != undefined">
    <tr>
      <th>{{'OFFER.mesto' | translate}}</th>
      <th>{{'OFFER.status' | translate}}</th>
      <th>{{'OFFER.cas' | translate}}</th>
      <th>{{'OFFER.zSirka' | translate}}</th>
      <th>{{'OFFER.zDlzka' | translate}}</th>

    </tr>
    <tbody *ngFor="let jedenAllLog of this.routeLog; let i = index;">

    <tr *ngFor="let jedenLog of jedenAllLog.place; let j = index;">
      <td>{{jedenAllLog.place[j]}}</td>
      <td>{{this.routeStatusService.getStatus(jedenAllLog.state[j])}}</td>
      <td>{{this.toDate(jedenAllLog.timestamp[j])}}</td>
      <td>{{jedenAllLog.lattitude[j]}}</td>
      <td>{{jedenAllLog.longtitude[j]}}</td>
    </tr>
    </tbody>

    <!--  <p>Ukoncené {{this.toDate(this.routeLog.timestamp[this.routeLog.timestamp.length - 1])}}</p>-->
  </table>
</div>
<button class="buttonDownload" (click)="downloadAsPDF()">{{'OFFER.stiahnutie' | translate}}</button>

