.bednaWrapper{
  display: flex;
}

.bedna{
  width: 18px;
  height: 18px;
  border: 2px solid gray;
  border-radius: 1px;
  margin: {
    left: 2px;
    right: 2px;
    bottom: 2px;
  };
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.numberOfBedna{
  font-size: 15px;
}
