<mat-dialog-content class="wrapper">

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel *ngFor="let address of this.addresses; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{address.nameOfTown}}
        </mat-panel-title>
        <mat-panel-description>
          <span *ngIf="address.type === 'nakladka'">{{'CAR.nakladka' | translate}}</span>
          <span *ngIf="address.type === 'vykladka'">{{'CAR.vykladka' | translate}}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{'PACKAGES.packages' | translate}}:
      <div *ngIf="this.detail && this.detail[i] != undefined" class="bednaWrapper">
        <!--      <app-detail-img  class="imageInRow" [address]="this.address[i]"></app-detail-img>-->
        <div class="bednaWrapper" *ngIf="this.detail[i].townsArray">
          <div (click)="openPackageDialogTowns(i, indexik)" class="bedna" *ngFor="let detailOf of this.detail[i].townsArray; let indexik = index">
            <span class="numberOfBedna">{{getBednaIndex(this.detail[i].townsArray[indexik], this.detail[i].detailArray[indexik])}}</span>
          </div>
        </div>
        <div class="bednaWrapper" *ngIf="!this.detail[i].townsArray">
          <div (click)="openPackageDialog(i, indexik)" class="bedna" *ngFor="let detail of this.detail[i]; let indexik = index">
            <span class="numberOfBedna">{{getBednaIndex(i, indexik)}}</span>
          </div>
        </div>

      </div>

      <p *ngIf="address.ruka">{{'PACKAGES.potHydRuka' | translate}}</p>
      <p *ngIf="address.adr">{{'PACKAGES.potAdr' | translate}}</p>
      <p>{{'TRANSPORT.obsluznyCas' | translate}}: {{address.obsluznyCas}} {{'HINT.hodin' | translate}}</p>
      <p *ngIf="address.datumPrijazdu != '0'; else elseDatumOd">{{'TRANSPORT.datumPrijazdu' | translate}} {{'HINT.od' | translate}} {{address.datumPrijazdu}}</p>
      <ng-template #elseDatumOd>
        <p>{{'TRANSPORT.datumPrijazdu' | translate}} {{'HINT.od'  | translate}}: {{'OFTEN.nerozhoduje' | translate}}</p>
      </ng-template>
      <p *ngIf="address.datumLastPrijazdy != '0'; else elseDatumDo">{{'TRANSPORT.datumPrijazdu' | translate}} {{'HINT.do' | translate}}{{address.datumLastPrijazdy}}</p>
      <ng-template #elseDatumDo><p>{{'TRANSPORT.datumPrijazdu' | translate}} {{'HINT.od' | translate}}: {{'OFTEN.nerozhoduje' | translate}}</p></ng-template>
      <p  *ngIf="address.casPrijazdu != '0'; else elseCasOd">{{'TRANSPORT.casPrijazdu' | translate}}{{'HINT.od' | translate}} {{address.casPrijazdu}}</p>
      <ng-template #elseCasOd><p>{{'TRANSPORT.casPrijazdu' | translate}} {{'HINT.od' | translate}}: {{'OFTEN.nerozhoduje' | translate}}</p></ng-template>
      <p  *ngIf="address.casLastPrijazdu != '0'; else elseCasDo">{{'TRANSPORT.casPrijazdu' | translate}}{{'HINT.od' | translate}} {{address.casLastPrijazdu}}</p>
      <ng-template #elseCasDo><p>{{'TRANSPORT.casPrijazdu' | translate}} {{'HINT.do' | translate}}: {{'OFTEN.nerozhoduje'| translate}}</p></ng-template>
      <p>{{address.teplota}}</p>
      <p></p>
    </mat-expansion-panel>
  </mat-accordion>

</mat-dialog-content>


