@import "./src/sccs/shared/mixins";

.companyWrapper{
  @include table();
  width: 100%;
}

.buttonWrapper{
  display: flex;
  justify-content: center;
}

.tabulka{
  width: 100%;
}

.button{
  @include tableButton();
}

.buttonG {
  @include tableAddButton();
}
.buttonG:hover{
  background-color: #4CAF50;
}

