<div class="companyWrapper">
  <h2>{{'COMPANIES.comapnies' | translate}}</h2>
  <mat-form-field appearance="standard">
    <mat-label>{{'FILTER.filter' | translate}} </mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="{{'FILTER.companyOrTown' | translate}}" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="tabulka">
    <!-- Name Column -->
    <ng-container class="blackHeader" matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANIES.name' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container class="tbl-header" matColumnDef="psc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANIES.psc' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.psc}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container class="tbl-header" matColumnDef="street">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANIES.street' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.street}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container class="tbl-header" matColumnDef="town">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANIES.town' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.town}} </td>
    </ng-container>

    <ng-container class="tbl-header" matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANIES.state' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.country}} </td>
    </ng-container>

    <ng-container class="tbl-header" matColumnDef="ico">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANIES.ico' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.ico}} </td>
    </ng-container>

    <ng-container class="tbl-header" matColumnDef="dicIc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANIES.dico' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.dicIc}} </td>
    </ng-container>

    <ng-container class="tbl-header" matColumnDef="poistenie">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANIES.poistenie' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.poistenie}} </td>
    </ng-container>

    <ng-container  class="tbl-header" matColumnDef="licenceUntil">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANIES.licenica' | translate}} </th>
      <td [class]="getColorForLicenceUntil(element.licenceUntil)" mat-cell *matCellDef="let element"> {{element.licenceUntil}} </td>
    </ng-container>

    <ng-container class="tbl-header" matColumnDef="cars">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANIES.maxVozidiel' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.numberOfCars}} </td>
    </ng-container>

    <ng-container class="tbl-header" matColumnDef="drivers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANIES.maxJazdcov' | translate}}  </th>
      <td mat-cell *matCellDef="let element"> {{element.numberOfDrivers}} </td>
    </ng-container>

    <ng-container class="tbl-header" matColumnDef="dispecers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANIES.maxDispecerov' | translate}}  </th>
      <td mat-cell *matCellDef="let element"> {{element.numberOfDispetchers}} </td>
    </ng-container>

    <ng-container class="tbl-header" matColumnDef="detail">
      <th mat-header-cell *matHeaderCellDef> {{'OFTEN.detail' | translate}} </th>
      <td mat-cell *matCellDef="let element"> <button (click)="detailAboutCompany(element)" class="button" >{{'OFTEN.detail' | translate}}</button>  </td>
    </ng-container>

    <ng-container class="tbl-header" matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> {{'OFTEN.update' | translate}} </th>
      <td mat-cell *matCellDef="let element"> <button (click)="updateCompany(element)" class="button" >{{'OFTEN.update' | translate}}</button>  </td>
    </ng-container>

<!--    <ng-container class="tbl-header" matColumnDef="delete">-->
<!--      <th mat-header-cell *matHeaderCellDef> Delete </th>-->
<!--      <td mat-cell *matCellDef="let element"> <img alt="delete"   class="delete" src="./assets/logo/delete.svg"> </td>-->
<!--    </ng-container>-->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">{{'FILTER.noData' | translate}} "{{input.value}}"</td>
    </tr>
  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 25, 50, 100]" aria-label="Select page of users"></mat-paginator>
  <div class="buttonWrapper">
    <button (click)="addCompany()" class="buttonG">{{'OFTEN.add' | translate}}</button>
  </div>
</div>






<!--<section>-->
<!--  <h2>{{company.name}}</h2>-->
<!--  <h3>{{company.street}}</h3>-->
<!--  <h3>{{company.town}}</h3>-->
<!--  <h3>{{company.country}}</h3>-->
<!--  <h3>{{company.ico}}</h3>-->
<!--  <h3>{{company.dicIc}}</h3>-->
<!--  <h3 *ngIf="company.poistenie">{{company.poistenie}}</h3>-->
<!--  <h3 *ngIf="!company.poistenie">Bez poistenia</h3>-->
<!--  <h2>Licencia: {{company.licenceUntil}}</h2>-->
<!--</section>-->
