<div class="carsWrapper">
  <table mat-table [dataSource]="dataSource" matSort class="tabulka">
    <!-- Name Column -->
    <ng-container class="blackHeader" matColumnDef="nazov">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazov </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container class="tbl-header" matColumnDef="ulica">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ulica </th>
      <td mat-cell *matCellDef="let element"> {{element.street}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container class="tbl-header" matColumnDef="mesto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mesto </th>
      <td mat-cell *matCellDef="let element"> {{element.town}} </td>
    </ng-container>
    r
    <ng-container class="tbl-header" matColumnDef="stat">
      <th mat-header-cell *matHeaderCellDef> Stat </th>
      <td mat-cell *matCellDef="let element"> {{element.country}} </td>
    </ng-container>

    <ng-container class="tbl-header" matColumnDef="ico">
      <th mat-header-cell *matHeaderCellDef> Ico </th>
      <td mat-cell *matCellDef="let element"> {{element.ico}} </td>
    </ng-container>

    <ng-container class="tbl-header" matColumnDef="dic">
      <th mat-header-cell *matHeaderCellDef> Dic </th>
      <td mat-cell *matCellDef="let element"> {{element.dicIc}} </td>
    </ng-container>

    <ng-container class="tbl-header" matColumnDef="poistenie">
      <th mat-header-cell *matHeaderCellDef> Poistenie </th>
      <td mat-cell *matCellDef="let element"> {{element.poistenie}} </td>
    </ng-container>

    <ng-container class="tbl-header" matColumnDef="licencia">
      <th mat-header-cell *matHeaderCellDef> Licencia </th>
      <td mat-cell *matCellDef="let element"> {{element.licenceUntil}} </td>
    </ng-container>



    <ng-container class="tbl-header" matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Upraviť </th>
      <td mat-cell *matCellDef="let element"> <button (click)="updateCompany(element)" class="button" >Upraviť</button>  </td>
    </ng-container>

<!--    <ng-container class="tbl-header" matColumnDef="delete">-->
<!--      <th mat-header-cell *matHeaderCellDef> Delete </th>-->
<!--      <td mat-cell *matCellDef="let element"> <img alt="delete"   class="delete" src="./assets/logo/delete.svg"> </td>-->
<!--    </ng-container>-->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>






<!--<section>-->
<!--  <h2>{{company.name}}</h2>-->
<!--  <h3>{{company.street}}</h3>-->
<!--  <h3>{{company.town}}</h3>-->
<!--  <h3>{{company.country}}</h3>-->
<!--  <h3>{{company.ico}}</h3>-->
<!--  <h3>{{company.dicIc}}</h3>-->
<!--  <h3 *ngIf="company.poistenie">{{company.poistenie}}</h3>-->
<!--  <h3 *ngIf="!company.poistenie">Bez poistenia</h3>-->
<!--  <h2>Licencia: {{company.licenceUntil}}</h2>-->
<!--</section>-->
