@import "./src/sccs/shared/mixins";

.radios{
  margin-left: 5px;
}

.oneGroup{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redTitle{
  color: red;
}

.bedna{
  width: 60px;
  margin: 6px;
  cursor: pointer;
}

.lastAdded{
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  flex-direction: column;
}

.vyska{
  position: absolute;
  top: 60px;
  right: 55px;
}

.sirka{
  position: absolute;
  right: 73px;
  bottom: -4px;
}

.dlzka{
  position: absolute;
  left: 65px;
  bottom: -5px;
}

.sizeInput{
  width: 8em;
  margin: {
    left: 5px;
    top: 5px;
  }
}

.nextBack{
  @include smallButton(#343a40)
}

.buttonG{
  @include buttonNoColor();
  background-color: lime;
  color: white;
}

button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: #666666;
}

.addButton{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.radioButtons{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.velkosti{
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  margin-bottom: 5px;
  padding: 7px;
}

.velkosti2{
  background-color: rgb(210, 210, 210);
  border-radius: 8px;
  margin-bottom: 5px;
  padding: 7px;
}

.boldFont{
  font-weight: 500;
}
