<mat-accordion class="example-headers-align">
<mat-expansion-panel [expanded]="true" #mepFirst="matExpansionPanel">
  <mat-expansion-panel-header>
    <mat-panel-title *ngIf="this.routeFromGoogle; else elseTitle">
      {{this.routeFromGoogle}}
    </mat-panel-title>
    <ng-template #elseTitle>
      <mat-panel-title class="redTitle">
        Vyberte mesto a typ(nakladka, vykladka)
      </mat-panel-title>
    </ng-template>

    <mat-panel-description *ngIf="this.labelPosition; else elseLabel">
      {{this.labelPosition}} : {{infoAboutRoute}}
    </mat-panel-description>

    <ng-template #elseLabel>
      <mat-panel-description>
        Vyberte typ
      </mat-panel-description>
    </ng-template>
  </mat-expansion-panel-header>

  <app-adresses #childGoogle *ngIf="checkFinished()"  (placeName)="getAdress($event)"
                (placeLat)="getLat($event)"
                (placeLon)="getLon($event)">
  </app-adresses>

  <mat-radio-group (change)="formUpdate()"  class="radioButtons" [(ngModel)]="labelPosition">
    <mat-radio-button class="radios" value="nakladka">Nakládka</mat-radio-button>
    <mat-radio-button class="radios" value="vykladka">Vykládka</mat-radio-button>
  </mat-radio-group>


  <input class="form-control" placeholder="Pridaj poznámku k adrese..." type="text" [(ngModel)]="infoAboutRoute">

</mat-expansion-panel>

  <mat-expansion-panel #mep="matExpansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title *ngIf="datumPrichodu && casPrichodu; else elseTitleDatum">
        Datum prijazdu: {{datumPrichodu}} , Cas prijazdu: {{casPrichodu}}
      </mat-panel-title>
      <ng-template #elseTitleDatum>
        <mat-panel-title class="redTitle">
          Vyberte datum a cas prijazdu
        </mat-panel-title>
      </ng-template>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="dateAlone">
      <h2>Datum</h2>
      <mat-radio-group [(ngModel)]="datumPrichodu">
        <mat-radio-button class="radios" value="nerozhoduje">Nerozhoduje</mat-radio-button>
        <mat-radio-button class="radios" value="rozhoduje">Rozhoduje</mat-radio-button>
      </mat-radio-group>

      <mat-form-field appearance="fill" *ngIf="datumPrichodu == 'rozhoduje'">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker" [min]="minDate">
          <input formControlName="startDate" matStartDate placeholder="Start date">
          <input formControlName="endDate" matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div class="dateAlone">
      <h2>Cas</h2>
      <mat-radio-group [(ngModel)]="casPrichodu">
        <mat-radio-button class="radios" value="nerozhoduje">Nerozhoduje</mat-radio-button>
        <mat-radio-button class="radios" value="rozhoduje">Rozhoduje</mat-radio-button>
      </mat-radio-group>

      <div [formGroup]="dateRange" *ngIf="casPrichodu == 'rozhoduje'">
        <mat-form-field  class="sizeInput">
          <mat-label>Časové okno od</mat-label>
          <input formControlName="timeFrom" matInput type="time">
        </mat-form-field>

        <mat-form-field class="sizeInput">
          <mat-label>Časové okno do</mat-label>
          <input matInput type="time" formControlName="timeTo">
        </mat-form-field>
      </div>
    </div>


    <div class="dateAlone">
      <mat-form-field [formGroup]="dateRange" appearance="standard" >
        <mat-label>Obsluzný čas</mat-label>
        <input min="0" type="number" matInput placeholder="Počet hodín...." formControlName="obsluznyCas">
        <span matSuffix> hod. </span>
        <mat-hint>Počet hodín</mat-hint>
      </mat-form-field>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel #mep="matExpansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Teplotny rezim, Hydraulicka ruka, Adr
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="oneGroup" [formGroup]="specForm">
      <mat-slide-toggle formControlName="teplota"
                        class="gridItem gridItemStart">
        Teplotný režim
      </mat-slide-toggle>

      <div *ngIf="this.specForm.get('teplota').value">
        <mat-form-field  appearance="standard" class="gridItem">
          <mat-label>Potrebná teplota</mat-label>
          <input formControlName="potrebnaTeplota" type="number" step="1" matInput placeholder="Teplota...">
          <span matSuffix> C </span>
          <mat-hint>V stupnoch Celsia</mat-hint>
        </mat-form-field>
      </div>

      <mat-slide-toggle formControlName="ruka"
                        class="gridItem gridItemStart">
        Hydraulická ruka
      </mat-slide-toggle>

      <mat-slide-toggle formControlName="adr"
                        class="gridItem gridItemStart">
        ADR
        <mat-icon class="material-icons" matSuffix
                  matTooltip="Prevoz rizikového tovaru">
          info
        </mat-icon>
      </mat-slide-toggle>
    </div>
  </mat-expansion-panel>


  <mat-expansion-panel #mep="matExpansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title *ngIf="this.transportForm.valid; else elsePackages">
        Velkosti balikov
      </mat-panel-title>
      <ng-template #elsePackages>
        <mat-panel-title class="redTitle">
          Zadajte velkosti nakladu
        </mat-panel-title>
      </ng-template>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="formAndBedna">

      <h4>Počet kusov</h4>

      <div *ngIf="this.lastAddedPackage && labelPosition == 'nakladka'" class="lastAdded">
        <p>Posledne pridany balik: </p>
        <img (click)="getLastAddedItem()" class="bedna nevylozene" src="./assets/logo/cube.png">
        <span class="vyska">{{this.lastAddedPackage.sizeV}}</span>
        <span class="sirka">{{this.lastAddedPackage.sizeS}}</span>
        <span class="dlzka">{{this.lastAddedPackage.sizeD}}</span>
      </div>

      <mat-form-field appearance="standard" >
        <mat-label>Počet kusov</mat-label>
        <input (change)="sizeUpdate()" [(ngModel)]="numberOfItems" min="1" type="number" matInput placeholder="Počet....">
        <span matSuffix> ks </span>
        <mat-hint>Počet</mat-hint>
      </mat-form-field>



      <p>Parametre {{actualItemInForm + 1}} z {{numberOfItems}}</p>

      <form  class="detailFormular" [formGroup]="transportForm" #detailForm="ngForm">
        <div class="size">
          <mat-form-field (change)="upravBednu()" appearance="standard" class="sizeInput">
            <mat-label>Šírka</mat-label>
            <input formControlName="sizeS" type="number" step="0.1" matInput placeholder="Šírka....">
            <span matSuffix> m </span>
            <mat-hint>V metroch</mat-hint>
          </mat-form-field>

          <mat-form-field (change)="upravBednu()" appearance="standard" class="sizeInput">
            <mat-label>Výška</mat-label>
            <input formControlName="sizeV" type="number" step="0.1" matInput placeholder="Výška....">
            <span matSuffix> m </span>
            <mat-hint>V metroch</mat-hint>
          </mat-form-field>

          <mat-form-field (change)="upravBednu()" appearance="standard" class="sizeInput">
            <mat-label>Dĺžka</mat-label>
            <input formControlName="sizeD" type="number" step="0.1" matInput placeholder="Dĺžka....">
            <span matSuffix> m </span>
            <mat-hint>V metroch</mat-hint>
          </mat-form-field>

          <h4>Váha</h4>

          <mat-form-field (change)="upravSipku()" appearance="standard" class="sizeInput">
            <mat-label>Váha</mat-label>
            <input type="number" formControlName="weight" step="0.1" matInput placeholder="Váha....">
            <span matSuffix> t </span>
            <mat-hint>V tonách</mat-hint>
          </mat-form-field>

          <h4>Poloha nakladania</h4>

          <mat-radio-group formControlName="poziciaNakladania">
            <mat-radio-button (change)="updateFormPosition()" class="example-margin" value="nerozhoduje">Nerozhoduje</mat-radio-button>
            <mat-radio-button (change)="updateFormPosition()" class="example-margin" value="rozhoduje">Rozhoduje</mat-radio-button>
          </mat-radio-group>

          <div  *ngIf="this.transportForm.get('poziciaNakladania').value == 'rozhoduje'">
            <mat-checkbox (change)="updateMatLabelForm()" formControlName="fromBackSide">Zo zadu</mat-checkbox>
            <mat-checkbox (change)="updateMatLabelForm()" formControlName="fromSide">Z boku</mat-checkbox>
            <mat-checkbox (change)="updateMatLabelForm()" formControlName="fromUpSide">Z vrchu</mat-checkbox>
          </div>

          <h4>Požadovaná výška nakladacej hrany</h4>

          <mat-radio-group formControlName="vyskaHrany">
            <mat-radio-button (change)="updateValidFormHrana()"  class="example-margin" value="nerozhoduje">Nerozhoduje</mat-radio-button>
            <mat-radio-button (change)="updateValidFormHrana()"  class="example-margin" value="rozhoduje">Rozhoduje</mat-radio-button>
          </mat-radio-group>

          <mat-form-field *ngIf="this.transportForm.get('vyskaHrany').value == 'rozhoduje'" appearance="standard" class="sizeInput">
            <mat-label>Výška nak. hrany</mat-label>
            <input type="number"  min="0" step="0.1" formControlName="vyskaHranySize" matInput placeholder="Výška....">
            <span matSuffix> m </span>
            <mat-hint>V metroch</mat-hint>
          </mat-form-field>

          <h4>Stohovateľnosť</h4>

          <mat-radio-group formControlName="stohovatelnost">
            <mat-radio-button (change)="updateFormStoho()"  class="example-margin" value="nie">Nie</mat-radio-button>
            <mat-radio-button (change)="updateFormStoho()"  class="example-margin" value="ano">Áno</mat-radio-button>
          </mat-radio-group>

          <mat-form-field *ngIf="this.transportForm.get('stohovatelnost').value == 'ano'" appearance="standard" class="sizeInput">
            <mat-label>Max. nosnost</mat-label>
            <input type="number"  min="0" step="0.1" formControlName="stohoSize" matInput placeholder="Výška....">
            <span matSuffix> kg </span>
            <mat-hint>V kilogramoch</mat-hint>
          </mat-form-field>

          <button [disabled]="this.checkIfCanSKipToPrevious()" (click)="previousItem()">Späť</button>
          <button [disabled]="this.checkIfCanSKipToNext()" (click)="nextItem()">Ďalej</button>

        </div>

      </form>


    </div>
  </mat-expansion-panel>

  <div class="addButton">
    <button class="buttonG" [disabled]="this.checkIfCanAddNextAdress(false)"  (click)="add()">Pridať +</button>
  </div>

</mat-accordion>




