.radios{
  margin-left: 5px;
}

.oneGroup{
  border: 2px solid;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redTitle{
  color: red;
}

.bedna{
  width: 60px;
  margin: 6px;
  cursor: pointer;
}

.lastAdded{
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  flex-direction: column;
}

.vyska{
  position: absolute;
  top: 60px;
  right: 30px;
}

.sirka{
  position: absolute;
  right: 50px;
  bottom: -4px;
}

.dlzka{
  position: absolute;
  left: 45px;
  bottom: -5px;
}
