<header>
  <h1 *ngIf="this.car != undefined" >{{this.car.ecv}}</h1>
  <p *ngIf="route != undefined  && route.estimatedTimeArrival && !route.finished">
    Približný čas dorazenia do navigovaného miesta: {{estimatedTimeToLocal(this.route.estimatedTimeArrival)}}
  </p>
</header>

<div class="allWrapper">
<!--  <app-find-car-by-id [carId]="this.carId"></app-find-car-by-id>-->
<div class="wrapper">




<app-adresses #childGoogle *ngIf="checkFinished()"  (placeName)="getAdress($event)"
              (placeLat)="getLat($event)"
              (placeLon)="getLon($event)">
</app-adresses>

<div>
  <section class="example-section">
    <mat-radio-group class="radioButtons" [(ngModel)]="labelPosition">
      <mat-radio-button class="radios" value="nakladka">Nakládka</mat-radio-button>
      <mat-radio-button class="radios" value="vykladka">Vykládka</mat-radio-button>
    </mat-radio-group>
  </section>

  <h4>Možný dátum príjazdu</h4>
  <mat-radio-group [(ngModel)]="datumPrichodu">
    <mat-radio-button class="example-margin" value="nerozhoduje">Nerozhoduje</mat-radio-button>
    <mat-radio-button class="example-margin" value="rozhoduje">Rozhoduje</mat-radio-button>
  </mat-radio-group>

  <mat-form-field appearance="fill" *ngIf="datumPrichodu == 'rozhoduje'">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker" [min]="minDate">
      <input formControlName="start" matStartDate placeholder="Start date">
      <input formControlName="end" matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <h4>Možný čas príjazdu</h4>

  <mat-radio-group [(ngModel)]="casPrichodu">
    <mat-radio-button class="example-margin" value="nerozhoduje">Nerozhoduje</mat-radio-button>
    <mat-radio-button class="example-margin" value="rozhoduje">Rozhoduje</mat-radio-button>
  </mat-radio-group>

  <div *ngIf="casPrichodu == 'rozhoduje'">
    <mat-form-field class="sizeInput">
      <mat-label>Časové okno od</mat-label>
      <input matInput type="time">
    </mat-form-field>

    <mat-form-field class="sizeInput">
      <mat-label>Časové okno do</mat-label>
      <input matInput type="time">
    </mat-form-field>
  </div>


  <h4>Počet kusov</h4>
  <mat-form-field appearance="standard" >
    <mat-label>Počet kusov</mat-label>
    <input (change)="sizeUpdate()" [(ngModel)]="numberOfItems" min="1" type="number" matInput placeholder="Počet....">
    <span matSuffix> ks </span>
    <mat-hint>Počet</mat-hint>
  </mat-form-field>

  <p>Parametre {{actualItemInForm + 1}} z {{numberOfItems}}</p>

  <form class="gridContainer" [formGroup]="transportForm">
  <div class="size">
    <mat-form-field appearance="standard" class="sizeInput">
      <mat-label>Šírka</mat-label>
      <input formControlName="sizeS" matInput placeholder="Šírka....">
      <span matSuffix> m </span>
      <mat-hint>V metroch</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="standard" class="sizeInput">
      <mat-label>Výška</mat-label>
      <input formControlName="sizeV" matInput placeholder="Výška....">
      <span matSuffix> m </span>
      <mat-hint>V metroch</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="standard" class="sizeInput">
      <mat-label>Dĺžka</mat-label>
      <input formControlName="sizeD" matInput placeholder="Dĺžka....">
      <span matSuffix> m </span>
      <mat-hint>V metroch</mat-hint>
    </mat-form-field>

    <h4>Váha</h4>

    <mat-form-field appearance="standard" class="sizeInput">
      <mat-label>Váha</mat-label>
      <input formControlName="weight" matInput placeholder="Dĺžka....">
      <span matSuffix> m </span>
      <mat-hint>V metroch</mat-hint>
    </mat-form-field>

    <h4>Poloha nakladania</h4>

    <mat-radio-group formControlName="poziciaNakladania">
      <mat-radio-button class="example-margin" value="nerozhoduje">Nerozhoduje</mat-radio-button>
      <mat-radio-button class="example-margin" value="rozhoduje">Rozhoduje</mat-radio-button>
    </mat-radio-group>

    <div *ngIf="this.transportForm.get('poziciaNakladania').value == 'rozhoduje'">
      <mat-checkbox formControlName="fromBackSide">Zo zadu</mat-checkbox>
      <mat-checkbox formControlName="fromSide">Z boku</mat-checkbox>
      <mat-checkbox formControlName="fromUpSide">Z vrchu</mat-checkbox>
    </div>

    <h4>Požadovaná výška nakladacej hrany</h4>

    <mat-radio-group formControlName="vyskaHrany">
      <mat-radio-button class="example-margin" value="nerozhoduje">Nerozhoduje</mat-radio-button>
      <mat-radio-button class="example-margin" value="rozhoduje">Rozhoduje</mat-radio-button>
    </mat-radio-group>

    <mat-form-field *ngIf="this.transportForm.get('vyskaHrany').value == 'rozhoduje'" appearance="standard" class="sizeInput">
      <mat-label>Výška nak. hrany</mat-label>
      <input  min="0" formControlName="vyskaHranySize" matInput placeholder="Výška....">
      <span matSuffix> m </span>
      <mat-hint>V metroch</mat-hint>
    </mat-form-field>

    <h4>Stohovateľnosť</h4>

    <mat-radio-group formControlName="stohovatelnost">
      <mat-radio-button class="example-margin" value="nie">Nie</mat-radio-button>
      <mat-radio-button class="example-margin" value="ano">Áno</mat-radio-button>
    </mat-radio-group>

    <mat-form-field *ngIf="this.transportForm.get('stohovatelnost').value == 'ano'" appearance="standard" class="sizeInput">
      <mat-label>Max. nosnost</mat-label>
      <input  min="0" formControlName="stohoSize" matInput placeholder="Výška....">
      <span matSuffix> kg </span>
      <mat-hint>V kilogramoch</mat-hint>
    </mat-form-field>

<!--    <mat-checkbox>Chlad</mat-checkbox>-->



    <button [disabled]="!(actualItemInForm + 1 > 1)" (click)="previousItem()">Späť</button>
  <button [disabled]="!(actualItemInForm + 1 < numberOfItems)"  (click)="nextItem()">Ďalej</button>

  </div>

  </form>

  <input class="form-control" placeholder="Pridaj poznámku..." type="text" [(ngModel)]="infoAboutRoute">

  <div class="addButton">
    <button class="buttonG" [disabled]="!labelPosition" (click)="add()">Pridať +</button>
  </div>


  </div>






</div>

  <div class="addresses">
    <app-drag-and-drop-list [route]="this.route" (outputRoute)="onDropListChange($event)"></app-drag-and-drop-list>
    <div class="changeButtons" *ngIf="checkFinished()" >
      <button class="buttonDriver" *ngIf="carId != null" [disabled]="!change" (click)="this.sendToDriver()">Odoslať vodičovi</button>
      <button class="buttonTransport"  *ngIf="carId == null && this.route != undefined" [disabled]="this.route.nameOfTowns.length <= 0 || this.route.nameOfTowns == null" (click)="openAddDialog()">Vybrať vozidlo</button>
      <button class="buttonTransport"  *ngIf="carId == null" [disabled]="this.route.nameOfTowns.length <= 0 || this.route.nameOfTowns == null" (click)="sendToAllDispecers()">Poúktnuť spoločnostiam</button>
      <button class="buttonChange"  *ngIf="carId != null" (click)="openAddDialogChangeCar()">Zmeň vozidlo</button>
    </div>
  </div>
  <div class="map">
    <app-openlayer #child></app-openlayer>
  </div>

</div>
<app-route-log *ngIf="route != undefined" [routeId]="parentSubject"></app-route-log>

