<div class="allWrapper">
<!--  <app-find-car-by-id [carId]="this.carId"></app-find-car-by-id>-->
  <h1 *ngIf="this.car != undefined" >{{this.car.ecv}}</h1>
<div class="wrapper">
  <p *ngIf="route != undefined  && route.estimatedTimeArrival && !route.finished && this.car != undefined">
    Približný čas dorazenia do navigovaného miesta: {{estimatedTimeToLocal(this.route.estimatedTimeArrival)}}
  </p>

  <div [cdkDropListSortingDisabled]="!checkFinished()"  cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let routeTown of routesTowns let i = index" cdkDrag>
      <div class="routeTown">
        <p>{{routeTown}}</p>
        <span>{{this.routeStatus.getStatus(this.status[i])}}</span>
        <img *ngIf=" checkFinished()"  (click)="deleteTown(routeTown)" class="delete" src="assets/logo/delete.svg">
      </div>
      <div class="routeTown routeInfo">
        <p *ngIf="aboutRoute != null || aboutRoute != undefined">{{this.aboutRoute[i]}}</p>
        <img *ngIf="checkFinished()" (click)="editInfo(aboutRoute[i], i)" class="delete" src="assets/logo/edit.svg">
      </div>
    </div>
  </div>

<app-adresses *ngIf="checkFinished()"  (placeName)="getAdress($event)"
              (placeLat)="getLat($event)"
              (placeLon)="getLon($event)"
              (type)="getType($event)"
              (aboutRouteEmitter)="getAboutRoute($event)">
</app-adresses>
  <div *ngIf="checkFinished()" >
    <button *ngIf="carId != null" [disabled]="!change" (click)="this.sendToDriver()">Odoslať vodičovi</button>
    <button *ngIf="carId == null" [disabled]="routesTowns.length <= 0 || routesTowns == null" (click)="openAddDialog()">Vybrat vozidlo</button>
    <button *ngIf="carId != null" (click)="openAddDialogChangeCar()">Zmen vozidlo</button>
  </div>


</div>
  <div class="map">
    <app-openlayer #child></app-openlayer>
  </div>

</div>
<app-route-log #pdfLog *ngIf="route != undefined" [routeId]="parentSubject"></app-route-log>

