<header>
  <app-find-car-by-id *ngIf="this.route && this.route.carId != undefined" [carId]="this.carId"></app-find-car-by-id>
</header>

<div class="allWrapper">

<div *ngIf="this.route && !this.route.id" class="wrapper">





<app-new-form (adressOut)="receiveAddress($event)"
              (detailOut)="receiveDetail($event)"
              (detailPositionOut)="receiveDetailPosition($event)"
              (adressOutUpdate)="receiveAddressUpdate($event)"></app-new-form>




  <div class="detail">
    <app-show-detail (detailOut)="setDetailForm($event)"></app-show-detail>
  </div>


</div>

  <div class="addresses">
  <button (click)="openAllDetailDialog()">Detail</button>
    <app-drag-and-drop-list #dropList
                            (clickedOnRoute)="updateDetailOnTown($event)"
                            [address]="this.addresses"
                            [draggable]="true"
                            [updatable]="true"
                            (outputRoute)="onDropListChange($event)"
                            (outputDetails)="onDropListDetailChange($event)"
                            >

    </app-drag-and-drop-list>
    <div class="changeButtons" *ngIf="checkFinished()" >
<!--      <button class="buttonDriver" *ngIf="carId != null" [disabled]="!change" (click)="this.updateDetails()">Odoslať vodičovi</button>-->
      <button class="buttonTransport"  *ngIf="this.route && !this.route.id" [disabled]="vylozeneVsetko()" (click)="createMyRoute()">Vytvorit prepravu</button>
      <button class="buttonTransport"  *ngIf="this.route && !this.route.id" [disabled]="vylozeneVsetko()" (click)="openOfferDialog()">Poúktnuť spoločnostiam</button>
      <button class="buttonTransport"  *ngIf="carId == null && this.route != undefined && this.route.id" [disabled]="this.addresses.length <= 0 || this.addresses == null" (click)="openAddDialog()">Vybrať vozidlo</button>
      <!--      <button class="buttonChange"  *ngIf="carId != null" (click)="openAddDialogChangeCar()">Zmeň vozidlo</button>-->
    </div>

      <div *ngIf="this.route && !this.route.id" class="aframe">
        <app-size-of-box></app-size-of-box>
      </div>

  </div>


  <div class="map">
    <app-openlayer #child></app-openlayer>
  </div>


<button (click)="openLog()">Log prepravy</button>
</div>
<!--<app-route-log *ngIf="route != undefined" [addresses]="this.addresses"></app-route-log>-->

