@import "./src/sccs/shared/mixins";

.wrapper{
  display: flex;
  width: 100%;
}

.ponukaWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3px;
  margin-left: 3px;
}

.detailLog{
  @include button(#343a40)
}

.deletePrice{
  @include button(orangered);
}

.addPrice{
  @include button(darkorange);
}

.marginMid{
  margin-left: 5px;
  margin-right: 5px;
}

.map{
  width: 100%;
  height: auto;
  margin: 10px;
}

.imageInRow{
  display: flex;
  margin-top: 30px;
}

.oneOffer{
  display: flex;
}
li{
  display: flex;
  align-items: center;
}

td{
  padding-left: 10px;
}

