.wrapper{
  display: flex;
}

.ponukaWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3px;
  margin-left: 3px;
}

.marginMid{
  margin-left: 5px;
  margin-right: 5px;
}

.map{
  width: 30%;
  height: auto;
  margin: 10px;
}

.imageInRow{
  display: flex;
  margin-top: 30px;
}

.oneOffer{
  display: flex;
}
li{
  display: flex;
  align-items: center;
}

td{
  padding-left: 10px;
}

