<!--<table mat-table [dataSource]="cars">-->
<!--  <ng-container matColumnDef="ECV">-->
<!--    <th mat-header-row *matHeaderRowDef>ECV</th>-->
<!--    <td mat-row *matRowlDef="let element">{{element.ecv}}</td>-->
<!--  </ng-container>-->
<!--</table>-->

<div class="wrapper">
<!--<div class="oneCar" *ngFor="let car of this.cars">-->
<!--  <h3>{{car.ecv}}</h3>-->
<!--  <h3>{{car.phoneNumber}}</h3>-->
<!--  <h3>{{car.status}}</h3>-->
<!--</div>-->
  <mat-list>
    <mat-list-item *ngFor="let car of this.cars">
      <h3 matline>{{car.ecv}}</h3>
      <p matline>
        <span>{{car.phoneNumber}}</span>
        <span>{{car.status}}</span>
      </p>
      <button (click)="sendCar(car)" routerLink="/view/cars/detail">Detail</button>
    </mat-list-item>
  </mat-list>

</div>


<app-new-car></app-new-car>
