@import "./src/sccs/shared/mixins";
@import "./src/sccs/shared/variables";

.blackHeader{
  height: 56px;
  background: silver;
  box-sizing: border-box;
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.widthColumn{
  display: flex;
  flex-wrap: wrap;
}

.wrapper{
  display: flex;
  margin: 10px;
  flex-direction: row;

}
.privesWrapper{
  margin: 10px;
}

.carsWrapper{
  margin: 10px;
}

.carWrapper{
  border-bottom: 2px solid gray;
  border-radius: 3px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3, span, button{
    margin: 10px;
  }

}

.delete{
  width: 20px;
  cursor: pointer;
}
.insideWrapper{
  display: flex;
  justify-content: center;
}
p{
  margin: 0;
  display: flex;
  align-items: center;
  margin:{
    left: 10px;
    right: 10px;
  }
}

.button{
  border: none;
  border-radius: 3px;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}



