
<div class="wrapper">
  <div class="buttonChoose">
<!--    <button class="buttonTab" [class]="getClass('all')" (click)="allActive()"> Trhovisko</button>-->
    <button class="buttonTab" [class]="getClass('mine')" (click)="mine()">Moje ponuky</button>
    <button class="buttonTab" [class]="getClass('assigned')" (click)="assigned()">Čakajúce</button>
  </div>


  <h1 class="actFinHead">{{'OFFER.aktivne' | translate}}</h1>


  <div *ngFor="let route of this.routesToShow; let i = index" class="oneRoute">
    <div *ngIf="!route.finished" class="vykladka" (click)="routeDetail(route)"  routerLink="/view/offerDetail">
      <!--      <h2>Vykládky</h2>-->
      <ng-container *ngFor="let town of route.addresses; index as i">
        <app-one-address-info [allAddressesIds]="route.addresses" [addressaId]="town" [addressIndex]="i"></app-one-address-info>
      </ng-container>
    </div>
    <div class="status">



      <app-get-info-about-company *ngIf="route.createdBy !== this.getDispecerId()" [masterId]="this.route.createdBy"></app-get-info-about-company>

      <p *ngIf="this.route.price">{{this.route.price}}€</p>
      <p *ngIf="!this.route.price">{{'OFFER.ponukniteCenu' | translate}}</p>

            <div *ngIf="route.createdBy == this.getDispecerId()">
<!--              <button (click)="routeDetail(route)" routerLink="/view/newRoute">Upravit</button>-->
              <button class="buttonDelete" (click)="vymazatPonuku(route)">{{'OFTEN.delete' | translate}}</button>
            </div>


    </div>
  </div>

<!--  <h1 class="actFinHead">{{'OFFER.ukoncene' | translate}}</h1>-->

<!--  <div *ngFor="let route of this.finishedRoutesToShow; let i = index" class="oneRoute">-->
<!--      <div *ngIf="route.finished" class="vykladka" (click)="routeDetail(route)"  routerLink="/view/offerDetail">-->
<!--        &lt;!&ndash;      <h2>Vykládky</h2>&ndash;&gt;-->
<!--        <ng-container *ngFor="let town of route.addresses; index as i">-->
<!--          <app-one-address-info [allAddressesIds]="route.addresses" [addressaId]="town" [addressIndex]="i"></app-one-address-info>-->
<!--        </ng-container>-->
<!--      </div>-->
<!--      <div class="status">-->



<!--        <app-get-info-about-company *ngIf="route.createdBy !== this.getDispecerId()" [masterId]="this.route.createdBy"></app-get-info-about-company>-->


<!--&lt;!&ndash;          <button (click)="vymazatPonuku(route)">Odstranit</button>&ndash;&gt;-->


<!--      </div>-->
<!--  </div>-->



</div>
