<div>
<nav class="wrapper">
  <img class="logo" src="./assets/logo/logo.svg">
  <a routerLink="/view/dispecer" class="nav">Moji dispečeri</a>
  <a routerLink="/view/cars" class="nav">Moje vozidlá</a>
  <a routerLink="/view/transport" class="nav">Moje prepravy</a>
  <a routerLink="/view/map" class="nav">Mapy</a>

  <button routerLink="" (click)="logout()">Logout

  </button>
      <button class="myDropdown" onclick="myFunction()">Moje konto
        <span class="caret"></span>
      </button>
      <div class="dropdown-menu dropdown-content" id="myDropdown">
        <a routerLink="" class="nav">Profil</a>
        <a routerLink="" class="nav">Nastavenia</a>
        <a (click)="logout()" routerLink="" class="nav">LogOut</a>

      </div>


</nav>
</div>
