.header{
  float: right;
  padding: 10px;
  color: white;
  border-radius: 7px;
  margin: {
    right: 10px;
    top: 5px;
    bottom: 5px;
  };
}

.selectLanguage{
  cursor: pointer;
}

.allWrapper{
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.imgAndName{
  display: flex;
  align-items: center;
}

.companyName{
  color: white;
  display: inline-block;
  margin: 0;
  margin-left: 5px;
}

.profile{
  color: white;
  margin-right: 5px;
  cursor: pointer;
}


.logo{
  width: auto;
  margin: {
    left: 10px;
    top: 5px;
    bottom: 5px;
    right: 35px;
  };
  height: 35px;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 200px;
}

.flexking{
  display: flex;
  align-items: center;
}

.dispecerName{
  margin-left: 5px;
  margin-right: 5px;
  white-space: nowrap;
  color: white;
  cursor: pointer;
}

.hamburger{
  display: none;
}

.navbar{
  right: 5px;
  display: none;
  justify-content: space-between;
  align-items: center;
  //padding: 1rem 1.5rem;
}

@media (max-width: 700px) {
  .navbar{
    display: flex;
  }
  .button_c{
    display: none;
  }
  select{
    display: none;
  }
  .companyName{
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    z-index: 2;
    position: fixed;
    left: -110%;
    top: 5rem;
    flex-direction: column;
    background-color: #212529;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;

  }

  .nav-menu.activeBar {
    left: 0;
    padding-left: 3px;
    margin-top: -20px;
  }

  .nav-item {
    padding: 1rem 0;
    border-radius: 10px;
  }
  .nav{
    display: inline-block;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.activeBar .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.activeBar .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.activeBar .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  //tu sa styluje aktivny header
  .active{
    background: #343a40;
  }
}

select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  color: white;
  // Additional resets for further consistency
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

option{
  color: gray;
}

select::-ms-expand {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

a{
  color: white;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
table.fixed { table-layout:fixed; }

.button_c {
  margin-right: 10px;
  font-family: Candara;
  white-space: nowrap;
  color: white !important;
  text-transform: full-width;
  text-decoration: white;
  background: #50585f;
  padding: {
    top: 4px;
    bottom: 4px;
    left: 6px;
    right: 6px;
  }
  right: 5px;
  border: none;
  transition: 0.2s 0s;
  margin-right: 10px;
  border-radius: 8px;

}

.button_c:hover {
  color: black !important;
  background: #929292;
  border-color: #8d8d8d !important;
  transition: all 0.4s ease 0.2s;
}


.logout-btn{
  float: right;
  //margin: 0.6em 1.6em 0 0;
  display: flex;
  align-items: center;

}






