<div class="button_cont" >
  <img class="logo" src="./assets/logo/mantra.svg">

  <button
    routerLink="/view/dispecer"
    class="myButton" href="add-website-here" target="_blank" rel="nofollow noopener">
    Moji dispečeri
  </button>
  <button
    routerLink="/view/cars"
    class="myButton" href="add-website-here" target="_blank" rel="nofollow noopener">
    Moje vozidlá    </button>
  <button
    routerLink="/view/transport"
    class="myButton" href="add-website-here" target="_blank" rel="nofollow noopener">
    Moje prepravy    </button>
  <button
    routerLink="/view/map"
    class="myButton" href="add-website-here" target="_blank" rel="nofollow noopener">
    Mapy    </button>
  <button
    routerLink="" (click)="logout()"
    class="myButtonSignOut" >
    Odhlásenie    </button>



</div>
