.header{
  float: right;
  padding: 10px;
  background: blue;
  color: white;
  border-radius: 7px;
  margin: {
    right: 10px;
    top: 5px;
    bottom: 5px;
  };
}
.logo{
  width: 200px;
  margin: {
    left: 10px;
    top: 5px;
    bottom: 5px;
    right: 35px;
  };
  height: 60px;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 200px;
}
a{
  color: white;
  border: 1px solid blue;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
table.fixed { table-layout:fixed; }

.example_c {
  font-family: "Lato", sans-serif, bold;
  width: 150px;
  color: white !important;
  text-transform: full-width;
  text-decoration: white;
  background: #50585f;
  padding: 18px;
  border: 2px solid dimgrey !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  margin-right: 10px;
  margin-left: 10px;

}

.example_c:hover {
  color: black !important;
  background: #929292;
  border-color: #8d8d8d !important;
  transition: all 0.4s ease 0.2s;
}

.myButton {
  background: transparent;
  border-radius:3px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border:0px solid goldenrod;
  display:inline-block;
  cursor:pointer;
  color: goldenrod;
  font-family:Arial;
  font-size:17px;
  font-weight:bold;
  padding:16px 50px;
  text-decoration:none;
  text-shadow:0px 1px 0px goldenrod;
}
.myButton:hover {
  background-color:transparent;
  color: whitesmoke;
}
.myButton:active {
  position:relative;
  top:1px;
}

.myButtonSignOut {
  background: transparent;
  border-radius: 3px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 0px solid goldenrod;
  display: inline-block;
  cursor: pointer;
  color: goldenrod;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 16px 50px;
  text-decoration: none;
  text-shadow: 0px 1px 0px goldenrod;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 4px;
    z-index: -2;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: transparent;
    transition: font-size 4s 1s;
    border-radius: 4px;
    z-index: -1;
  }

  &:hover {
    color: red;

    &:before {
      width: 100%;
    }
  }
}






