.logo{
  margin: {
    left: 10px;
    top: 5px;
    bottom: 5px;
  };
  height: 60px;
}



@import '~normalize.css';



.btn{
  //color: white;
}
.floatRight{
  float: right;
  margin: 10px;
}

select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  // Additional resets for further consistency
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
    outline: none;
}

select::-ms-expand {
  display: none;
}
