
<head>
<!--  <meta charset="utf-8" />-->
<!--  <meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />-->
<!--  <meta name="description" content="" />-->
<!--  <meta name="author" content="" />-->
  <title>Page Title - Mantra</title>
</head>

<body>
<img class="alert" src="./assets/logo/mantralogin.png">



<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <main>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
              <div class="card-header"><h3 class="text-center font-weight-normal my-4">Prihlásiť sa</h3></div>
              <form [formGroup]="loginForm" class="card-body" (ngSubmit)="loginOnEnter($event)">

                  <div class="form-group">
                    <label class="small mb-1" for="inputEmailAddress">Email</label>
                    <input type="text"  formControlName="email"  class="form-control py-4" id="inputEmailAddress" type="email" placeholder="Tu vložte e-mail" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                  </div>
                  <div class="form-group">
                    <label class="small mb-1" for="inputPassword">Heslo</label>
                    <input type="password" formControlName="password" class="form-control py-4" id="inputPassword" type="password" placeholder="Tu vložte heslo" />
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                    </div>
                  </div>
                  <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                     <a type="submit" (click)="login()" class="btn btn-secondary">Prihlásiť sa</a>      <!-- upravit button -->
                  </div>

                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                  <a (click)="resetPass()" class="btn btn-secondary">Zabbudnute heslo</a>      <!-- upravit button -->
                </div>



              </form>
              <div class="card-footer text-center">
                <div class="small">
                    <a href="https://drive.google.com/file/d/1dsT0UjL2uNmiETDyFmSy0TfboyzZy9AE/view?usp=sharing">
                    Mobilná aplikácia
                    </a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>


</div>
</body>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

