<div class="col-md-6 offset-md-3 mt-5">
  <router-outlet></router-outlet>
<div>
  <!-- this header tag displays only when user is logged-in -->
  <h4 class="card-header"><img src="assets/logo/mantra.svg" width="50" height="60">Login</h4>
  <div class="card-body">
  <!-- this div displays only when user is not-logged-in -->
  <div class>
    <!-- these input fields takes email and password from user -->
    <input type="text" [(ngModel)]="email" placeholder="Enter email" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>

    <input type="password" [(ngModel)]="password" placeholder="Enter password"/>

    <!-- user click this button to signup -->
    <!--    <button (click)="signup()" [disabled]="!email || !password">-->
    <!--      Signup-->
    <!--    </button>-->
    <p>Master account - email:mantra@mantra.sk  password: 123456</p>
    <p>Docasne heslo pre vsetkych dispecerov 123456...</p>
    <!-- user click this button to login -->
    <button (click)="login()" [disabled]="!email || !password" >
      Login
    </button>
    <button (click)="signup()" [disabled]="email || password" onclick="alert('Not available yet')" >
      signup
    </button>
  </div>

</div>
</div>
</div>
