<div *ngIf="this.car" class="header">
    <h1>Vozidlo: {{this.car.ecv}}</h1>
  <p *ngIf="this.routes != undefined  && this.routes.estimatedTimeArrival && !this.routes.finished && this.car != undefined">
    Približný čas dorazenia do navigovaného miesta: {{estimatedTimeToLocal(this.routes.estimatedTimeArrival)}}
  </p>
  </div>


<div class="allWrapper">

<div class="routeList">


  <div class="routes">
    <h1>Itinerár</h1>
  </div>

  <app-drag-and-drop-list  (deleteFromIti)="deleteFromIti($event)" #dragDrop [draggable]="true"></app-drag-and-drop-list>

  <div *ngIf="this.myAddresses != undefined" class="button_cont" align="center">

    <button id="mySendButton" [disabled]="!change" (click)="this.sendToDriver()" class="oneButton greenSend" >
      Odoslať vodičovi</button>
  </div>
</div>


<div class="map">
    <app-openlayer #child></app-openlayer>
  </div>


</div>






  <app-route-log *ngIf="routes != undefined" [routeId]="parentSubject"></app-route-log>

