<div class="carDetailWrapper">
  <div *ngIf="this.car" class="header">
    <h1>{{this.car.ecv}}</h1>
    <app-get-name-of-driver [car]="this.car"></app-get-name-of-driver>
    <app-car-naklad [car]="this.car"></app-car-naklad>
  </div>


  <div class="allWrapper">

    <div class="routeList">

      <div class="routes">
        <h1>{{'CAR.itinerar' | translate}}</h1>
      </div>

      <app-itinerar-da-d #dragDrop ></app-itinerar-da-d>
    </div>

    <div class="map">
      <app-openlayer #child></app-openlayer>
    </div>


  </div>
</div>



