<div >
  <h1 class="header">{{'PRIVES.addPrives' | translate}}</h1>
  <form class="gridContainer" [formGroup]="privesForm">

    <mat-horizontal-stepper linear #stepper>
      <mat-step>
        <ng-template matStepLabel>{{'CAR.ecv' | translate}}</ng-template>
        <mat-form-field appearance="standard" class="gridItem">
          <mat-label>{{'CAR.ecv' | translate}}</mat-label>
          <input formControlName="ecv" matInput placeholder="{{'CAR.ecv' | translate}}..." required>
          <mat-hint>{{'CAR.ecv' | translate}}</mat-hint>
        </mat-form-field>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>{{'PRIVES.size' | translate}}</ng-template>

        <h3>{{'PRIVES.sizeOfPrives' | translate}}</h3>
        <mat-form-field appearance="standard" class="gridItem">
          <mat-label>{{'CAR.vyskaVozidla' | translate}}</mat-label>
          <input formControlName="autoVyska" matInput type="number" min="0" class="example-right-align" required>
          <span matSuffix>cm</span>
        </mat-form-field>

        <mat-form-field appearance="standard" class="gridItem">
          <mat-label>{{'CAR.dlzkaVozidla' | translate}}</mat-label>
          <input formControlName="autoDlzka" matInput type="number" min="0" class="example-right-align" required>
          <span matSuffix>cm</span>
        </mat-form-field>

        <mat-form-field appearance="standard" class="gridItem">
          <mat-label>{{'CAR.sirkaVozidla' | translate}}</mat-label>
          <input formControlName="autoSirka" matInput type="number" min="0" class="example-right-align" required>
          <span matSuffix>cm</span>
        </mat-form-field>
        <br>
        <h3>{{'CAR.priestorNaTovar' | translate}}</h3>
        <mat-form-field appearance="standard" class="gridItem">
          <mat-label>{{'CAR.vyskaPriestoru' | translate}}</mat-label>
          <input formControlName="priestorVyska" matInput type="number" min="0" class="example-right-align" required>
          <span matSuffix>cm</span>
        </mat-form-field>

        <mat-form-field appearance="standard" class="gridItem">
          <mat-label>{{'CAR.dlzkaPriestoru' | translate}}</mat-label>
          <input formControlName="priestorDlzka" matInput type="number" min="0" class="example-right-align" required>
          <span matSuffix>cm</span>
        </mat-form-field>

        <mat-form-field appearance="standard" class="gridItem">
          <mat-label>{{'CAR.sirkaPriestoru' | translate}}</mat-label>
          <input formControlName="priestorSirka" matInput type="number" min="0" class="example-right-align" required>
          <span matSuffix>cm</span>
        </mat-form-field>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{'CAR.nakladaciaHrana' | translate}}</ng-template>
        <mat-slide-toggle formControlName="pohyblivaNakHrana"  class="gridItem gridItemStart">
          {{'CAR.pohybliva' | translate}}
        </mat-slide-toggle>

        <div>
          <mat-form-field *ngIf="!this.privesForm.get('pohyblivaNakHrana').value" appearance="standard" class="gridItem">
            <mat-label> {{'CAR.vyskaHrany' | translate}}</mat-label>
            <input formControlName="vyskaHrany" matInput type="number" min="0" class="example-right-align">
            <span matSuffix>cm</span>
          </mat-form-field>
        </div>

        <div *ngIf="this.privesForm.get('pohyblivaNakHrana').value">
          <mat-form-field appearance="standard" class="gridItem">
            <mat-label>{{'CAR.minVyskaHrany' | translate}}</mat-label>
            <input formControlName="minHrana" matInput type="number" min="0" class="example-right-align">
            <span matSuffix>cm</span>
          </mat-form-field>

          <mat-form-field appearance="standard" class="gridItem">
            <mat-label>{{'CAR.maxVyskahrany' | translate}}</mat-label>
            <input formControlName="maxHrana" matInput type="number" min="0" class="example-right-align">
            <span matSuffix>cm</span>
          </mat-form-field>
        </div>





      </mat-step>
      <!--    <label>Tel. číslo</label>-->
      <!--    <input  type="text" matInput formControlName="phone" >-->

      <mat-step>
        <ng-template matStepLabel>{{'CAR.vahaANosnost' | translate}}</ng-template>

        <mat-form-field appearance="standard" class="gridItem">
          <mat-label>{{'PRIVES.vahaPrivesu' | translate}}</mat-label>
          <input formControlName="vahaVozidlo" matInput min="0" type="number" placeholder="{{'HINT.vTonach' | translate}}...." required>
          <span matSuffix> t </span>
          <mat-hint>{{'HINT.vTonach' | translate}}</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="standard" class="gridItem">
          <mat-label>{{'PRIVES.nostnost' | translate}}</mat-label>
          <input formControlName="nosnost" matInput type="number" min="0" placeholder="{{'HINT.vTonach' | translate}}...." required>
          <span matSuffix> t </span>
          <mat-hint>{{'HINT.vTonach' | translate}}</mat-hint>
        </mat-form-field>
        <div class="gridItem">

        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>{{'CAR.moznostiNalozenia' | translate}}</ng-template>


        <div class="gridContainer">
          <mat-slide-toggle formControlName="fromBack"  class="gridItem gridItemStart">{{'CAR.nalozenieZoZadu' | translate}}</mat-slide-toggle>

          <div class="DSV" *ngIf="this.privesForm.get('fromBack').value">
            <mat-form-field  appearance="standard" class="gridItem">
              <mat-label>{{'CAR.vyskaNakPriestoru' | translate}}</mat-label>
              <input formControlName="zoZaduVyska" matInput placeholder="{{'CAR.vyskaVozidla' | translate}}...">
              <span matSuffix> m </span>
              <mat-hint>{{'HINT.vMetroch' | translate}}</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="standard" class="gridItem">
              <mat-label>{{'CAR.sirkaNakPriestoru' | translate}}</mat-label>
              <input formControlName="zoZaduSirka" matInput placeholder="{{'CAR.sirkaVozidla' | translate}}....">
              <span matSuffix> m </span>
              <mat-hint>{{'HINT.vMetroch' | translate}}</mat-hint>
            </mat-form-field>
          </div>


          <mat-slide-toggle formControlName="fromRight" class="gridItem gridItemStart">{{'CAR.nalozenieZPrava' | translate}}</mat-slide-toggle>
          <div class="DSV" *ngIf="this.privesForm.get('fromRight').value">
            <mat-form-field  appearance="standard" class="gridItem">
              <mat-label>{{'CAR.vyskaNakPriestoru' | translate}}</mat-label>
              <input formControlName="zPravaVyska" matInput placeholder="{{'CAR.vyskaVozidla' | translate}}...">
              <span matSuffix> m </span>
              <mat-hint>{{'HINT.vMetroch' | translate}}</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="standard" class="gridItem">
              <mat-label>{{'CAR.sirkaNakPriestoru' | translate}}</mat-label>
              <input formControlName="zPravaSirka" matInput placeholder="{{'CAR.sirkaVozidla' | translate}}....">
              <span matSuffix> m </span>
              <mat-hint>{{'HINT.vMetroch' | translate}}</mat-hint>
            </mat-form-field>

          </div>

          <mat-slide-toggle formControlName="fromLeft" class="gridItem gridItemStart">{{'CAR.nalozenieZLava' | translate}}</mat-slide-toggle>
          <div class="DSV" *ngIf="this.privesForm.get('fromLeft').value">
            <mat-form-field  appearance="standard" class="gridItem">
              <mat-label>{{'CAR.vyskaNakPriestoru' | translate}}</mat-label>
              <input formControlName="zLavaVyska" matInput placeholder="{{'CAR.vyskaVozidla' | translate}}...">
              <span matSuffix> m </span>
              <mat-hint>{{'HINT.vMetroch' | translate}}</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="standard" class="gridItem">
              <mat-label>{{'CAR.sirkaNakPriestoru' | translate}}</mat-label>
              <input formControlName="zLavaSirka" matInput placeholder="{{'CAR.sirkaVozidla' | translate}}....">
              <span matSuffix> m </span>
              <mat-hint>{{'HINT.vMetroch' | translate}}</mat-hint>
            </mat-form-field>

          </div>

          <mat-slide-toggle formControlName="fromUp" class="gridItem gridItemStart">{{'CAR.nalozenieZVrchu' | translate}}</mat-slide-toggle>
          <div class="DSV" *ngIf="this.privesForm.get('fromUp').value">
            <mat-form-field  appearance="standard" class="gridItem">
              <mat-label>{{'CAR.vyskaNakPriestoru' | translate}}</mat-label>
              <input formControlName="zHoraVyska" matInput placeholder="{{'CAR.vyskaVozidla' | translate}}...">
              <span matSuffix> m </span>
              <mat-hint>{{'HINT.vMetroch' | translate}}</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="standard" class="gridItem">
              <mat-label>{{'CAR.sirkaNakPriestoru' | translate}}</mat-label>
              <input formControlName="zHoraSirka" matInput placeholder="{{'CAR.sirkaVozidla' | translate}}....">
              <span matSuffix> m </span>
              <mat-hint>{{'HINT.vMetroch' | translate}}</mat-hint>
            </mat-form-field>

          </div>
        </div>
      </mat-step>

    </mat-horizontal-stepper>

  </form>

  <button (click)="savePrives()" type="submit" class="example_c" [disabled]="!privesForm.valid">{{'OFTEN.add' | translate}}</button>
</div>
