@import "./src/sccs/shared/mixins";

td{
  padding-left: 8px;
}

.addButton{
  @include tableAddButton();
}


.inputWrapper{
  display: flex;
  //flex-direction: column;
  gap: 10px;
  align-items: center;
}
