<div class="container">


  <div class="form-group">
    <label>Enter address</label>
    <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
           placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off"
           spellcheck="off" type="text" #search [(ngModel)]="addTaskValue">

    <section class="example-section">
      <mat-radio-group [(ngModel)]="labelPosition">
        <mat-radio-button class="example-margin" value="nakladka">Nakladka</mat-radio-button>
        <mat-radio-button class="example-margin" value="vykladka">Vykladka</mat-radio-button>
      </mat-radio-group>
    </section>
    <input type="text" [(ngModel)]="aboutRoute">

    <button [disabled]="!labelPosition || !addressToDispetcer" (click)="add()">Pridat</button>
  </div>

<!--  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">-->
<!--    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"-->
<!--                (dragEnd)="markerDragEnd($event)"></agm-marker>-->
<!--  </agm-map>-->

<!--  <h5>Address: {{address}}</h5>-->
<!--  <div>Latitude: {{latitude}}</div>-->
<!--  <div>Longitude: {{longitude}}</div>-->
</div>
