<div class="container">


  <div class="form-group formular">
    <input class="form-control" type="text"  (keydown.enter)="$event.preventDefault()"
           placeholder="Nájdi miesto..." autocorrect="off" autocapitalize="off"
           spellcheck="off" type="text" #search [(ngModel)]="addTaskValue">

    <section class="example-section">
      <mat-radio-group class="radioButtons" [(ngModel)]="labelPosition">
        <mat-radio-button class="radios" value="nakladka">Nakládka</mat-radio-button>
        <mat-radio-button class="radios" value="vykladka">Vykládka</mat-radio-button>
      </mat-radio-group>
    </section>
    <input class="form-control" placeholder="Pridaj poznámku..." type="text" [(ngModel)]="aboutRoute">

    <div class="addButton">
      <button class="button2" [disabled]="!labelPosition || !addressToDispetcer" (click)="add()">Pridať +</button>

    </div>
  </div>

<!--  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">-->
<!--    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"-->
<!--                (dragEnd)="markerDragEnd($event)"></agm-marker>-->
<!--  </agm-map>-->

<!--  <h5>Address: {{address}}</h5>-->
<!--  <div>Latitude: {{latitude}}</div>-->
<!--  <div>Longitude: {{longitude}}</div>-->
</div>
