@import '~normalize.css';
.wrapper{
  position: center;
  padding: 5px;
  margin-left: 150px;
  width: 90%;
}
.sideBar{
  //float: left;
  height: 100%;
  //position: fixed;
  background: #212529;
  width: 150px;
}

.footer{
  //font-family: Candara;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  //color: white;
  text-align: right;
  margin-right: 20px;
}

.sideNavWrapper{
  width: 150px;
  height: 100%;
  position: fixed;
  background: #212529;
}

.header{
  height: 50px;
  width: 100%;
  display: block;
  background-color: #343a40 ; //farba pozadia na header rovnaka ako na www.redarrow.sk // stavim sa ze budu namietky..znova

}


.sideBarAndContentWrapper{
  display: flex;
  //align-items: stretch;
  //height: max-content;
  //min-height: 100%;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}


