.wrapper{
  position: center;
  padding: 5px;
  //margin-top: auto;
  width: 90%;
}
.sideBar{
  //float: left;
  height: 100%;
  //position: fixed;
  background: #212529;

}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  //color: white;
  text-align: center;
}

.sideNavWrapper{
  width: 150px;
  height: 100%;
  background: #212529;
}

.header{
  height: 75px;
  width: 100%;
  display: block;
  background-color: #343a40 ; //farba pozadia na header rovnaka ako na www.redarrow.sk // stavim sa ze budu namietky..znova

}

//.sidenav {
//  height: 100%;
//  width: 160px;
//  position: fixed;
//  z-index: 1;
//  top: 0;
//  left: 0;
//  background-color: #111;
//  overflow-x: hidden;
//  padding-top: 20px;
//}
.sideBarAndContentWrapper{
  display: flex;
  align-items: stretch;
  height: 100%;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

