@import '~normalize.css';
.wrapper{
  padding: 5px;
  margin-left: 150px;
  width: calc(100% - 150px);
}

.navHeader{
  height: 100%;
}


.sideBar{
  //float: left;
  height: 100%;
  //position: fixed;
  background: #212529;
  width: 150px;
}

.footer{
  //font-family: Candara;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  //color: white;
  text-align: right;
  margin-right: 20px;
}

@media (max-width: 700px) {
  .sideNavWrapper{
    display: none;
  }
  .wrapper{
    margin-left: 0;
    overflow: initial;
    width: 100%;
  }
}

.sideNavWrapper{
  width: 150px;
  height: 100%;
  position: absolute;
  border-right: 1px solid gray;
}

.header{
  height: 60px;
  width: 100%;
  display: block;
  //background-color: #343a40 ; //farba pozadia na header rovnaka ako na www.redarrow.sk // stavim sa ze budu namietky..znova

}


.sideBarAndContentWrapper{
  display: flex;
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}


