@import "./src/sccs/shared/mixins";

.carButton{
  @include smallButton(gray);
  margin-left: 2px;
  margin-bottom: 1px;
}

.carsWrapper{
  display: flex;
  overflow: auto;
}

.wrapper{
  margin-bottom: 5px;
  margin-top: 5px;
}
