<div class="mapComponentWrapper">
  <div #filterElement class="filter">
    <app-filter (offersToMap)="this.offersUpdate($event)" (owhichToShow)="offersShow($event)"></app-filter>
  </div>
  <div class="wrapper">
    <div id="map"></div>
    <app-cars-pop-up (carEmitter)="carFromDialog($event)" id="popup"></app-cars-pop-up>
    <app-offers-pop-up id="offerPopUp"></app-offers-pop-up>
<!--    <div id="popup" class="ol-popup">-->
<!--      <button (click)="closePopUp()" id="popup-closer" class="ol-popup-closer"></button>-->
<!--      <div id="popup-content"></div>-->
<!--    </div>-->
    <div #infoElement class="info">
      <div class="infoHeader">
        <h1>{{'MAP.informacie' | translate}}</h1>
        <button (click)="closeInfo()" class="closeInfo">x</button>
      </div>

      <div *ngIf="this.offersToShow == null" class="car">

        <table *ngIf="carToShow">
          <tr class="tableHeader">
            <th>{{'CAR.ecv' | translate}}</th>
            <th>{{'CAR.status' | translate}}</th>
            <th>{{'MAP.kontakt' | translate}}</th>
          </tr>
          <tr class="tablerow" >
            <td>{{carToShow.ecv}}</td>
            <td>{{this.routeStatusService.getStatus(carToShow.status)}}</td>
            <td>{{carToShow.phoneNumber}}</td>
          </tr>
          <tr class="tableHeader">
            <th>{{'DISPATCHER.name' | translate}}</th>
            <th>{{'DISPATCHER.surname' | translate}}</th>
            <th>{{'DISPATCHER.phoneNumber' | translate}}</th>
          </tr>
          <tr *ngIf="getVodic()" class="tablerow" >
            <td>{{getVodic().name}}</td>
            <td>{{getVodic().surname}}</td>
            <td>{{getVodic().phone}}</td>
          </tr>
        </table>

        <h2 *ngIf="routesToShow">{{'TRANSPORT.preprava' | translate}}</h2>
        <h2 *ngIf="!routesToShow && carToShow != undefined && carToShow.itinerar.length > 0">{{'CAR.itinerar' | translate}}</h2>
        <app-drag-and-drop-list class="dragDropList" *ngIf="carToShow || routesToShow" #dragDrop [draggable]="false">

        </app-drag-and-drop-list>


        <h4 *ngIf="carToShow == undefined && routesToShow == undefined">{{'MAP.klikniNaBodNaMape' | translate}}.</h4>
        <h4 *ngIf="carToShow == undefined && routesToShow != undefined">{{'MAP.nepriradenaTrasa' | translate}}</h4>
        <!--        <button class="buttonG" *ngIf="carToShow == undefined && routesToShow != undefined" (click)="openAddDialog(this.routesToShow[0], false, this.routesToShow[0].id)">-->
        <!--          Priradiť autu</button>-->
      </div>


      <div *ngIf="this.offersToShow != null" class="offers">
        <app-posli-ponuku [offerId]="this.offersToShow.id" ></app-posli-ponuku>
        <h3>{{'MAP.celkovaVzdialenost' | translate}}: ~ {{this.distanceOfOffer}} km</h3>

        <h2>{{'MAP.vyberVozidlo' | translate}}</h2>

        <div class="chooseCar">
          <app-choos-car-to-move (carOutput)="choosenCar($event)"></app-choos-car-to-move>
        </div>

        <app-car-iti-detail (uspecnePriradenie)="otvorAuto($event)" (sendCarToPredpokad)="getPredpoklad($event)"></app-car-iti-detail>
      </div>
    </div>
  </div>


</div>



