@import "./src/sccs/shared/mixins";

.chooseCar{
 overflow: auto;
  white-space: nowrap;
  width: 400px;
}

.filter{
  margin-right: 5px;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

.mapComponentWrapper{
  //height: 100%;
  width: 100%;
  //display: grid;
}

.headerName{
  display: flex;
}

.wrapper{
  display: flex;
  height: 100%;
  width: 100%;
  padding: 20px;
  font-family: "Lato", sans-serif;
  font-size: medium;
}


.debnaWrapper{
  display: flex;
  margin: 10px;
}


.debnaSize{
  position: relative;
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 15px;
}
.sizeS{
  margin-left: 38px;
  margin-top: 34px;
  position: absolute;
  //transform: rotate(-29deg);
  //border-bottom: 2px solid red;
  padding: 0 10px;
}

.sizeD{
  margin-left: 5px;
  margin-top: 34px;
  position: absolute;
  //transform: rotate(28deg);
  //border-bottom: 2px solid red;
  padding: 0 10px;
}

.nakaldkaVykladka{
  font-weight: 800;
  padding: {
    top: 2px;
    bottom: 2px;
    left: 5px;
    right: 5px;
  };
  background: rgba(191, 191, 191, 0.7);
  font-size: xx-small;
  border-radius: 4px;
  height: 27px;
}

.sizeV{
  margin-left: 77px;
  margin-top: 5px;
  position: absolute;
  //border-right: 2px solid red;
  padding: 10px 0;
}

.greenLabel{
  padding: 5px 3px;
  background-color: limegreen;
  border-radius: 3px;
  border: none;
}

.yellowLabel{
  padding: 5px 3px;
  background-color: yellow;
  border-radius: 3px;
  border: none;
}

.zadnaStena{
  border: 2px solid red;
}

.tuSaVopcha{
  padding: 5px 3px;
  border: none;
  border-radius: 2px;
  background-color: limegreen;
}


.tuSaVopchaYellow{
  padding: 5px 3px;
  border: none;
  border-radius: 2px;
  background-color: yellow;
}

.bedna{

    width: 75px;
    margin-top: -15px;

}

.oneRoute{
  border: 6px solid gray;
  border-radius: 2px;
  margin: 5px;
}

.imageInRow{
  display: flex;
}
#map{
  //height: 100%;
  width: 70%;
  min-height: 700px;
  border-bottom: 2px solid gray;
  box-shadow: 5px 5px 5px grey;
}
.info{
  @include table();
  //height: auto;
  width: max-content;
  overflow: initial;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  flex-grow: 2;
}

.dragDropList{
  margin: 10px;
}

.detailMargin{
  margin: 5px;
}

.detailBut{
  @include smallButton(gray);
  margin-bottom: 7px;
}


.car{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.route{
  display: flex;
  border: 2px solid gray;
  border-radius: 2px;
  margin: 5px;

}

.infoHeader{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between ;
}

.closeInfo{
  color: white;
  background: red;
  border-radius: 3px;
  padding: {
    top: 2px;
    bottom: 2px;
    left: 8px;
    right: 8px;
  }
  border: none;
  margin-left: 5px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tableHeader{
  font-weight: 400;
}

.tablerow{
  font-weight: 600;
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

//@media
//only screen and (max-width: 800px),
//(min-device-width: 800px) and (max-device-width: 1024px)  {
//
//  /* Force table to not be like tables anymore */
//  table, thead, tbody, th, td, tr {
//    display: block;
//  }
//
//  /* Hide table headers (but not display: none;, for accessibility) */
//  thead tr {
//    position: absolute;
//    top: -9999px;
//    left: -9999px;
//  }
//
//  tr { border: 1px solid #ccc; }
//
//  td {
//    /* Behave  like a "row" */
//    border: none;
//    border-bottom: 1px solid white;
//    position: relative;
//    padding-left: 50%;
//  }}

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

.buttonG {
  background-color: gray;
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.2s;
}



.buttonG:hover{
  background-color: #4CAF50;
}

@media (max-width: 1200px) {
  .wrapper{
    flex-direction: column;
  }
  #map{
    width: 100%;
    height: 600px;
  }
  .info{
    margin: 0;
    width: 100%;
  }
}

.offers{
  width: 100%;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

