<div class="filter">
  <app-filter (offersToMap)="this.offersUpdate($event)" (owhichToShow)="offersShow($event)"></app-filter>
</div>


<div class="wrapper">
  <div id="map"></div>
  <div class="info">
    <div class="infoHeader">
      <h1>Info</h1>
      <button (click)="closeInfo()" class="closeInfo">x</button>
    </div>

      <div *ngIf="this.offersToShow != null" class="car">
<!--        <h2>Vozidlo</h2>-->
        <table id="t01">
          <tr>
            <th width="120px">Poznávacia značka:<h4 *ngIf="carToShow != undefined">{{carToShow.ecv}}</h4></th>
            <th width="120px">Stav:<h4 *ngIf="carToShow != undefined">{{this.routeStatusService.getStatus(carToShow.status)}}</h4></th>
            <th>Kontakt:<h5 *ngIf="carToShow != undefined">{{carToShow.phoneNumber}}</h5></th>
          </tr>
        </table>
        <h4 *ngIf="carToShow == undefined && routesToShow == undefined">Kliknite na vozidlo, trasu, alebo bod na mape pre viac informácií.</h4>
        <h4 *ngIf="carToShow == undefined && routesToShow != undefined">Nepriradená trasa</h4>
        <button class="buttonG" *ngIf="carToShow == undefined && routesToShow != undefined" (click)="openAddDialog(this.routesToShow[0], false, this.routesToShow[0].id)">
          Priradiť autu</button>
      </div>

      <div *ngIf="this.offersToShow == null" class="routes">
        <div class="route" *ngFor="let route of routesToShow">
          <table id="t01">
<!--            <h3 *ngIf="route.estimatedTimeArrival != undefined">ETA:  {{this.estimatedTimeToLocal(route.estimatedTimeArrival)}}</h3>-->
              <tr>
              <th><h2> Ciele: </h2><h4 *ngFor="let town of route.nameOfTowns; index as i">{{town}}<br>
            <span>Stav: {{this.routeStatusService.getStatus(route.status[i])}}</span><br>
              <span *ngIf="this.route.estimatedTimeArrival != undefined">ETA: {{this.estimatedTimeToLocal(this.route.estimatedTimeArrival[i])}}</span></h4></th>
            </tr>
          </table>
        </div>
      </div>

    <div *ngIf="this.offersToShow != null" class="offers">
      <h3>Ponuka</h3>
      <h3>Celková vzialenosť: ~ {{this.distanceOfOffer}} km</h3>
      <div class="routeWrapper" *ngFor="let route of offersToShow">
              <ol>
                <li class="debnaWrapper" *ngFor="let town of route.nameOfTowns; index as i">{{town}}
                  <div class="debnaSize">
                    <div class="sizeD">{{route.detailArray[i].sizeD}} 2</div>
                    <div class="sizeV">{{route.detailArray[i].sizeV}} 2</div>
                    <div class="sizeS">{{route.detailArray[i].sizeS}}1</div>
                  <img class="bedna" src="./assets/logo/cube.png">

<!--                  <section class="sizeOfDebna">-->
<!--&lt;!&ndash;                    <div class="sizeD">{{route.detailArray[i].sizeD}} 2 t</div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="sizeV">{{route.detailArray[i].sizeV}} 2 t</div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="sizeS">{{route.detailArray[i].sizeS}}1 t</div>&ndash;&gt;-->

<!--                  </section>-->
                    </div>
                  <span>Váha: {{this.vypocitajVahuPreMesto(route.detailArray[i])}}</span>
<!--                    <div class="vahaB">{{route.detailArray[i].weight}}t</div>-->


                </li>
              </ol>

        <p>Vaša ponuka:</p>
        <label>Pridať ponuku</label>
        <input type="number">
        <button>Pridat ponuku</button>
        <div class="toRouteWrappers">
          <div  *ngFor="let preprava of route.zelenePrepravy; index as i" class="oneRoute">
            <div *ngFor="let myTown of preprava.nameOfTowns; index as iMesto">
              <h3 class="tuSaVopcha" *ngIf="countIndexisOfferAndRoute(preprava, this.offersToShow[0], iMesto ); else elseBlock">{{myTown}}</h3>
              <ng-template #elseBlock>{{myTown}}</ng-template>
            </div>
          </div>

          <div  *ngFor="let preprava of route.zltePrepravy; index as i" class="oneRoute">
            <div *ngFor="let myTown of preprava.nameOfTowns; index as iMesto">
              <h3 class="tuSaVopchaYellow" *ngIf="countIndexisOfferAndRoute(preprava, this.offersToShow[0], iMesto ); else elseBlock">{{myTown}}</h3>
              <ng-template #elseBlock>{{myTown}}</ng-template>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

