<div class="filter">
  <app-filter (offersToMap)="this.offersUpdate($event)" (owhichToShow)="offersShow($event)"></app-filter>
</div>


<div class="wrapper">
  <div id="map"></div>
  <div class="info">
    <div class="infoHeader">
      <h1>Info</h1>
      <button (click)="closeInfo()" class="closeInfo">x</button>
    </div>

      <div *ngIf="this.offersToShow != null" class="car">
<!--        <h2>Vozidlo</h2>-->
        <table id="t01">
          <tr>
            <th width="120px">Poznávacia značka:<h4 *ngIf="carToShow != undefined">{{carToShow.ecv}}</h4></th>
            <th width="120px">Stav:<h4 *ngIf="carToShow != undefined">{{this.routeStatusService.getStatus(carToShow.status)}}</h4></th>
            <th>Kontakt:<h5 *ngIf="carToShow != undefined">{{carToShow.phoneNumber}}</h5></th>
          </tr>
        </table>
        <h4 *ngIf="carToShow == undefined && routesToShow == undefined">Kliknite na vozidlo, trasu, alebo bod na mape pre viac informácií.</h4>
        <h4 *ngIf="carToShow == undefined && routesToShow != undefined">Nepriradená trasa</h4>
        <button class="buttonG" *ngIf="carToShow == undefined && routesToShow != undefined" (click)="openAddDialog(this.routesToShow[0], false, this.routesToShow[0].id)">
          Priradiť autu</button>
      </div>

      <div *ngIf="this.offersToShow == null" class="routes">
        <div class="route" *ngFor="let route of routesToShow">
          <table id="t01">
<!--            <h3 *ngIf="route.estimatedTimeArrival != undefined">ETA:  {{this.estimatedTimeToLocal(route.estimatedTimeArrival)}}</h3>-->
              <tr>
              <th><h2> Ciele: </h2><h4 *ngFor="let town of route.nameOfTowns; index as i">{{town}}<br>
            <span>Stav: {{this.routeStatusService.getStatus(route.status[i])}}</span><br>
              <span *ngIf="this.route.estimatedTimeArrival != undefined">ETA: {{this.estimatedTimeToLocal(this.route.estimatedTimeArrival[i])}}</span></h4></th>
            </tr>
          </table>
        </div>
      </div>

    <div *ngIf="this.offersToShow != null" class="offers">
      <h3>Ponuka</h3>
      <h3>Celková vzialenosť: ~ {{this.distanceOfOffer}} km</h3>

      <div class="routeWrapper" *ngFor="let route of offersToShow">
              <ol>
                <li class="debnaWrapper" *ngFor="let town of route.nameOfTowns; index as i">{{town}}
                  <span *ngIf="route.type[i] == 'nakladka'" matTooltip="Nakládka" class="nakaldkaVykladka">N</span>
                  <span *ngIf="route.type[i] == 'vykladka'" matTooltip="Vykládka" class="nakaldkaVykladka">V</span>
                  <app-detail-img class="imageInRow" [detailArray]="route.detailArray[i]"></app-detail-img>
<!--                  <div class="debnaSize" *ngFor="let debna of route.detailArray[i].sizeD; index as debnaIndex">-->
<!--                    <div class="sizeD">{{route.detailArray[i].sizeD[debnaIndex]}}</div>-->
<!--                    <div class="sizeV">{{route.detailArray[i].sizeV[debnaIndex]}}</div>-->
<!--                    <div class="sizeS">{{route.detailArray[i].sizeS[debnaIndex]}}</div>-->
<!--                    <img class="bedna" src="./assets/logo/cube.png">-->
<!--                  </div>-->
                  <span *ngIf="route.type[i] == 'nakladka'">+{{this.vypocitajVahuPreMesto(route.detailArray[i])}}t</span>
                  <span *ngIf="route.type[i] == 'vykladka'">-{{this.vypocitajVahuPreMesto(route.detailArray[i])}}t</span>
                </li>
              </ol>


        <button (click)="routeDetail(route)" routerLink="/view/offerDetail">Prejdi na ponuku</button>

        <div *ngIf="this.offersToShow[0].zeleneAuta.length > 0 || this.offersToShow[0].zlteAuta.length > 0" class="freeCars">
          <h1>Vhodné volne vozidlá</h1>
          <div class="oneCar" *ngFor="let auto of this.offersToShow[0].zeleneAuta">
            <span class="greenLabel">{{auto.ecv}}</span>
          </div>

          <div class="oneCar" *ngFor="let auto of this.offersToShow[0].zlteAuta">
            <span class="yellowLabel">{{auto.ecv}}</span>
          </div>
        </div>

        <div class="toRouteWrappers">
          <h1 *ngIf="route.zelenePrepravy.length > 0">Vhodné prepravy</h1>

          <div  *ngFor="let preprava of route.zelenePrepravy; index as i" class="oneRoute">
            <div *ngFor="let myTown of preprava.nameOfTowns; index as iMesto">
              <h3 class="tuSaVopcha" *ngIf="preprava.vopchaSa.poleMiestKdeSaVopcha.includes(iMesto); else elseBlock">{{myTown}}</h3>
              <ng-template #elseBlock>{{myTown}}</ng-template>
            </div>
          </div>
          <h1 *ngIf="route.zltePrepravy.length > 0">Povolene prekrocenie</h1>
          <div  *ngFor="let preprava of route.zltePrepravy; index as i" class="oneRoute">
            <div *ngFor="let myTown of preprava.nameOfTowns; index as iMesto">
              <h3 class="tuSaVopchaYellow" *ngIf="preprava.vopchaSa.poleMiestKdeSaVopcha.find(i) else elseBlock">{{myTown}}</h3>
              <ng-template #elseBlock>{{myTown}}</ng-template>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

